<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
            :model="ruleInfoBFormQuery"
            label-position="right"
            label-width="120px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row collapseBtn>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="规则编号">
                  <el-input
                    v-model="ruleInfoBFormQuery.ruleNo"
                    placeholder="请输入规则编号"
                    maxlength="40"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="所属模型">
                  <el-input
                    v-model="ruleInfoBFormQuery.ruleGrpNo"
                    placeholder="请输入所属模型"
                    maxlength="40"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="表用户">
                  <el-input
                    v-model="ruleInfoBFormQuery.tabUser"
                    placeholder="请输入表用户"
                    maxlength="100"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="表名">
                  <el-input
                    v-model="ruleInfoBFormQuery.tabName"
                    placeholder="请输入表名"
                    maxlength="40"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="表注释">
                  <el-input
                    v-model="ruleInfoBFormQuery.tabAtn"
                    placeholder="请输入表注释"
                    maxlength="100"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="规则类型">
                  <el-input
                    v-model="ruleInfoBFormQuery.ruleType"
                    placeholder="请输入规则类型"
                    maxlength="2"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="规则注释">
                  <el-input
                    v-model="ruleInfoBFormQuery.ruleNote"
                    placeholder="请输入规则注释"
                    maxlength="100"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="规则描述">
                  <el-input
                    v-model="ruleInfoBFormQuery.ruleDec"
                    placeholder="请输入规则描述"
                    maxlength="65535"
                    :disabled="ruleInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <el-form-item style="float: right">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryRuleInfoB">查询</el-button>
              </el-form-item>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button size="medium" type="success" @click="showAddDialog">增加</el-button>
          </template>

          <ncp-table
            :columnDefs="ruleInfoBTabColDefs"
            :data="ruleInfoBList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryRuleInfoB"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>

    <el-dialog
      title="规则表  "
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
      class="hsa-dialog"
    >
      <el-form
        :model="ruleInfoBFormEdit"
        label-position="right"
        label-width="120px"
        size="medium"
        :rules="ruleInfoBEditFormRules"
        ref="ruleInfoBEditForm"
        @submit.native.prevent
      >
        <hsa-row>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="规则编号" prop="ruleNo">
              <el-input
                v-model="ruleInfoBFormEdit.ruleNo"
                placeholder="请输入规则编号"
                maxlength="40"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="所属模型" prop="ruleGrpNo">
              <el-select
                v-model="ruleInfoBFormEdit.ruleGrpNo"
                placeholder="请输入所属模型"
                maxlength="40"
                :disabled="ruleInfoBFormEditDisabled"
                style="width:100%"
              >
                <el-option
                  v-for="item in rules"
                  :key="item.ruleGrpNo"
                  :label="item.grpName"
                  :value="item.ruleGrpNo"
                >
                  <span style="float: left">{{ item.ruleGrpNo }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">
                    {{
                    item.grpName
                    }}
                  </span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="表用户" prop="tabUser">
              <el-input
                v-model="ruleInfoBFormEdit.tabUser"
                placeholder="请输入表用户"
                maxlength="100"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="表名" prop="tabName">
              <el-select
                v-model="ruleInfoBFormEdit.tabName"
                filterable
                remote
                placeholder="请输入表名"
                :remote-method="tableNamesRemote"
                :loading="tabsLoading"
                @change="tableNameChange"
                @focus="tableNamesRemote"
                style="width:100%"
              >
                <el-option
                  v-for="item in tabsList"
                  :key="item.tableName"
                  :label="item.tableName"
                  :value="item.tableName"
                >
                  <span style="float: left">{{ item.tableName }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.comments }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="表注释" prop="tabAtn">
              <el-input
                v-model="ruleInfoBFormEdit.tabAtn"
                placeholder="请输入表注释"
                maxlength="100"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item prop="chkSqlCond">
              <span slot="label">
                <span class="span-box">
                  <span>校验条件</span>
                  <el-tooltip effect="dark" content="校验条件为查询sql中from后面的内容" placement="top">
                    <i class="el-icon-question" style="color:#F56C6C"></i>
                  </el-tooltip>
                </span>
              </span>

              <el-input
                v-model="ruleInfoBFormEdit.chkSqlCond"
                placeholder="请输入校验条件"
                maxlength="65535"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="规则类型" prop="ruleType">
              <el-input
                v-model="ruleInfoBFormEdit.ruleType"
                placeholder="请输入规则类型"
                maxlength="2"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>

          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="备注" prop="dscr">
              <el-input
                v-model="ruleInfoBFormEdit.dscr"
                placeholder="请输入备注"
                maxlength="65535"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="规则注释" prop="ruleNote">
              <el-input
                v-model="ruleInfoBFormEdit.ruleNote"
                placeholder="请输入规则注释"
                maxlength="100"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="规则描述" prop="ruleDec">
              <el-input
                v-model="ruleInfoBFormEdit.ruleDec"
                placeholder="请输入规则描述"
                maxlength="65535"
                :disabled="ruleInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="ruleInfoBEditCancel" size="medium">取 消</el-button>
        <el-button
          @click="testConnect"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >测 试</el-button>
        <el-button
          type="primary"
          @click="ruleInfoBEditConfirm"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >保 存</el-button>
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './rule-info-b-mngr.service'
import RuleInfoBClass from '@/modules/datacheck/ruleinfomanage/class/rule-info-b-mngr.class'
import RuleInfoBQueryClass from '@/modules/datacheck/ruleinfomanage/class/rule-info-b-mngr-query.class'
export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    this.getRules();
    this.queryRuleInfoB();

  },
  computed: {},
  methods: {
    clear () {
      this.ruleInfoBFormQuery = new RuleInfoBQueryClass()
      this.ruleInfoBFormEdit = new RuleInfoBClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.tabsList = []
      this.ruleInfoBList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.ruleInfoBFormDisabled = false
      this.ruleInfoBFormEditDisabled = false
    },
    async getRules () {
      try {
        const reflItemsResult = await Service.resources.getRules()
        if (reflItemsResult.length == '0') {
          this.rules = []
        } else {
          this.rules = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取模型异常！' + errStr)
      }
    },
    tableNameChange (code) {
      var tabsLists = this.tabsList;
      for (var item in tabsLists) {
        if (code === tabsLists[item].tableName) {
          this.ruleInfoBFormEdit.tabAtn = tabsLists[item].comments;
          break;
        }
      }
    },
    //表名模糊查询
    tableNamesRemote (tableName) {

      this.tabsLoading = true;
      var ruleInfoB = new RuleInfoBClass();
      ruleInfoB.ruleGrpNo = this.ruleInfoBFormEdit.ruleGrpNo;

      setTimeout(() => {
        debugger
        if (tableName.type == "focus") {
          if (Object.keys(this.tabsList.length).length === 0) {
            ruleInfoB.tabName = this.ruleInfoBFormEdit.tabName;
            this.tableNamesRemoteAsync(ruleInfoB);
          }
        } else {
          ruleInfoB.tabName = tableName
          this.tableNamesRemoteAsync(ruleInfoB);
        }

      }, 500);
    },
    async tableNamesRemoteAsync (ruleInfoBFormEdit) {
      try {
        const reflTabResult = await Service.resources.getTablesByTabName(ruleInfoBFormEdit);

        if (reflTabResult.length == '0') {
          this.tabsList = []
        } else {
          this.tabsList = reflTabResult.result;
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询表信息异常！" + errStr)
      } finally {
        this.tabsLoading = false;
      }
    },
    testConnect () {
      this.$refs.ruleInfoBEditForm.validate((valid) => {
        if (valid) {
          this.testConnectStatus();

        } else {
          return false;
        }
      });
    },
    async testConnectStatus () {
      this.dialogLoading = true
      this.buttonLoading = true
      try {
        await Service.resources.testConnect(this.ruleInfoBFormEdit);
        this.$message.info("规则正常！")
      } catch (err) {
        this.$message.error('规则错误或者数据库异常！')
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    // 异步调用，一律采用 async/await 语法
    async queryRuleInfoB () {
      this.ruleInfoBFormQuery.ruleNo = 'TEST0001'
      try {
        this.tableLoading = true;
        const ruleInfoBResult = await Service.resources.getByPage(this.ruleInfoBFormQuery, this.paginationConfig)
        if (ruleInfoBResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.ruleInfoBList = []
        } else {
          this.ruleInfoBList = ruleInfoBResult.result
          this.paginationConfig.pageNumber = ruleInfoBResult.pageNumber
          this.paginationConfig.pageSize = ruleInfoBResult.pageSize
          this.paginationConfig.total = ruleInfoBResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async addRuleInfoB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.ruleInfoBFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryRuleInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateRuleInfoB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.ruleInfoBFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryRuleInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async deleteRuleInfoB (id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryRuleInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    resetRuleInfoBEditForm () {
      this.$refs.ruleInfoBEditForm.resetFields();
    },
    ruleInfoBEditCancel () {
      this.resetRuleInfoBEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.ruleInfoBFormEdit = new RuleInfoBClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showEditDialog (row) {
      this.ruleInfoBFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.ruleInfoBEditForm.clearValidate()
      })
    },
    ruleInfoBEditConfirm () {
      this.$refs.ruleInfoBEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateRuleInfoB();
          } else {
            this.addRuleInfoB();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteRuleInfoB(row.ruleNo)
      })
    }
  },
  data () {
    const ruleInfoBColDefs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '规则编号', prop: 'ruleNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '所属模型', prop: 'ruleGrpNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '表用户', prop: 'tabUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '表名', prop: 'tabName', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '表注释', prop: 'tabAtn', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '校验条件', prop: 'chkSqlCond', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '规则类型', prop: 'ruleType', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '审核标志', prop: 'chkFlag', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '唯一记录号', prop: 'rid', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '备注', prop: 'dscr', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '规则注释', prop: 'ruleNote', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '规则描述', prop: 'ruleDec', width: '120px' },
      {        label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) }],
        width: '150px', fixed: 'right'
      }
    ]
    const ruleInfoBRules = {
      ruleNo: [{ required: true, message: '请填写规则编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      ruleGrpNo: [{ required: true, message: '请填写所属模型', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      tabName: [{ required: true, message: '请填写表名', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      tabAtn: [{ required: true, message: '请填写表注释', trigger: 'blur' },
      { max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
      ],
      chkSqlCond: [{ required: true, message: '请填写校验条件', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
      chkFlag: [{ required: true, message: '请填写审核标志', trigger: 'blur' },
      { max: 2, message: '长度不能超过 2 个字符', trigger: 'blur' }
      ],
      crteTime: [{ required: true, type: 'date', message: '请选择创建时间', trigger: 'change' }],
      modiTime: [{ required: true, type: 'date', message: '请选择修改时间', trigger: 'change' }],
      crteUser: [{ required: true, message: '请填写创建用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      modiUser: [{ required: true, message: '请填写修改用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      rid: [{ required: true, message: '请填写唯一记录号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      dscr: [{ required: false, message: '请填写备注', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
      ruleNote: [{ required: false, message: '请填写规则注释', trigger: 'blur' },
      { max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
      ],
      ruleDec: [{ required: false, message: '请填写规则描述', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      ruleInfoBTabColDefs: ruleInfoBColDefs,
      ruleInfoBList: [],
      tabsList: [],
      tableLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      editDialogVisible: false,
      ruleInfoBFormDisabled: false,
      ruleInfoBFormEditDisabled: false,
      ruleInfoBFormQuery: new RuleInfoBQueryClass(),
      ruleInfoBFormEdit: new RuleInfoBClass(),
      ruleInfoBEditFormRules: ruleInfoBRules
    }
  },
}
</script>

<style lang="scss" scoped>
</style>