<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
            :model="ruleGroupBFormQuery"
            label-position="right"
            label-width="120px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row collapseBtn>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="项目编号">
                  <el-input
                    v-model="ruleGroupBFormQuery.itemCode"
                    placeholder="请输入项目编号"
                    maxlength="40"
                    :disabled="ruleGroupBFormDisabled"
                    style="width:100%"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="数据源编号">
                  <el-input
                    v-model="ruleGroupBFormQuery.dsNo"
                    placeholder="请输入数据源编号"
                    maxlength="40"
                    :disabled="ruleGroupBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="模型编号">
                  <el-input
                    v-model="ruleGroupBFormQuery.ruleGrpNo"
                    placeholder="请输入模型编号"
                    maxlength="40"
                    :disabled="ruleGroupBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="模型名称">
                  <el-input
                    v-model="ruleGroupBFormQuery.grpName"
                    placeholder="请输入模型名称"
                    maxlength="100"
                    :disabled="ruleGroupBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <el-form-item style="float: right">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryRuleGroupB">查询</el-button>
              </el-form-item>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button size="medium" type="success" @click="showAddDialog">增加</el-button>
          </template>

          <ncp-table
            :columnDefs="ruleGroupBTabColDefs"
            :data="ruleGroupBList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryRuleGroupB"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>

    <el-dialog
      title="模型  "
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
      class="hsa-dialog"
    >
      <el-form
        :model="ruleGroupBFormEdit"
        label-position="right"
        label-width="120px"
        size="medium"
        :rules="ruleGroupBEditFormRules"
        ref="ruleGroupBEditForm"
        @submit.native.prevent
      >
        <hsa-row>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="项目编号" prop="itemCode">
              <el-select
                v-model="ruleGroupBFormEdit.itemCode"
                placeholder="请输入项目编号"
                maxlength="40"
                :disabled="ruleGroupBFormEditDisabled"
                style="width:100%"
              >
                <el-option
                  v-for="item in items"
                  :key="item.itemcode"
                  :label="item.itemname"
                  :value="item.itemcode"
                >
                  <span style="float: left">{{ item.itemcode }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">
                    {{
                    item.itemname
                    }}
                  </span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="数据源编号" prop="dsNo">
              <el-select
                v-model="ruleGroupBFormEdit.dsNo"
                placeholder="请输入数据源编号"
                maxlength="40"
                :disabled="ruleGroupBFormEditDisabled"
                style="width:100%"
              >
                <el-option
                  v-for="item in databases"
                  :key="item.dsNo"
                  :label="item.dsName"
                  :value="item.dsNo"
                >
                  <span style="float: left">{{ item.dsNo }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">
                    {{
                    item.dsName
                    }}
                  </span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="模型编号" prop="ruleGrpNo">
              <el-input
                v-model="ruleGroupBFormEdit.ruleGrpNo"
                placeholder="请输入模型编号"
                maxlength="40"
                :disabled="ruleGroupBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="模型名称" prop="grpName">
              <el-input
                v-model="ruleGroupBFormEdit.grpName"
                placeholder="请输入模型名称"
                maxlength="100"
                :disabled="ruleGroupBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>

          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="描述" prop="dscr">
              <el-input
                v-model="ruleGroupBFormEdit.dscr"
                placeholder="请输入描述"
                maxlength="65535"
                :disabled="ruleGroupBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="ruleGroupBEditCancel" size="medium">取 消</el-button>
        <el-button
          type="primary"
          @click="ruleGroupBEditConfirm"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >保 存</el-button>
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './rule-group-b-mngr.service'
import RuleGroupBClass from '@/modules/datacheck/rulegroupmanage/class/rule-group-b-mngr.class'
import RuleGroupBQueryClass from '@/modules/datacheck/rulegroupmanage/class/rule-group-b-mngr-query.class'
export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    this.getItems();
    this.getDataBases();
    this.queryRuleGroupB();
  },
  computed: {},
  methods: {
    clear () {
      this.ruleGroupBFormQuery = new RuleGroupBQueryClass()
      this.ruleGroupBFormEdit = new RuleGroupBClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.ruleGroupBList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.ruleGroupBFormDisabled = false
      this.ruleGroupBFormEditDisabled = false
    },
    // 异步调用，一律采用 async/await 语法
    async queryRuleGroupB () {
      try {
        this.tableLoading = true;
        const ruleGroupBResult = await Service.resources.getByPage(this.ruleGroupBFormQuery, this.paginationConfig)
        if (ruleGroupBResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.ruleGroupBList = []
        } else {
          this.ruleGroupBList = ruleGroupBResult.result
          this.paginationConfig.pageNumber = ruleGroupBResult.pageNumber
          this.paginationConfig.pageSize = ruleGroupBResult.pageSize
          this.paginationConfig.total = ruleGroupBResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async addRuleGroupB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.ruleGroupBFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryRuleGroupB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateRuleGroupB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.ruleGroupBFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryRuleGroupB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async getItems () {
      try {
        const reflItemsResult = await Service.resources.getItems()
        if (reflItemsResult.length == '0') {
          this.items = []
        } else {
          this.items = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取项目异常！' + errStr)
      }
    },
    async getDataBases () {
      try {
        const reflItemsResult = await Service.resources.getDataBases()
        if (reflItemsResult.length == '0') {
          this.databases = []
        } else {
          this.databases = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取规则组异常！' + errStr)
      }
    },
    async deleteRuleGroupB (row) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(row)
        this.$message.info("删除成功！")
        this.queryRuleGroupB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    resetRuleGroupBEditForm () {
      this.$refs.ruleGroupBEditForm.resetFields();
    },
    ruleGroupBEditCancel () {
      this.resetRuleGroupBEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.ruleGroupBFormEdit = new RuleGroupBClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showEditDialog (row) {
      this.ruleGroupBFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.ruleGroupBEditForm.clearValidate()
      })
    },
    ruleGroupBEditConfirm () {
      this.$refs.ruleGroupBEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateRuleGroupB();
          } else {
            this.addRuleGroupB();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteRuleGroupB(row)
      })
    }
  },
  data () {
    const ruleGroupBColDefs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '项目编号', prop: 'itemCode', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '数据源编号', prop: 'dsNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '模型编号', prop: 'ruleGrpNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '模型名称', prop: 'grpName', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '唯一记录号', prop: 'rid', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '描述', prop: 'dscr', width: '120px' },
      {        label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) }],
        width: '150px', fixed: 'right'
      }
    ]
    const ruleGroupBRules = {
      itemCode: [{ required: true, message: '请填写项目编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      dsNo: [{ required: true, message: '请填写数据源编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      ruleGrpNo: [{ required: true, message: '请填写模型编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      grpName: [{ required: true, message: '请填写模型名称', trigger: 'blur' },
      { max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
      ],
      crteTime: [{ required: false, type: 'date', message: '请选择创建时间', trigger: 'change' }],
      modiTime: [{ required: false, type: 'date', message: '请选择修改时间', trigger: 'change' }],
      crteUser: [{ required: false, message: '请填写创建用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      modiUser: [{ required: false, message: '请填写修改用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      dscr: [{ required: false, message: '请填写描述', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      ruleGroupBTabColDefs: ruleGroupBColDefs,
      ruleGroupBList: [],
      tableLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      editDialogVisible: false,
      ruleGroupBFormDisabled: false,
      ruleGroupBFormEditDisabled: false,
      ruleGroupBFormQuery: new RuleGroupBQueryClass(),
      ruleGroupBFormEdit: new RuleGroupBClass(),
      ruleGroupBEditFormRules: ruleGroupBRules
    }
  },
}
</script>

<style lang="scss" scoped></style>