<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
            :model="projectRuleFormQuery"
            label-position="right"
            label-width="120px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row collapseBtn>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="规则编号">
                  <el-input
                    v-model="projectRuleFormQuery.ruleGrpNo"
                    placeholder="请输入规则编号"
                    maxlength="40"
                    :disabled="projectRuleFormDisabled"
                    style="width:100%"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="项目编号">
                  <el-input
                    v-model="projectRuleFormQuery.itemcode"
                    placeholder="请输入项目编号"
                    maxlength="40"
                    :disabled="projectRuleFormDisabled"
                    style="width:100%"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="数据源编号">
                  <el-input
                    v-model="projectRuleFormQuery.dsNo"
                    placeholder="请输入数据源编号"
                    maxlength="40"
                    :disabled="projectRuleFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <el-form-item style="float: right">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryProjectRule">查询</el-button>
              </el-form-item>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button size="medium" type="success" @click="showAddDialog">增加</el-button>
          </template>

          <ncp-table
            :columnDefs="projectRuleTabColDefs"
            :data="projectRuleList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryProjectRule"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>

    <el-dialog
      title="项目规则表"
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
      class="hsa-dialog"
    >
      <el-form
        :model="projectRuleFormEdit"
        label-position="right"
        label-width="120px"
        size="medium"
        :rules="projectRuleEditFormRules"
        ref="projectRuleEditForm"
        @submit.native.prevent
      >
        <hsa-row>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="规则编号" prop="ruleGrpNo">
              <el-select
                v-model="projectRuleFormEdit.ruleGrpNo"
                placeholder="请输入规则编号"
                maxlength="40"
                :disabled="projectRuleFormEditDisabled"
                style="width:100%"
              >
                <el-option
                  v-for="item in rules"
                  :key="item.ruleGrpNo"
                  :label="item.grpName"
                  :value="item.ruleGrpNo"
                >
                  <span style="float: left">{{ item.ruleGrpNo }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">
                    {{
                    item.grpName
                    }}
                  </span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="项目编号" prop="itemcode">
              <el-select
                v-model="projectRuleFormEdit.itemcode"
                placeholder="请输入项目编号"
                maxlength="40"
                :disabled="projectRuleFormEditDisabled"
                style="width:100%"
              >
                <el-option
                  v-for="item in items"
                  :key="item.itemcode"
                  :label="item.itemname"
                  :value="item.itemcode"
                >
                  <span style="float: left">{{ item.itemcode }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">
                    {{
                    item.itemname
                    }}
                  </span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="数据源编号" prop="dsNo">
              <el-select
                v-model="projectRuleFormEdit.dsNo"
                placeholder="请输入数据源编号"
                maxlength="40"
                :disabled="projectRuleFormEditDisabled"
                style="width:100%"
              >
                <el-option
                  v-for="item in databases"
                  :key="item.dsNo"
                  :label="item.dsName"
                  :value="item.dsNo"
                >
                  <span style="float: left">{{ item.dsNo }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">
                    {{
                    item.dsName
                    }}
                  </span>
                </el-option>
              </el-select>
            </el-form-item>
          </hsa-col>

          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="备注" prop="dscr">
              <el-input
                v-model="projectRuleFormEdit.dscr"
                placeholder="请输入备注"
                maxlength="65535"
                :disabled="projectRuleFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="projectRuleEditCancel" size="medium">取 消</el-button>
        <el-button
          type="primary"
          @click="projectRuleEditConfirm"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >保 存</el-button>
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './project-rule-mngr.service'
import ProjectRuleClass from '@/modules/datacheck/projectrulemanage/class/project-rule-mngr.class'
import ProjectRuleQueryClass from '@/modules/datacheck/projectrulemanage/class/project-rule-mngr-query.class'
export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    this.getItems();
    this.getRules();
    this.getDataBases();
    this.queryProjectRule();

  },
  computed: {},
  methods: {
    clear () {
      this.projectRuleFormQuery = new ProjectRuleQueryClass()
      this.projectRuleFormEdit = new ProjectRuleClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.projectRuleList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.projectRuleFormDisabled = false
      this.projectRuleFormEditDisabled = false
    },
    // 异步调用，一律采用 async/await 语法
    async queryProjectRule () {
      try {
        this.tableLoading = true;
        const projectRuleResult = await Service.resources.getByPage(this.projectRuleFormQuery, this.paginationConfig)
        if (projectRuleResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.projectRuleList = []
        } else {
          this.projectRuleList = projectRuleResult.result
          this.paginationConfig.pageNumber = projectRuleResult.pageNumber
          this.paginationConfig.pageSize = projectRuleResult.pageSize
          this.paginationConfig.total = projectRuleResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async getItems () {
      try {
        const reflItemsResult = await Service.resources.getItems()
        if (reflItemsResult.length == '0') {
          this.items = []
        } else {
          this.items = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取项目异常！' + errStr)
      }
    },
    async getRules () {
      try {
        const reflItemsResult = await Service.resources.getRules()
        if (reflItemsResult.length == '0') {
          this.rules = []
        } else {
          this.rules = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取规则组异常！' + errStr)
      }
    },
    async getDataBases () {
      try {
        const reflItemsResult = await Service.resources.getDataBases()
        if (reflItemsResult.length == '0') {
          this.databases = []
        } else {
          this.databases = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取规则组异常！' + errStr)
      }
    },
    async addProjectRule () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.projectRuleFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryProjectRule()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateProjectRule () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.projectRuleFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryProjectRule()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async deleteProjectRule (id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryProjectRule()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    resetProjectRuleEditForm () {
      this.$refs.projectRuleEditForm.resetFields();
    },
    projectRuleEditCancel () {
      this.resetProjectRuleEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.projectRuleFormEdit = new ProjectRuleClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showEditDialog (row) {
      this.projectRuleFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.projectRuleEditForm.clearValidate()
      })
    },
    projectRuleEditConfirm () {
      this.$refs.projectRuleEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateProjectRule();
          } else {
            this.addProjectRule();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteProjectRule(row.rid)
      })
    }
  },
  data () {
    const projectRuleColDefs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '规则组编号', prop: 'ruleGrpNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '项目编号', prop: 'itemcode', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '数据源编号', prop: 'dsNo', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '唯一记录号', prop: 'rid', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '备注', prop: 'dscr', width: '120px' },
      {        label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) }],
        width: '150px', fixed: 'right'
      }
    ]
    const projectRuleRules = {
      itemcode: [{ required: true, message: '请填写项目编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      dsNo: [{ required: true, message: '请填写数据源编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      crteTime: [{ required: true, type: 'date', message: '请选择创建时间', trigger: 'change' }],
      modiTime: [{ required: true, type: 'date', message: '请选择修改时间', trigger: 'change' }],
      crteUser: [{ required: true, message: '请填写创建用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      modiUser: [{ required: true, message: '请填写修改用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      rid: [{ required: true, message: '请填写唯一记录号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      dscr: [{ required: false, message: '请填写备注', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      projectRuleTabColDefs: projectRuleColDefs,
      projectRuleList: [],
      tableLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      editDialogVisible: false,
      projectRuleFormDisabled: false,
      projectRuleFormEditDisabled: false,
      projectRuleFormQuery: new ProjectRuleQueryClass(),
      projectRuleFormEdit: new ProjectRuleClass(),
      projectRuleEditFormRules: projectRuleRules
    }
  },
}
</script>

<style lang="scss" scoped></style>