<template>
  <div class="container">这是一个容器</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import '@/modules/demo/css-tutorial/style-file/style-file.scss';
</style>
