.container {
    color: blue;
    height: 200px;
    width: 200px;
    background-color: lightblue;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    line-height: 200px;
}