<template>
  <div>
    {{ user }}
  </div>
</template>

<script>
import { getUserInfo } from '@/common/utils/core/user.js'

export default {
  computed: {
    user() {
      return JSON.stringify(getUserInfo())
    }
  }
}
</script>

<style lang="scss" scoped></style>
