<template>
  <adaptive-container>
    <adaptive-pane>
      <el-collapse :value="['queryForm']">
        <el-collapse-item name="queryForm">
          <template slot="title">
            <span class="collapseTitleSpan">查询条件</span>
          </template>
          <el-form
            :model="bizLogXFormQuery"
            label-position="right"
            label-width="auto"
            @submit.native.prevent
          >
            <el-row>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="业务流水号">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.bizSn"
                    placeholder="请输入业务流水号"
                    maxlength="40"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="当事人">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.ptcp"
                    placeholder="请输入当事人"
                    maxlength="20"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="当事人名称">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.ptcpName"
                    placeholder="请输入当事人名称"
                    maxlength="100"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="当事人所属统筹区">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.ptcpPoolarea"
                    placeholder="请输入当事人所属统筹区"
                    maxlength="6"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="当事人所属机构">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.ptcpOptins"
                    placeholder="请输入当事人所属机构"
                    maxlength="20"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="经办人">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.opter"
                    placeholder="请输入经办人"
                    maxlength="20"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="经办人姓名">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.opterName"
                    placeholder="请输入经办人姓名"
                    maxlength="50"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="经办时间">
                  <el-date-picker
                    size="medium"
                    v-model="bizLogXFormQuery.optTime"
                    placeholder="请输入经办时间"
                    :disabled="bizLogXFormDisabled"
                    style="width: 100%;"
                    type="date"
                    format="yyyy 年 MM 月 dd 日"
                    value-format="timestamp"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="经办机构">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.optins"
                    placeholder="请输入经办机构"
                    maxlength="20"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="统筹区">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.poolarea"
                    placeholder="请输入统筹区"
                    maxlength="6"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="服务事项环节编号">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.servItemNodeNo"
                    placeholder="请输入服务事项环节编号"
                    maxlength="40"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="请求编号">
                  <el-input
                    size="medium"
                    v-model="bizLogXFormQuery.reqId"
                    placeholder="请输入请求编号"
                    maxlength="500"
                    :disabled="bizLogXFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-collapse-item>
      </el-collapse>
    </adaptive-pane>
    <adaptive-pane :autoHeight="true">
      <el-collapse :value="['result']">
        <el-collapse-item name="result">
          <template slot="title">
            <span class="collapseTitleSpan">业务信息</span>
          </template>
          <ncp-table
            :columnDefs="bizLogXTabColDefs"
            :data="bizLogXList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryBizLogX"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </el-collapse-item>
      </el-collapse>
    </adaptive-pane>
    <adaptive-pane>
      <el-row>
        <el-col :span="24">
          <btn-toolbar>
            <el-button type="primary" icon="el-icon-refresh" @click="clear">
              清屏
            </el-button>
            <el-button
              type="primary"
              icon="el-icon-search"
              @click="queryBizLogX"
            >
              查询
            </el-button>
            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="showAddDialog"
            >
              增加
            </el-button>
          </btn-toolbar>
        </el-col>
      </el-row>
    </adaptive-pane>
    <el-dialog
      title="业务操作日志信息表"
      :visible.sync="editDialogVisible"
      width="80%"
    >
      <el-form
        :model="bizLogXFormEdit"
        label-position="right"
        label-width="auto"
        :rules="bizLogXEditFormRules"
        ref="bizLogXEditForm"
        @submit.native.prevent
      >
        <el-row>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务流水号" prop="bizSn">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.bizSn"
                placeholder="请输入业务流水号"
                maxlength="40"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="当事人" prop="ptcp">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.ptcp"
                placeholder="请输入当事人"
                maxlength="20"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="当事人名称" prop="ptcpName">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.ptcpName"
                placeholder="请输入当事人名称"
                maxlength="100"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="当事人所属统筹区" prop="ptcpPoolarea">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.ptcpPoolarea"
                placeholder="请输入当事人所属统筹区"
                maxlength="6"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="当事人所属机构" prop="ptcpOptins">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.ptcpOptins"
                placeholder="请输入当事人所属机构"
                maxlength="20"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="经办人" prop="opter">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.opter"
                placeholder="请输入经办人"
                maxlength="20"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="经办人姓名" prop="opterName">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.opterName"
                placeholder="请输入经办人姓名"
                maxlength="50"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="经办时间" prop="optTime">
              <el-date-picker
                size="medium"
                v-model="bizLogXFormEdit.optTime"
                placeholder="请输入经办时间"
                :disabled="bizLogXFormEditDisabled"
                style="width: 100%;"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="timestamp"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="经办机构" prop="optins">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.optins"
                placeholder="请输入经办机构"
                maxlength="20"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="统筹区" prop="poolarea">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.poolarea"
                placeholder="请输入统筹区"
                maxlength="6"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="服务事项环节编号" prop="servItemNodeNo">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.servItemNodeNo"
                placeholder="请输入服务事项环节编号"
                maxlength="40"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="请求编号" prop="reqId">
              <el-input
                size="medium"
                v-model="bizLogXFormEdit.reqId"
                placeholder="请输入请求编号"
                maxlength="500"
                :disabled="bizLogXFormEditDisabled"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="bizLogXEditCancel">取 消</el-button>
        <el-button type="primary" @click="bizLogXEditConfirm">保 存</el-button>
      </div>
    </el-dialog>
  </adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import coreMixin from '@/common/mixins/framework/mixins.js'
// import { codeFilter, tableDataFilter } from '@/common/filters/index'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import bizLogXService from './biz-log-x-mngr.service'
import BizLogXClass from '@/modules/demo/biz-log/class/biz-log-x-mngr.class'
import BizLogXQueryClass from '@/modules/demo/biz-log/class/biz-log-x-mngr-query.class'
// 声明 resources 常量
const resources = bizLogXService.resources

export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [coreMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created() {},
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted() {},
  data() {
    const bizLogXColDefs = [
      {
        label: '业务流水号',
        prop: 'bizSn',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '当事人',
        prop: 'ptcp',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '当事人名称',
        prop: 'ptcpName',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '当事人所属统筹区',
        prop: 'ptcpPoolarea',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '当事人所属机构',
        prop: 'ptcpOptins',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '经办人',
        prop: 'opter',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '经办人姓名',
        prop: 'opterName',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '经办时间',
        prop: 'optTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }],
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '经办机构',
        prop: 'optins',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '统筹区',
        prop: 'poolarea',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '服务事项环节编号',
        prop: 'servItemNodeNo',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '请求编号',
        prop: 'reqId',
        // width: '120px',
        fixed: 'left'
      },
      {
        label: '操作',
        type: 'Button',
        buttonGroup: [
          {
            type: 'primary',
            icon: 'el-icon-edit',
            handle: row => this.showEditDialog(row)
          },
          {
            type: 'danger',
            icon: 'el-icon-delete',
            handle: row => this.deleteRow(row)
          }
        ],
        width: '150px',
        // 操作列必需右固定
        fixed: 'right'
      }
    ]
    const bizLogXRules = {
      bizSn: [
        { required: true, message: '请填写业务流水号', trigger: 'blur' },
        { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      ptcp: [
        { required: true, message: '请填写当事人', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      ptcpName: [
        { required: true, message: '请填写当事人名称', trigger: 'blur' },
        { max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
      ],
      ptcpPoolarea: [
        { required: true, message: '请填写当事人所属统筹区', trigger: 'blur' },
        { max: 6, message: '长度不能超过 6 个字符', trigger: 'blur' }
      ],
      ptcpOptins: [
        { required: true, message: '请填写当事人所属机构', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      opter: [
        { required: true, message: '请填写经办人', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      opterName: [
        { required: true, message: '请填写经办人姓名', trigger: 'blur' },
        { max: 50, message: '长度不能超过 50 个字符', trigger: 'blur' }
      ],
      optTime: [
        {
          required: true,
          type: 'date',
          message: '请选择经办时间',
          trigger: 'change'
        }
      ],
      optins: [
        { required: true, message: '请填写经办机构', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      poolarea: [
        { required: true, message: '请填写统筹区', trigger: 'blur' },
        { max: 6, message: '长度不能超过 6 个字符', trigger: 'blur' }
      ],
      servItemNodeNo: [
        { required: true, message: '请填写服务事项环节编号', trigger: 'blur' },
        { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      reqId: [
        { required: true, message: '请填写请求编号', trigger: 'blur' },
        { max: 500, message: '长度不能超过 500 个字符', trigger: 'blur' }
      ]
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      bizLogXTabColDefs: bizLogXColDefs,
      bizLogXList: null,
      tableLoading: false,
      dialogLoading: false,
      editDialogVisible: false,
      bizLogXFormDisabled: false,
      bizLogXFormEditDisabled: false,
      bizLogXFormQuery: new BizLogXQueryClass(),
      bizLogXFormEdit: new BizLogXClass(),
      bizLogXEditFormRules: bizLogXRules
    }
  },
  computed: {
    ptcpTypeList() {
      return this.$ncp.codeHandle.getContentByType('ptcpType')
    }
  },
  methods: {
    clear() {
      this.bizLogXFormQuery = new BizLogXQueryClass()
      this.bizLogXFormEdit = new BizLogXClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.bizLogXList = null
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.bizLogXFormDisabled = false
      this.bizLogXFormEditDisabled = false
    },
    // 异步调用，一律采用 async/await 语法
    async queryBizLogX() {
      try {
        this.tableLoading = true
        const bizLogXResult = await resources.bizLogX.getByPage(
          this.bizLogXFormQuery,
          this.paginationConfig
        )
        if (!bizLogXResult) {
          this.$notify({
            title: '提示',
            message: '没有查询到数据',
            showClose: false
          })
        } else {
          this.bizLogXList = bizLogXResult.result
          this.paginationConfig.pageNumber = bizLogXResult.pageNumber
          this.paginationConfig.pageSize = bizLogXResult.pageSize
          this.paginationConfig.total = bizLogXResult.total
        }
      } catch (err) {
        this.$notify({
          title: '失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      } finally {
        this.tableLoading = false
      }
    },
    async addBizLogX() {
      try {
        this.dialogLoading = true
        // const bizLogXResult = await resources.bizLogX.post(this.bizLogXFormEdit)
        this.$notify({
          title: '成功',
          message: '新增成功',
          type: 'success',
          showClose: false
        })
        this.editDialogVisible = false
        this.queryBizLogX()
      } catch (err) {
        this.$notify({
          title: '新增失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      } finally {
        this.dialogLoading = false
      }
    },
    async updateBizLogX() {
      try {
        this.dialogLoading = true
        await resources.bizLogX.put(this.bizLogXFormEdit)
        // 不需要用户做出判断的，单纯的消息提示，一律使用 element 的 Notification 通知
        this.$notify({
          title: '成功',
          message: '修改成功',
          type: 'success',
          showClose: false
        })
        this.editDialogVisible = false
        this.queryBizLogX()
      } catch (err) {
        this.$notify({
          title: '更新失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      } finally {
        this.dialogLoading = false
      }
    },
    async deleteBizLogX(id) {
      try {
        this.tableLoading = true
        await resources.bizLogX.delete(id)
        this.$notify({
          title: '成功',
          message: '删除成功',
          type: 'success',
          showClose: false
        })
        this.queryBizLogX()
      } catch (err) {
        this.$notify({
          title: '删除失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      } finally {
        this.tableLoading = false
      }
    },
    resetBizLogXEditForm() {
      this.$refs.bizLogXEditForm.resetFields()
    },
    bizLogXEditCancel() {
      this.resetBizLogXEditForm()
      this.editDialogVisible = false
    },
    showAddDialog() {
      this.bizLogXFormEdit = new BizLogXClass()
      this.operateType = 'add'
      this.editDialogVisible = true
    },
    showEditDialog(row) {
      this.bizLogXFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
    },
    bizLogXEditConfirm() {
      this.$refs.bizLogXEditForm.validate(valid => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateBizLogX()
          } else {
            this.addBizLogX()
          }
        } else {
          return false
        }
      })
    },
    deleteRow(row) {
      // this.$confirm('是否刪除?', {
      //   confirmButtonText: '是',
      //   cancelButtonText: '否',
      //   type: 'info'
      // }).then(() => {
      this.deleteBizLogX(row.bizSn)
      // })
    }
  }
}
</script>

<style lang="scss" scoped></style>
