<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <el-row>
        <el-col :sm="12" :md="8" :lg="6"> <el-input></el-input> </el-col>
        <el-col :sm="12" :md="8" :lg="6"> <el-input></el-input> </el-col>
        <el-col :sm="12" :md="8" :lg="6"> <el-input></el-input> </el-col>
        <el-col :sm="12" :md="8" :lg="6"> <el-input></el-input> </el-col>
      </el-row>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane autoHeight>
      <el-collapse :value="['queryForm']">
        <el-collapse-item name="queryForm">
          <ncp-table
            :showIndex="true"
            :columnDefs="columnDefs"
            :data="list"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </el-collapse-item>
      </el-collapse>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane>
      <el-button>测试</el-button>
    </hsa-adaptive-pane>
  </hsa-adaptive-container>
</template>

<script>
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'

export default {
  mixins: [layoutMixin],
  methods: {
    upadateRow() {},
    deleteRow() {}
  },
  data() {
    return {
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 2
      },
      list: [
        {
          number: '1',
          memo: 'haha',
          time: 0,
          fixed: true
        },
        {
          number: '2',
          memo: 'xixi',
          time: 0
        }
      ],
      columnDefs: [
        {
          label: '业务环节编号',
          prop: 'number',
          width: '120px',
          fixed: 'left'
        },
        {
          label: '备注',
          prop: 'memo'
        },
        {
          label: '时间',
          prop: 'time',
          filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }]
        },
        {
          label: '操作',
          type: 'Button',
          buttonGroup: [
            {
              type: 'primary',
              handle: row => this.upadateRow(row),
              icon: 'el-icon-edit',
              size: 'mini'
            },
            {
              type: 'danger',
              handle: row => this.deleteRow(row.bizNodeNo),
              icon: 'el-icon-delete',
              size: 'mini'
            }
          ],
          width: '100px',
          // 操作列必需右固定
          fixed: 'right'
        }
      ]
    }
  }
}
</script>
