<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <el-collapse :value="['queryForm']">
        <el-collapse-item name="queryForm">
          <template slot="title">
            <span class="collapseTitleSpan">查询条件</span>
          </template>
          <el-form
            :model="asetDynaQuryFormQuery"
            label-position="right"
            label-width="auto"
            @submit.native.prevent
          >
            <el-row>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="资产编号">
                  <el-input
                    size="medium"
                    v-model="asetDynaQuryFormQuery.asetNo"
                    placeholder="请输入资产编号"
                    maxlength="40"
                    clearable
                    :disabled="asetDynaQuryFormDisabled"
                  >
                    <el-button
                      slot="append"
                      icon="el-icon-search"
                      @click="queryShowAsetDialog"
                    ></el-button>
                  </el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="资产名称">
                  <el-input
                    size="medium"
                    v-model="asetDynaQuryFormQuery.asetName"
                    placeholder="请输入资产名称"
                    maxlength="20"
                    clearable
                    :disabled="asetDynaQuryFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="用户姓名">
                  <el-input
                    size="medium"
                    v-model="asetDynaQuryFormQuery.userName"
                    placeholder="请输入用户姓名"
                    maxlength="50"
                    clearable
                    :disabled="asetDynaQuryFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="用户所属部门">
                  <el-input
                    size="medium"
                    v-model="asetDynaQuryFormQuery.usedDept"
                    placeholder="请输入用户所属部门"
                    maxlength="50"
                    clearable
                    :disabled="asetDynaQuryFormDisabled"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="使用主体类别">
                  <el-select
                    v-model="asetDynaQuryFormQuery.usedObjType"
                    style="width:100%"
                    size="medium"
                  >
                    <el-option
                      v-for="code in usedObjTypeList"
                      v-bind:key="code.value"
                      :label="code.name"
                      :value="code.value"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="开始时间">
                  <el-date-picker
                    size="medium"
                    v-model="asetDynaQuryFormQuery.begnTime"
                    placeholder="请输入开始时间"
                    :disabled="asetDynaQuryFormDisabled"
                    style="width: 100%;"
                    type="date"
                    format="yyyy 年 MM 月 dd 日"
                    value-format="yyyy/MM/dd HH:mm:ss"
                  ></el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="结束时间">
                  <el-date-picker
                    size="medium"
                    v-model="asetDynaQuryFormQuery.endtime"
                    placeholder="请输入结束时间"
                    :disabled="asetDynaQuryFormDisabled"
                    style="width: 100%;"
                    type="date"
                    format="yyyy 年 MM 月 dd 日"
                    value-format="yyyy/MM/dd HH:mm:ss"
                    clearable
                  ></el-date-picker>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-collapse-item>
      </el-collapse>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <el-collapse :value="['result']">
        <el-collapse-item name="result">
          <template slot="title">
            <span class="collapseTitleSpan">动态查询结果信息</span>
          </template>
          <ncp-table
            :showIndex="true"
            :columnDefs="asetDynaQuryTabColDefs"
            :data="asetDynaQuryList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryasetDynaQury"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </el-collapse-item>
      </el-collapse>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane>
      <el-row>
        <el-col :span="24">
          <hsa-btn-toolbar>
            <el-button
              type="primary"
              icon="el-icon-search"
              size="medium"
              @click="queryasetDynaQury"
              >查询</el-button
            >
            <el-button
              type="primary"
              icon="el-icon-refresh"
              size="medium"
              @click="clear"
              >清屏</el-button
            >
          </hsa-btn-toolbar>
        </el-col>
      </el-row>
    </hsa-adaptive-pane>
    <!-- 资产通用查询弹出框 -->
    <!-- <el-dialog
      title="资产基本信息"
      :visible.sync="asetDialog"
      :before-close="beforeCloseDialog"
      :close-on-click-modal="false"
      width="60%"
      top="5vh"
    >
      <aset-mngr
        ref="asetMngr"
        :content="asetTypeList"
        @asetConfirm="asetConfirm"
      ></aset-mngr>
    </el-dialog> -->
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 layoutMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'

export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin layoutMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created() {},
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted() {},
  data() {
    const asetDynaQuryColDefs = [
      {
        headerAlign: 'center',
        label: '资产编号',
        prop: 'asetNo'
      },
      {
        headerAlign: 'center',
        align: 'left',
        label: '资产名称',
        prop: 'asetName',
        width: '200px'
      },
      {
        headerAlign: 'center',
        label: '用户姓名',
        prop: 'userName'
      },
      {
        headerAlign: 'center',
        label: '用户所属部门',
        prop: 'usedDept',
        width: '200px'
      },
      {
        headerAlign: 'center',
        align: 'right',
        label: '资产数量',
        prop: 'asetCnt'
      },
      {
        headerAlign: 'center',
        label: '资产计量单位',
        prop: 'asetMtrUnt'
      },
      {
        headerAlign: 'center',
        label: '使用主体类别',
        prop: 'usedObjType'
        //   filters: [
        //     {
        //       filter: cellValue => {
        //         return codeFilter(cellValue, 'Obj_Type')
        //       }
        //     }
        //   ]
      },
      {
        headerAlign: 'center',
        label: '开始时间',
        prop: 'begnTime',
        // filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }],
        width: '150px'
      },
      {
        headerAlign: 'center',
        label: '结束时间',
        prop: 'endtime',
        // filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }],
        width: '150px'
      }
    ]

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      asetDialog: false,
      asetDynaQuryTabColDefs: asetDynaQuryColDefs,
      asetDynaQuryList: [],
      tableLoading: false,
      dialogLoading: false,
      editDialogVisible: false,
      asetDynaQuryFormDisabled: false,
      asetDynaQuryFormEditDisabled: false,
      asetDynaQuryFormQuery: {},
      asetDynaQuryFormEdit: {}
    }
  },
  computed: {
    asetTypeList() {
      return this.$ncp.codeHandle.selectCodeType('Aset_Type')
    },
    usedObjTypeList() {
      return this.$ncp.codeHandle.selectCodeType('Obj_Type')
    },
    valiFlagList() {
      return this.$ncp.codeHandle.selectCodeType('Vali_Flag')
    }
  },
  methods: {
    clear() {
      this.asetDynaQuryFormQuery = {}
      this.asetDynaQuryFormEdit = {}
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.asetDialog = false
      this.asetDynaQuryList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.asetDynaQuryFormDisabled = false
      this.asetDynaQuryFormEditDisabled = false
    },
    // 异步调用，一律采用 async/await 语法
    async queryasetDynaQury() {
      this.asetDynaQuryList = [
        {
          asetNo: '1',
          asetName: '2',
          userName: '3',
          usedDept: 'asdfasdf',
          asetCnt: 'asdf',
          asetMtrUnt: 'qwer',
          usedObjType: '123',
          begnTime: 123,
          endtime: 234
        },
        {
          asetNo: '1',
          asetName: '2',
          userName: '3',
          usedDept: 'asdfasdf',
          asetCnt: 'asdf',
          asetMtrUnt: 'qwer',
          usedObjType: '123',
          begnTime: 123,
          endtime: 234
        },
        {
          asetNo: '1',
          asetName: '2',
          userName: '3',
          usedDept: 'asdfasdf',
          asetCnt: 'asdf',
          asetMtrUnt: 'qwer',
          usedObjType: '123',
          begnTime: 123,
          endtime: 234
        },
        {
          asetNo: '1',
          asetName: '2',
          userName: '3',
          usedDept: 'asdfasdf',
          asetCnt: 'asdf',
          asetMtrUnt: 'qwer',
          usedObjType: '123',
          begnTime: 123,
          endtime: 234
        }
      ]
    },
    //查询条件中的资产基本信息弹出框
    queryShowAsetDialog() {
      this.operateType = 'query'
      this.asetDialog = true
      this.$nextTick(() => {
        this.$refs.asetMngr.clear()
        this.$refs.asetMngr.queryAset()
      })
    },
    editShowAsetDialog() {
      this.asetDialog = true
      this.$nextTick(() => {
        this.$refs.asetMngr.clear()
        this.$refs.asetMngr.queryAset()
      })
    },
    asetConfirm(data) {
      this.asetDynaQuryFormQuery.asetNo = data.asetNo
      this.asetDynaQuryFormQuery.asetName = data.asetName
      this.asetDialog = false
    },
    beforeCloseDialog(done) {
      if (this.operateType == 'add') {
        this.asetVolaDspoFormEdit.asetNo = ''
        this.asetVolaDspoFormEdit.asetName = ''
        done()
      } else {
        done()
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
