<template>
  <div>
    <div>
      <ncp-table
        :data="tableData"
        :tableHeight="'500px'"
        :columnDefs="columnDefs"
      ></ncp-table>
      <el-button @click="add" type="primary">填充数据</el-button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      // 数据定义
      tableData: [],
      // 表头定义
      columnDefs: [
        {
          label: '姓名',
          prop: 'userName',
          align: 'center'
        },
        {
          label: '用户类型',
          prop: 'type',
          align: 'left'
        },
        {
          label: '薪资',
          prop: 'salary',
          align: 'right'
        }
      ]
    }
  },
  methods: {
    add() {
      this.tableData = [
        { userName: '张三', type: '用户', salary: 5000 },
        { userName: '李四', type: '用户', salary: 6000 },
        { userName: '孙十一', type: '用户', salary: 9000 },
        { userName: '贾十二', type: '管理员', salary: 15000 },
        { userName: '王五', type: '管理员', salary: 4000 },
        { userName: '赵六', type: '管理员', salary: 23000 }
      ]
    }
  }
}
</script>

<style lang="scss" scoped></style>
