<template>
  <div class="sys-orgunt-d">
    <el-container>
      <ncp-table
        :selectType="'single'"
        :showIndex="true"
        :columnDefs="cmsColDTabColDefs"
        :data="cmsColDList"
        v-loading="tableLoading"
      ></ncp-table>
    </el-container>
  </div>
</template>

<script>
export default {
  data() {
    const columnDefs = [
      {
        label: '审批结果',
        prop: 'apprRslt'
      }
    ]

    return {
      cmsColDList: null,
      cmsColDTabColDefs: columnDefs,
      tableLoading: false
    }
  }
}
</script>

<style lang="scss" scoped></style>
