<template>
  <div>
    <div>
      <ncp-table
        :showSummary="true"
        @getSummaryInfo="handleGetSummaryInfo"
        :data="tableData"
        :columnDefs="columnDefs"
      ></ncp-table>
      <el-button @click="add" type="primary">haha</el-button>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      // 数据定义
      tableData: [],
      // 表头定义
      columnDefs: [
        {
          label: '姓名',
          prop: 'userName'
        },
        {
          label: '用户类型',
          prop: 'type'
        },
        {
          label: '薪资',
          prop: 'salary'
        }
      ]
    }
  },
  methods: {
    // params 表格中的数据
    // callBack 回调函数 入参为对象，对象的属性和列定义中的prop对应，是汇总数据显示的位置
    handleGetSummaryInfo(params, callBack) {
      // 在汇总行的salary列上显示 62000 在汇总行的 userName 列上显示 汇总
      callBack({ salary: 62000, userName: '汇总' })
    },
    add() {
      this.tableData = [
        { userName: '张三', type: '用户', salary: 5000 },
        { userName: '李四', type: '用户', salary: 6000 },
        { userName: '孙十一', type: '用户', salary: 9000 },
        { userName: '贾十二', type: '管理员', salary: 15000 },
        { userName: '王五', type: '管理员', salary: 4000 },
        { userName: '赵六', type: '管理员', salary: 23000 }
      ]
    }
  }
}
</script>

<style lang="scss" scoped></style>
