<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <el-collapse :value="['queryForm']">
        <el-collapse-item name="queryForm">
          <template slot="title">
            <span class="collapseTitleSpan">查询条件</span>
          </template>
          <el-form
            :model="asetUseAppyDFormQuery"
            label-position="right"
            label-width="auto"
            @submit.native.prevent
          >
            <el-row>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="资产名称">
                  <el-input
                    size="medium"
                    v-model="asetUseAppyDFormQuery.asetName"
                    placeholder="请输入资产名称"
                    style="width: 100%;"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="审批结果">
                  <el-select
                    size="medium"
                    v-model="asetUseAppyDFormQuery.apprRslt"
                    clearable
                    style="width: 100%;"
                    placeholder="请选择审批结果"
                  >
                    <el-option
                      v-for="code in apprRsltList"
                      v-bind:key="code.value"
                      :label="code.name"
                      :value="code.value"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="审批状态">
                  <el-select
                    size="medium"
                    v-model="asetUseAppyDFormQuery.apprstas"
                    clearable
                    style="width: 100%;"
                    placeholder="请选择审批状态"
                  >
                    <el-option label="未审批" value="01" key="01"></el-option>
                    <el-option label="已审批" value="03" key="03"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="分配状态">
                  <el-select
                    size="medium"
                    v-model="asetUseAppyDFormQuery.asgnStas"
                    clearable
                    style="width: 100%;"
                    placeholder="请选择分配状态"
                  >
                    <el-option
                      v-for="code in asgnStasList"
                      v-bind:key="code.value"
                      :label="code.name"
                      :value="code.value"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-collapse-item>
      </el-collapse>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <el-collapse :value="['result']">
        <el-collapse-item name="result">
          <template slot="title">
            <span class="collapseTitleSpan">业务信息</span>
          </template>
          <ncp-table
            :columnDefs="asetUseAppyDTabColDefs"
            :data="asetUseAppyDList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryAsetUseAppyD"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </el-collapse-item>
      </el-collapse>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane>
      <el-row>
        <el-col :span="24">
          <hsa-btn-toolbar>
            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="showAddDialog"
              size="medium"
              >增加</el-button
            >
            <el-button
              type="primary"
              icon="el-icon-search"
              @click="queryAsetUseAppyD"
              size="medium"
              >查询</el-button
            >
            <el-button
              type="primary"
              icon="el-icon-refresh"
              @click="clear"
              size="medium"
              >清屏</el-button
            >
          </hsa-btn-toolbar>
        </el-col>
      </el-row>
    </hsa-adaptive-pane>
    <el-dialog
      title="资产使用申请"
      :visible.sync="editDialogVisible"
      :close-on-click-modal="false"
      width="80%"
      v-loading="dialogLoading"
    >
      <el-form
        :model="asetUseAppyDFormEdit"
        label-position="right"
        label-width="auto"
        :rules="asetUseAppyDEditFormRules"
        ref="asetUseAppyDEditForm"
        @submit.native.prevent
      >
        <el-row>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="申请部门" prop="appyDept">
              <el-input
                size="medium"
                v-model="asetUseAppyDFormEdit.appyDept"
                placeholder="请输入申请部门"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="申请人" prop="appyer">
              <el-input
                size="medium"
                v-model="asetUseAppyDFormEdit.appyer"
                placeholder="请输入申请人"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="资产名称" prop="asetName">
              <el-input
                size="medium"
                v-model="asetUseAppyDFormEdit.asetName"
                placeholder="请输入资产名称"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="数量" prop="asetCnt">
              <el-input
                size="medium"
                v-model="asetUseAppyDFormEdit.asetCnt"
                placeholder="请输入数量"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="资产计量单位" prop="asetMtrUnt">
              <el-input
                size="medium"
                v-model="asetUseAppyDFormEdit.asetMtrUnt"
                placeholder="请输入资产计量单位"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="使用主体类别" prop="usedObjType">
              <el-select
                size="medium"
                v-model="asetUseAppyDFormEdit.usedObjType"
                placeholder="请输入使用主体类别"
                style="width:100%"
              >
                <el-option
                  v-for="code in usedObjList"
                  v-bind:key="code.value"
                  :label="code.name"
                  :value="code.value"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="24" :lg="24">
            <el-form-item label="用途" prop="used">
              <el-input
                type="textarea"
                :rows="2"
                size="medium"
                v-model="asetUseAppyDFormEdit.used"
                placeholder="请输入用途"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="24" :lg="24">
            <el-form-item label="备注" prop="memo">
              <el-input
                type="textarea"
                :rows="2"
                size="medium"
                v-model="asetUseAppyDFormEdit.memo"
                maxlength="500"
                show-word-limit
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="asetUseAppyDEditCancel" size="medium"
          >取 消</el-button
        >
        <el-button type="primary" @click="asetUseAppyDEditConfirm" size="medium"
          >保 存</el-button
        >
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 layoutMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'

export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin layoutMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created() {
    this.queryAsetUseAppyD()
    this.getUiDefault()
  },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted() {},
  data() {
    const asetUseAppyDColDefs = [
      {
        label: '申请编号',
        prop: 'asetUsedAppyId',
        // width: '80px',
        fixed: 'left'
      },
      {
        label: '资产名称',
        prop: 'asetName',
        // width: '120px',
        fixed: 'left',
        showOverflowTooltip: true
      },
      {
        label: '数量',
        prop: 'asetCnt'
      },
      {
        label: '资产计量单位',
        prop: 'asetMtrUnt',
        width: '110px'
      },
      {
        label: '用途',
        prop: 'used',
        showOverflowTooltip: true
      },
      {
        label: '审批人',
        prop: 'apprer'
      },
      {
        label: '审批结果',
        prop: 'apprRslt',
        filters: [
          {
            filter: cellValue => {
              if (cellValue == '1') {
                return '通过'
              } else if (cellValue == '2') {
                return '不通过'
              } else {
                return ''
              }
            }
          }
        ]
      },
      {
        label: '审批意见',
        prop: 'apprOpnn',
        showOverflowTooltip: true
      },
      {
        label: '审批状态',
        prop: 'apprstas',
        filters: [
          {
            filter: cellValue => {
              if (cellValue == '01') {
                return '未审批'
              } else if (cellValue == '03') {
                return '已审批'
              }
            }
          }
        ]
      },
      {
        label: '使用主体',
        prop: 'usedObjType'
      },
      {
        label: '分配状态',
        prop: 'asgnStas'
      },
      {
        label: '操作',
        type: 'Button',
        buttonGroup: [
          {
            type: 'primary',
            icon: 'el-icon-edit',
            handle: row => this.showEditDialog(row),
            size: 'mini'
          },
          {
            type: 'danger',
            icon: 'el-icon-delete',
            handle: row => this.deleteRow(row),
            size: 'mini'
          }
        ],
        width: '120px',
        // 操作列必需右固定
        fixed: 'right'
      }
    ]
    const asetUseAppyDRules = {
      appyDept: [
        { required: true, message: '请填写申请部门', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      appyer: [
        { required: true, message: '请填写申请人', trigger: 'blur' },
        { max: 50, message: '长度不能超过 50 个字符', trigger: 'blur' }
      ],
      asetName: [
        { required: true, message: '请填写资产名称', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      asetMtrUnt: [
        { required: true, message: '请填写资产计量单位', trigger: 'blur' },
        { max: 10, message: '长度不能超过 10 个字符', trigger: 'blur' }
      ],
      asetCnt: [
        { required: true, message: '请填写数量', trigger: 'blur' },
        {
          pattern: /^\d{1,16}$/,
          message: '长度不能超过 16 个字符且必须是数字',
          trigger: 'blur'
        }
      ],
      used: [
        { required: true, message: '请填写用途', trigger: 'blur' },
        { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      usedObjType: [
        { required: true, message: '请选择使用主体类别', trigger: 'blur' }
      ]
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      // 分页数据
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0,
        sort: 'desc',
        order: 'optTime'
      },
      // 表头
      asetUseAppyDTabColDefs: asetUseAppyDColDefs,
      // table数据
      asetUseAppyDList: [],
      // table加载动画
      tableLoading: false,
      // dialog加载动画
      dialogLoading: false,
      // 是否打开弹窗
      editDialogVisible: false,
      // 查询参数
      asetUseAppyDFormQuery: {},
      // 新增和修改参数
      asetUseAppyDFormEdit: {},
      // 规则
      asetUseAppyDEditFormRules: asetUseAppyDRules,
      // 默认操作类型
      operateType: 'add',
      // UI默认显示值
      uiDefault: []
    }
  },
  computed: {
    apprRsltList() {
      return this.$ncp.codeHandle.selectCodeType('Appr_Rslt')
    },
    usedObjList() {
      return this.$ncp.codeHandle.selectCodeType('USED_OBJ_TYPE')
    },
    asgnStasList() {
      return this.$ncp.codeHandle.selectCodeType('Asgn_Stas')
    }
  },
  methods: {
    // UI默认显示值
    async getUiDefault() {},
    // 清屏
    clear() {
      this.asetUseAppyDFormQuery = {}
      this.asetUseAppyDFormEdit = {}
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0,
        sort: 'desc',
        order: 'optTime'
      }
      this.asetUseAppyDList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
    },
    // 异步调用，一律采用 async/await 语法,查询操作
    async queryAsetUseAppyD() {
      this.asetUseAppyDList = [
        {
          asetUsedAppyId: '1'
        },
        {
          asetUsedAppyId: '2'
        },
        {
          asetUsedAppyId: '3'
        },
        {
          asetUsedAppyId: '4'
        },
        {
          asetUsedAppyId: '5'
        },
        {
          asetUsedAppyId: '6'
        },
        {
          asetUsedAppyId: '7'
        },
        {
          asetUsedAppyId: '8'
        },
        {
          asetUsedAppyId: '9'
        },
        {
          asetUsedAppyId: '10'
        },
        {
          asetUsedAppyId: '7'
        },
        {
          asetUsedAppyId: '8'
        },
        {
          asetUsedAppyId: '9'
        },
        {
          asetUsedAppyId: '10'
        },
        {
          asetUsedAppyId: '8'
        },
        {
          asetUsedAppyId: '9'
        },
        {
          asetUsedAppyId: '10'
        },
        {
          asetUsedAppyId: '8'
        },
        {
          asetUsedAppyId: '9'
        }
      ]
    },
    // 新增操作
    async addAsetUseAppyD() {},
    // 重新提交申请操作
    async updateAsetUseAppyD() {},
    // 删除操作
    async deleteAsetUseAppyD() {},
    // 规则清除
    resetAsetUseAppyDEditForm() {
      if (this.$refs.asetUseAppyDEditForm !== undefined) {
        this.$nextTick(() => {
          this.$refs.asetUseAppyDEditForm.resetFields()
        })
      }
    },
    // dialog取消
    asetUseAppyDEditCancel() {
      this.resetAsetUseAppyDEditForm()
      this.editDialogVisible = false
    },
    // 打开新增弹出框
    showAddDialog() {
      this.resetAsetUseAppyDEditForm()
      this.asetUseAppyDFormEdit = {}
      this.operateType = 'add'
      this.asetUseAppyDFormEdit.appyer = this.uiDefault.defaultAppyEr
      this.asetUseAppyDFormEdit.appyDept = this.uiDefault.defaultDept
      this.editDialogVisible = true
    },
    // 打开重新提交申请弹出框，默认不可修改
    showEditDialog(row) {
      if (row.apprRslt == '2') {
        this.resetAsetUseAppyDEditForm()
        this.asetUseAppyDFormEdit = Object.assign({}, row)
        this.operateType = 'update'
        this.editDialogVisible = true
      } else if (row.apprRslt == '1') {
        this.$notify({
          title: '提示',
          message: '该资产申请审批已通过,无法修改',
          type: 'warning',
          showClose: true
        })
      } else {
        this.$notify({
          title: '提示',
          message: '该资产申请正在进行审批,请耐心等待',
          type: 'warning',
          showClose: true
        })
      }
    },
    // 判断是否为新增还是重新提交申请
    asetUseAppyDEditConfirm() {
      this.$refs.asetUseAppyDEditForm.validate(valid => {
        if (valid) {
          if (this.operateType === 'add') {
            this.addAsetUseAppyD()
          } else if (this.operateType === 'update') {
            this.updateAsetUseAppyD()
          }
        } else {
          return false
        }
      })
    },
    // 删除确认
    deleteRow(row) {
      if (row.asgnStas == '0') {
        this.$confirm('该资产已经分配,无法删除', {
          confirmButtonText: '是',
          type: 'info'
        })
      } else if (
        (row.asgnStas == '1' && row.apprRslt == '') ||
        row.apprRslt == null
      ) {
        this.$confirm('该资产仍在审批,是否删除?', {
          confirmButtonText: '是',
          cancelButtonText: '否',
          type: 'info'
        }).then(() => {
          this.deleteAsetUseAppyD(row)
        })
      } else if (row.asgnStas == '1' && row.apprRslt == '1') {
        this.$confirm('该资产审批已通过但未分配,是否删除?', {
          confirmButtonText: '是',
          cancelButtonText: '否',
          type: 'info'
        }).then(() => {
          this.deleteAsetUseAppyD(row)
        })
      } else if (row.asgnStas == '1') {
        this.$confirm('是否删除?', {
          confirmButtonText: '是',
          cancelButtonText: '否',
          type: 'info'
        }).then(() => {
          this.deleteAsetUseAppyD(row)
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
