<template>
  <div>
    <el-collapse :value="['result']"> </el-collapse>
    <el-collapse :value="['result']">
      <el-collapse-item name="result">
        <template slot="title">
          <span class="collapseTitleSpan">业务信息</span>
        </template>
        <ncp-table
          :columnDefs="sysSubsysDTabColDefs"
          :data="sysSubsysDList"
          :enablePagination="true"
          :paginationConfig="paginationConfig"
          :useExternalPagination="true"
          @paginationConfigChange="querySysSubsysD"
          :tableHeight="'500px'"
          ref="eltable"
        ></ncp-table>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
export default {
  mounted() {
    this.querySysSubsysD()
  },
  data() {
    const sysSubsysDColDefs = [
      {
        label: '子系统名称',
        prop: 'subsysName',
        width: '120px',
        fixed: 'left'
      },
      {
        label: '子系统编码',
        prop: 'subsysCodg'
        // width: '120px',
      },

      {
        label: '系统路径',
        prop: 'sysPath',
        // width: '120px',

        showOverflowTooltip: true
      },
      {
        label: '创建时间',
        prop: 'crteTime'
      },

      {
        label: '经办人',
        prop: 'opterName'
      },
      {
        label: '经办时间',
        prop: 'optTime'
      },

      {
        label: '操作',
        type: 'Button',
        buttonGroup: [
          {
            type: 'primary',
            icon: 'el-icon-edit',
            size: 'mini',
            handle: row => this.showEditDialog(row)
          },
          {
            type: 'danger',
            icon: 'el-icon-delete',
            size: 'mini',
            handle: row => this.deleteRow(row)
          }
        ],
        width: '200px',
        fixed: 'right'
      }
    ]
    return {
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      sysSubsysDTabColDefs: sysSubsysDColDefs,
      sysSubsysDList: null
    }
  },
  methods: {
    // 异步调用，一律采用 async/await 语法
    querySysSubsysD() {
      this.sysSubsysDList = [
        {
          subsysName: '1',
          subsysCodg: '2',
          sysPath: '3',
          crteTime: 1573635097697,
          opterName: 'haha',
          optTime: 1573635097697
        },
        {
          subsysName: '1',
          subsysCodg: '2',
          sysPath: '3',
          crteTime: 1573635097697,
          opterName: 'haha',
          optTime: 1573635097697
        },
        {
          subsysName: '1',
          subsysCodg: '2',
          sysPath: '3',
          crteTime: 1573635097697,
          opterName: 'haha',
          optTime: 1573635097697
        }
      ]
      this.paginationConfig.pageNumber = 1
      this.paginationConfig.pageSize = 1
      this.paginationConfig.total = 3
    }
  }
}
</script>

<style lang="scss" scoped></style>
