<template>
  <div>
    <el-collapse :value="['result']"> </el-collapse>
    <el-collapse :value="['result']">
      <el-collapse-item name="result">
        <template slot="title">
          <span class="collapseTitleSpan">业务信息</span>
        </template>
        <ncp-table
          :columnDefs="sysSubsysDTabColDefs"
          :data="sysSubsysDList"
          :enablePagination="true"
          :paginationConfig="paginationConfig"
          :useExternalPagination="true"
          @paginationConfigChange="querySysSubsysD"
          :tableHeight="'500px'"
          ref="eltable"
        ></ncp-table>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import Vue from 'vue'

export default {
  mounted() {
    this.querySysSubsysD()
    this.$refs.eltable.getElTableInstance().layout.__proto__.updateElsHeight = function() {
      setTimeout(() => {
        if (!this.table.$ready)
          return Vue.nextTick(() => this.updateElsHeight())
        const { headerWrapper, appendWrapper, footerWrapper } = this.table.$refs
        this.appendHeight = appendWrapper ? appendWrapper.offsetHeight : 0

        if (this.showHeader && !headerWrapper) return

        const headerHeight = (this.headerHeight = !this.showHeader
          ? 0
          : headerWrapper.offsetHeight)
        if (
          this.showHeader &&
          headerWrapper.offsetWidth > 0 &&
          (this.table.columns || []).length > 0 &&
          headerHeight < 2
        ) {
          return Vue.nextTick(() => this.updateElsHeight())
        }
        const tableHeight = (this.tableHeight = this.table.$el.clientHeight)
        const footerHeight = (this.footerHeight = footerWrapper
          ? footerWrapper.offsetHeight
          : 0)
        if (this.height !== null) {
          this.bodyHeight =
            tableHeight - headerHeight - footerHeight + (footerWrapper ? 1 : 0)
        }
        this.fixedBodyHeight = this.scrollX
          ? this.bodyHeight - this.gutterWidth
          : this.bodyHeight

        const noData = !this.table.data || this.table.data.length === 0
        this.viewportHeight = this.scrollX
          ? tableHeight - (noData ? 0 : this.gutterWidth)
          : tableHeight

        this.updateScrollY()
        this.notifyObservers('scrollable')
      })
    }
  },
  data() {
    const sysSubsysDColDefs = [
      {
        label: '子系统名称',
        prop: 'subsysName',
        width: '120px',
        fixed: 'left'
      },
      {
        label: '子系统编码',
        prop: 'subsysCodg'
        // width: '120px',
      },

      {
        label: '系统路径',
        prop: 'sysPath',
        // width: '120px',

        showOverflowTooltip: true
      },
      {
        label: '创建时间',
        prop: 'crteTime'
      },

      {
        label: '经办人',
        prop: 'opterName'
      },
      {
        label: '经办时间',
        prop: 'optTime'
      },

      {
        label: '操作',
        type: 'Button',
        buttonGroup: [
          {
            type: 'primary',
            icon: 'el-icon-edit',
            size: 'mini',
            handle: row => this.showEditDialog(row)
          },
          {
            type: 'danger',
            icon: 'el-icon-delete',
            size: 'mini',
            handle: row => this.deleteRow(row)
          }
        ],
        width: '200px',
        fixed: 'right'
      }
    ]
    return {
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      sysSubsysDTabColDefs: sysSubsysDColDefs,
      sysSubsysDList: null
    }
  },
  methods: {
    // 异步调用，一律采用 async/await 语法
    querySysSubsysD() {
      this.sysSubsysDList = [
        {
          subsysName: '1',
          subsysCodg: '2',
          sysPath: '3',
          crteTime: 1573635097697,
          opterName: 'haha',
          optTime: 1573635097697
        },
        {
          subsysName: '1',
          subsysCodg: '2',
          sysPath: '3',
          crteTime: 1573635097697,
          opterName: 'haha',
          optTime: 1573635097697
        },
        {
          subsysName: '1',
          subsysCodg: '2',
          sysPath: '3',
          crteTime: 1573635097697,
          opterName: 'haha',
          optTime: 1573635097697
        }
      ]
      this.paginationConfig.pageNumber = 1
      this.paginationConfig.pageSize = 1
      this.paginationConfig.total = 3
    }
  }
}
</script>

<style lang="scss" scoped></style>
