<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
              :model="jobTaskFormQuery"
              label-position="right"
              label-width="120px"
              size="medium"
              @submit.native.prevent
          >
            <hsa-row collapseBtn>
                <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="任务编号">
                  <el-input
                      v-model="jobTaskFormQuery.taskNo"
                      placeholder="请输入任务编号"
                      @blur="querytaskBytaskNo()"
                      maxlength="40"
                      :disabled="jobTaskFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
                <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="任务名称">
                  <el-input
                      v-model="jobTaskFormQuery.taskName"
                      placeholder="请输入任务名称"
                      maxlength="40"
                      :disabled="jobTaskFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
                <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="项目名称">
                  <el-input
                      v-model="jobTaskFormQuery.itemname"
                      placeholder="请输入项目名称"
                      maxlength="100"
                      :disabled="jobTaskFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

            

                <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="执行规则范围">
                  <el-input
                      v-model="jobTaskFormQuery.exeRuleScp"
                      placeholder="请输入执行规则范围"
                      maxlength="65535"
                      :disabled="jobTaskFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
               
  			  <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <template slot="footbar">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryJobTask">查询</el-button>
              </template>
              
            </hsa-row>

          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
      </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button size="medium" type="success"  @click="showAddDialog">增加 </el-button>
          </template>
  
          <ncp-table
              :columnDefs="jobTaskTabColDefs"
              :data="jobTaskList"
              :enablePagination="true"
              :paginationConfig="paginationConfig"
              :useExternalPagination="true"
              @paginationConfigChange="queryJobTask"
              v-loading="tableLoading"
              :tableHeight="tableMaxHeight"
          >
          </ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>


    <el-dialog
        title="定时任务表  "
        :visible.sync="editDialogVisible"
        width="80%"        
      	:close-on-click-modal="false"
        class="hsa-dialog"
    >
      <el-form :model="jobTaskFormEdit"
           label-position="right"
           label-width="120px"
           size="medium"
           :rules="jobTaskEditFormRules"
           ref="jobTaskEditForm"
           @submit.native.prevent
      >
        <hsa-row>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="任务编号" prop="taskNo">
            <el-input
                v-model="jobTaskFormEdit.taskNo"
                placeholder="请输入任务编号"
                maxlength="40"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="任务名称" prop="taskName">
            <el-input
                v-model="jobTaskFormEdit.taskName"
                placeholder="请输入任务名称"
                maxlength="40"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col>
          <hsa-col :sm="12" :md="8" :lg="8">
             <el-form-item label="项目名称" prop="itemname">
                  <el-select v-model="jobTaskFormEdit.itemname" placeholder="请选择"   class="widthAuto">
                    <el-option 
                        v-for = "item in projectInfors"
                        :key = "item.itemcode"
                        :label="item.itemname"
                        :value = "item.itemname"
                        style="width:100%" >    
                      </el-option>         
                   </el-select>
          </el-form-item>
          </hsa-col>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="执行规则范围" prop="exeRuleScp">
             <span slot="label">
                <span class="span-box">
                  <span>执行规则范围</span>
                  <el-tooltip effect="dark" content="多个模型编号时，请用','隔开" placement="top">
                    <i class="el-icon-question" style="color:#F56C6C"></i>
                  </el-tooltip>
                </span>
              </span>
            <el-input
                v-model="jobTaskFormEdit.exeRuleScp"
                placeholder="请输入执行规则范围"
                maxlength="65535"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col>
         <hsa-col :sm="12" :md="12" :lg="8">
             <el-form-item label="任务执行周期" prop="jobCorn">
                  <el-select v-model="jobTaskFormEdit.jobCorn" placeholder="请选择任务执行周期"   class="widthAuto">
                    <el-option 
                        v-for = "item in jobCornList"
                        :key = "item.value"
                        :label="item.label"
                        :value = "item.value"
                        style="width:100%" >    
                      </el-option>         
                   </el-select>
          </el-form-item>
          </hsa-col>
        <!-- <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="Cron表达式" prop="jobCorn">
            <el-input
                v-model="jobTaskFormEdit.jobCorn"
                placeholder="请输入Cron表达式"
                maxlength="200"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col> -->
        <!-- <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="定时器状态" prop="timrStas">
            <el-input
                v-model="jobTaskFormEdit.timrStas"
                placeholder="请输入定时器状态"
                maxlength="40"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col> -->
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="创建时间" prop="crteTime">
            <el-date-picker
                v-model="jobTaskFormEdit.crteTime"
                placeholder="请输入创建时间"
                :disabled="jobTaskFormEditDisabled"
                style="width: 100%;"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="timestamp"
            ></el-date-picker>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="修改时间" prop="modiTime">
            <el-date-picker
                v-model="jobTaskFormEdit.modiTime"
                placeholder="请输入修改时间"
                :disabled="jobTaskFormEditDisabled"
                style="width: 100%;"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="timestamp"
            ></el-date-picker>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="创建用户" prop="crteUser">
            <el-input
                v-model="jobTaskFormEdit.crteUser"
                placeholder="请输入创建用户"
                maxlength="20"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="修改用户" prop="modiUser">
            <el-input
                v-model="jobTaskFormEdit.modiUser"
                placeholder="请输入修改用户"
                maxlength="20"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="12" :lg="8">
          <el-form-item label="备注" prop="dscr">
            <el-input
                v-model="jobTaskFormEdit.dscr"
                placeholder="请输入备注"
                maxlength="65535"
                :disabled="jobTaskFormEditDisabled"
            ></el-input>
          </el-form-item>
        </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="jobTaskEditCancel" size="medium">取 消</el-button>
        <el-button type="primary" @click="jobTaskEditConfirm" size="medium" :loading="buttonLoading" :disabled="buttonLoading">保 存</el-button>
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
  // 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
  import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
  //import { codeFilter, tableDataFilter } from '@/common/filters/index'
   import {tableDataFilter } from '@/common/filters/index'
  // 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
  import Service from './job-task-mngr.service'
  import ProjectInfoService from '@/modules/datacheck/projectmanage/project-info-b/project-info-b-mngr.service'

  import JobTaskClass from '@/modules/datacheck/jobtaskmanage/class/job-task-mngr.class'
  import JobTaskQueryClass from '@/modules/datacheck/jobtaskmanage/class/job-task-mngr-query.class'

export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created() {},
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted() {
     this.queryJobTask()
     this.queryItems()
  },  
  computed: {},
  methods: {
    clear() {
      this.jobTaskFormQuery = new JobTaskQueryClass()
      this.jobTaskFormEdit =  new JobTaskClass()
      this.paginationConfig=  {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.jobTaskList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.jobTaskFormDisabled = false
      this.jobTaskFormEditDisabled = false
    },
     //根据taskNo查询
    async querytaskBytaskNo(){
      try{

        this.tableLoading = true;
        const taskNo = this.jobTaskFormQuery.taskNo;
        if(!taskNo){
           this.$message.info({message:"请填入任务编号信息",showClose:true})
          return;
        }
        this.jobTaskFormQuery = new JobTaskQueryClass(),
        this.jobTaskFormQuery.taskNo = taskNo;
        debugger;
        const tasksigleResult = await Service.resources.queryByTaskNo(taskNo);
        if (!tasksigleResult){
            this.jobTaskFormQuery = new JobTaskQueryClass()();
            this. jobTaskFormQuery.taskNo = taskNo
           
             this.$message.error({message: "根据任务编号未查询出相关信息，请您核对后再填入",showClose:true})
        }
        else{
          this.jobTaskFormQuery = tasksigleResult
          // this.psnInfoBFormDisabled = true
          // await this.queryErChkRegD()

        }

      }catch(err){
        let errStr = err.message;
        this.$message.error({message:"查询失败！" + errStr,showClose:true})
      }finally {
        this.tableLoading = false;
      }
    },

    async queryItems(){
        this.projectInfors =  await ProjectInfoService.resources.getItems();
     


    },
   
    // 异步调用，一律采用 async/await 语法
    async queryJobTask() {
      try{
        this.tableLoading = true;
        const jobTaskResult = await Service.resources.getByPage(this.jobTaskFormQuery,this.paginationConfig)
        if (jobTaskResult.result.length == '0' ) {
          this.$message.info("没有查询到数据！")
          this.jobTaskList = []
        } else {
          this.jobTaskList = jobTaskResult.result
          this.paginationConfig.pageNumber = jobTaskResult.pageNumber
          this.paginationConfig.pageSize = jobTaskResult.pageSize
          this.paginationConfig.total = jobTaskResult.total
        }
      }catch(err){
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      }finally {
        this.tableLoading = false;
      }

    },
    async addJobTask(){
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.jobTaskFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryJobTask()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateJobTask(){
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.jobTaskFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryJobTask()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async deleteJobTask(id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryJobTask()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      }finally {
        this.tableLoading = false;
      }
    },
    resetJobTaskEditForm() {
      this.$refs.jobTaskEditForm.resetFields();
    },
    jobTaskEditCancel(){
      this.resetJobTaskEditForm()
      this.editDialogVisible = false
    },
    showAddDialog() {
      this.jobTaskFormEdit = new JobTaskClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showEditDialog(row) {
      this.jobTaskFormEdit = Object.assign({},row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.jobTaskEditForm.clearValidate()
      })
    },
   /**
    * 任务启动
    */
     async startTask(row) {
       try {
         if(row.timrStas == '1'){
             this.$message.info("请勿重复进行启动任务操作！")
             return
         }
        this.dialogLoading = true
        this.buttonLoading = true
        console.log(this.row)
        await Service.resources.startTask(row)
        this.$message.info("任务启动成功！")
        this.editDialogVisible = false
        this.queryJobTask()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("任务启动失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },

    /**
    * 任务立即执行
    */
     async execTask(row) {
       try {
          if(row.timrStas == '1'){
             this.$message.info("执行任务前请确认任务状态为停止")
             return
         }
        this.dialogLoading = true
        this.buttonLoading = true
        console.log(this.row)
        await Service.resources.execTask(row)
        this.$message.info("任务执行下发成功！")
        this.editDialogVisible = false
        this.queryJobTask()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("任务执行下发失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    /**
     * 任务停止
     */
    async stopTask(row){
        try {
          if(!row.timrStas ||row.timrStas== "0"){
             this.$message.info("请勿重复进行停止任务操作！")
             return
          }
          this.dialogLoading = true
          this.buttonLoading = true
          console.log(row)
          await Service.resources.stopTask(row)
          this.$message.info("任务停止成功！")
          this.editDialogVisible = false
          this.queryJobTask()
        } catch (err) {
          let errStr = err.message;
          this.$message.error("任务停止失败！" + errStr)
        } finally {
          this.dialogLoading = false
          this.buttonLoading = false
        }
    },
    jobTaskEditConfirm() {
    this.$refs.jobTaskEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateJobTask();
          } else {
            this.addJobTask();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow(row) {
      this.$confirm(
        '是否刪除?',{
          confirmButtonText: '是',
          cancelButtonText: '否',
          type: 'info'
        }
      ).then(() => {    
        this.deleteJobTask(row.taskNo)
      })
    }
  },
  data() {
    const jobTaskColDefs = [
       { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '任务编号', prop: 'taskNo', width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '任务名称', prop: 'taskName', width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '项目名称', prop: 'itemname', width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '执行规则范围', prop: 'exeRuleScp', width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: 'Cron表达式', prop: 'jobCorn', width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '定时器状态', prop: 'timrStas',  filters: [
          {
             filter: cellValue => { 
               return cellValue == '1' ? '启动' : '停止'
               }
          }
        ],width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '执行结果', prop: 'lastExeRslt', 
       filters:[
          {
             filter: cellValue => { 
               if(cellValue == '1'){
                 return '成功'
               }else if(cellValue == '0'){
                  return '失败'
               }
                return '--'
               }
          }
        ],
        width: '120px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy-mm-dd HH:MM:ss'] }], width: '150px' },
      { align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy-mm-dd HH:MM:ss'] }], width: '150px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '有效标志', prop: 'valiFlag', 
        filters:[
          {
             filter: cellValue => { 
               return cellValue == '1' ? '有效' : '无效'
               }
          }
        ],
      width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '备注', prop: 'dscr', width: '120px' },
      { label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) },
           ],
          width: '150px', fixed: 'right'
      },
     { label: '任务操作', type: 'Button',
        buttonGroup: [
            {  type: 'primary',  icon: 'el-icon-caret-right', title : "启动" , size: 'mini',handle: row => this.startTask(row) },
            { type: 'danger', icon: 'el-icon-arrow-right', size: 'mini', title : "执行" ,handle: row => this.execTask(row) },
            { type: 'danger', icon: 'el-icon-video-pause',  size: 'mini',title : "停止" ,handle: row => this.stopTask(row) }
           ],
          width: '160px', fixed: 'right'
      },
      










      //  { label: '操作', type: 'Button',
      //   buttonGroup: [
      //     { type: 'danger', icon: 'el-icon-caret-right', size: 'mini', handle: row => this.deleteRow(row) },
      //     { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
      //      ],
      //     width: '150px', fixed: 'right'
      // }
    ]
    //校验是否为cron表达式
//     var handleCronValidate=(rule,value,callback)=>{
//   if(!!value){
//     let parser=require('cron-parser');
//     try{
//       let interval=parser.parseExpression(value);
//       console.log("cronDate:",interval.next().toDate());
//     } catch (e) {
//       callback("非Cron表达式格式，请检查！"+e.message);
//     }
//   } else {
//     callback("Cron表达式不能为空！");
//   }
//   callback();
// },
    // const jobTaskRules = {
    //     taskName: [{  required:true, message: '请填写任务名称', trigger: 'blur' },
    //       {  max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
    //     ],
    //     itemname: [{  required:true, message: '请填写项目名称', trigger: 'blur' },
    //       {  max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
    //     ],
    //     exeRuleScp: [{  required:true, message: '请填写执行规则范围', trigger: 'blur' },
    //       {  max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
    //     ],
    //     jobCorn: [{  required:true, message: '请填写Cron表达式', trigger: 'blur' },
    //       {  max: 200, message: '长度不能超过 200 个字符', trigger: 'blur' }
    //     ],
    //     timrStas: [{  required:true, message: '请填写定时器状态', trigger: 'blur' },
    //       {  max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
    //     ],
    //     lastExeRslt: [{  required:true, message: '请填写上次执行结果', trigger: 'blur' },
    //       {  max: 1, message: '长度不能超过 1 个字符', trigger: 'blur' }
    //     ],
    //     crteTime: [{ required:true, type: 'date',  message: '请选择创建时间', trigger: 'change' }],
    //           modiTime: [{ required:true, type: 'date',  message: '请选择修改时间', trigger: 'change' }],
    //           crteUser: [{  required:true, message: '请填写创建用户', trigger: 'blur' },
    //       {  max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
    //     ],
    //     modiUser: [{  required:true, message: '请填写修改用户', trigger: 'blur' },
    //       {  max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
    //     ],
    //     valiFlag: [{  required:true, message: '请填写有效标志', trigger: 'blur' },
    //       {  max: 1, message: '长度不能超过 1 个字符', trigger: 'blur' }
    //     ],
    //     rid: [{  required:true, message: '请填写唯一记录号', trigger: 'blur' },
    //       {  max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
    //     ],
    //     dscr: [{  required:true, message: '请填写备注', trigger: 'blur' },
    //       {  max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
    //     ],
    // }
     const jobTaskRules = {
        taskNo: [{ required:true,message: '请填写任务编号', trigger: 'blur' },
          {  max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
        ],
        taskName: [{ required:true,message: '请填写任务名称', trigger: 'blur' },
          {  max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
        ],
        itemname: [{required:true,message: '请选择项目', trigger: 'blur' },
          {  max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
        ],
        exeRuleScp: [{ required:true,message: '请填写执行规则范围', trigger: 'blur' },
          {  max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
        ],
        jobCorn: [{ required:true,message: '请填写Cron表达式', trigger: 'blur' },
         {
            // pattern:
            //   "(((^([0-9]|[0-5][0-9])(\\,|\\-|\\/){1}([0-9]|[0-5][0-9]))|^([0-9]|[0-5][0-9])|^(\\* ))((([0-9]|[0-5][0-9])(\\,|\\-|\\/){1}([0-9]|[0-5][0-9]) )|([0-9]|[0-5][0-9]) |(\\* ))((([0-9]|[01][0-9]|2[0-3])(\\,|\\-|\\/){1}([0-9]|[01][0-9]|2[0-3]) )|([0-9]|[01][0-9]|2[0-3]) |(\\* ))((([0-9]|[0-2][0-9]|3[01])(\\,|\\-|\\/){1}([0-9]|[0-2][0-9]|3[01]) )|(([0-9]|[0-2][0-9]|3[01]) )|(\\? )|(\\* )|(([1-9]|[0-2][0-9]|3[01])L )|([1-7]W )|(LW )|([1-7]\\#[1-4] ))((([1-9]|0[1-9]|1[0-2])(\\,|\\-|\\/){1}([1-9]|0[1-9]|1[0-2]) )|([1-9]|0[1-9]|1[0-2]) |(\\* ))(([1-7](\\,|\\-|\\/){1}[1-7])|([1-7])|(\\?)|(\\*)|(([1-7]L)|([1-7]\\#[1-4]))))|(((^([0-9]|[0-5][0-9])(\\,|\\-|\\/){1}([0-9]|[0-5][0-9]) )|^([0-9]|[0-5][0-9]) |^(\\* ))((([0-9]|[0-5][0-9])(\\,|\\-|\\/){1}([0-9]|[0-5][0-9]) )|([0-9]|[0-5][0-9]) |(\\* ))((([0-9]|[01][0-9]|2[0-3])(\\,|\\-|\\/){1}([0-9]|[01][0-9]|2[0-3]) )|([0-9]|[01][0-9]|2[0-3]) |(\\* ))((([0-9]|[0-2][0-9]|3[01])(\\,|\\-|\\/){1}([0-9]|[0-2][0-9]|3[01]) )|(([0-9]|[0-2][0-9]|3[01]) )|(\\? )|(\\* )|(([1-9]|[0-2][0-9]|3[01])L )|([1-7]W )|(LW )|([1-7]\\#[1-4] ))((([1-9]|0[1-9]|1[0-2])(\\,|\\-|\\/){1}([1-9]|0[1-9]|1[0-2]) )|([1-9]|0[1-9]|1[0-2]) |(\\* ))(([1-7](\\,|\\-|\\/){1}[1-7] )|([1-7] )|(\\? )|(\\* )|(([1-7]L )|([1-7]\\#[1-4]) ))((19[789][0-9]|20[0-9][0-9])\\-(19[789][0-9]|20[0-9][0-9])))",
            // message: "请输入正确的Cron表达式"
          },
          {  max: 200, message: '长度不能超过 200 个字符', trigger: 'blur' },
          
         
        ],
        timrStas: [{message: '请填写定时器状态', trigger: 'blur' },
          {  max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
        ],
        lastExeRslt: [{ message: '请填写上次执行结果', trigger: 'blur' },
          {  max: 1, message: '长度不能超过 1 个字符', trigger: 'blur' }
        ],
        crteTime: [{ type: 'date',  message: '请选择创建时间', trigger: 'change' }],
              modiTime: [{  type: 'date',  message: '请选择修改时间', trigger: 'change' }],
              crteUser: [{   message: '请填写创建用户', trigger: 'blur' },
          {  max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
        ],
        modiUser: [{  message: '请填写修改用户', trigger: 'blur' },
          {  max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
        ],
        dscr: [{  message: '请填写备注', trigger: 'blur' },
          {  max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
        ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      jobTaskTabColDefs:jobTaskColDefs,
      jobTaskList: [],
      tableLoading: false,
      dialogLoading:false,
      buttonLoading: false,
      editDialogVisible: false,
      jobTaskFormDisabled:false,
      jobTaskFormEditDisabled:false,
      jobTaskFormQuery:new JobTaskQueryClass(),
      jobTaskFormEdit: new JobTaskClass(),
      jobTaskEditFormRules : jobTaskRules,
      projectInfors:[
       ],
       jobCornList:[
          {
            value:'0 0 1 * * ?',
            label:'每天凌晨1点执行一次'
          },
           {
            value:'0 0 3 * * ?',
            label:'每天凌晨3点执行一次'
          },
           {
            value:'0 0 5 * * ?',
            label:'每天凌晨5点执行一次'
          },
           {
            value:'0 0 7 * * ?',
            label:'每天凌晨7点执行一次'
          },
       ]

    }
  },
}
</script>

<style lang="scss" scoped></style>