<template>
  <div>
    <ul>
      <li>SEX = 1 : {{ '1' | codeFilter('SEX') }}</li>
      <li>SEX = 2 : {{ '2' | codeFilter('SEX') }}</li>
      <li>Vali_Flag = 1 : {{ '1' | codeFilter('Vali_Flag') }}</li>
      <li>Vali_Flag = 0 : {{ '0' | codeFilter('Vali_Flag') }}</li>
      <li>Vali_Flag_index_test = 1 : {{ '1' | codeFilter('Vali_Flag') }}</li>
      <li>Vali_Flag_index_test = 0 : {{ '0' | codeFilter('Vali_Flag') }}</li>
      <li>undefined = 1 : {{ '1' | codeFilter('undefined') }}</li>
    </ul>
    <el-select v-model="value" placeholder="请选择">
      <el-option
        v-for="item in options"
        :key="item.value"
        :label="item.name"
        :value="item.value"
      >
      </el-option>
    </el-select>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: '',
      value2: ''
    }
  },
  computed: {
    options() {
      return this.$ncp.codeHandle.selectCodeType('SEX')
    }
  }
}
</script>

<style lang="scss" scoped></style>
