<template>
  <div class="button">这是一个按钮</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.button {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #1b65b9;
  border-radius: 4px;
  color: white;
  &:hover {
    background-color: lightblue;
    color: #313131;
    cursor: pointer;
  }
}
</style>
