<template>
  <div>
    <el-button type="primary" @click="redirect">
      页面跳转
    </el-button>
    <el-button type="primary" @click="sendMessage">
      消息提示
    </el-button>
    <el-button type="primary" @click="timeout">
      session timeout
    </el-button>
    <el-button type="primary" @click="ir">
      智能推荐
    </el-button>
    <el-button type="primary" @click="hidden">
      菜单隐藏
    </el-button>
    <el-button type="primary" @click="reset">
      重置菜单
    </el-button>
    <el-button type="primary" @click="batchSetPresetParams">
      设置预设菜单参数
    </el-button>
    <el-button type="primary" @click="logout">
      登出
    </el-button>
  </div>
</template>

<script>
import axios from 'axios'
import { portalMessageSend } from '@ncp-web/portal-communication'

export default {
  methods: {
    redirect() {
      portalMessageSend.openMenu({
        firstMenuId: 'component-demo',
        menuId: 'receiver',
        data: [{ name: 'li', sex: '2' }, { name: 'xu', sex: '1' }]
      })
    },
    sendMessage() {
      portalMessageSend.showInfo('portal message 测试')
    },
    timeout() {
      axios.get('http://localhost:3000/mock/27/hsa/timeout')
    },
    ir() {
      portalMessageSend.message({
        action: 'has-ips-IR ',
        data: {
          // 最小包含树根节点菜单 ID
          parentMenuId: '123234',
          // 推荐菜单树
          menuTree: [
            {
              id: 1,
              label: '一级 1',
              children: [
                {
                  id: 4,
                  label: '二级 1-1',
                  children: [
                    {
                      id: 9,
                      label: '三级 1-1-1',
                      // 叶子节点必需要有 menuId
                      menuId: 'receiver'
                    },
                    {
                      id: 10,
                      label: '三级 1-1-2',
                      menuId: 'receiver'
                    }
                  ]
                }
              ]
            },
            {
              id: 2,
              label: '一级 2',
              children: [
                {
                  id: 5,
                  label: '二级 2-1'
                }
              ]
            }
          ],
          params: [
            { label: '姓名', content: '李鹏', key: 'name', value: '李鹏' },
            { label: '性别', content: '女', key: 'sex', value: '2' }
          ]
        }
      })
    },
    hidden() {
      portalMessageSend.message({
        action: 'hideMenusById',
        data: {
          menuIds: ['es5', 'es6'],
          firstMenuId: 'learningPath'
        }
      })
    },
    reset() {
      portalMessageSend.message({
        action: 'resetMenuTree',
        data: {
          firstMenuId: 'learningPath'
        }
      })
    },
    batchSetPresetParams() {
      portalMessageSend.message({
        action: 'batchSetPresetParams',
        data: {
          menuIds: ['preset-menu-1', 'preset-menu-2'],
          firstMenuId: 'learningPath',
          urlParam: 'presetValue1=1&presetValue2=2'
        }
      })
    },
    logout() {
      portalMessageSend.message({
        action: 'logout'
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
