<template>
  <div>
    JSON.parse(portalData): {{ JSON.parse(portalData) }} <br />
    portalData: {{ portalData }}
  </div>
</template>

<script>
export default {
  props: {
    portalData: {
      type: Object
    }
  }
}
</script>

<style lang="scss" scoped></style>
