<template>
  <div>
    <el-tree
      :data="data"
      node-key="id"
      default-expand-all
      :expand-on-click-node="false"
      @node-click="nodeClick"
    >
      <span slot-scope="{ node }">
        <span>{{ node.label }}</span>
      </span>
    </el-tree>
  </div>
</template>

<script>
import { portalMessageSend } from '@ncp-web/portal-communication'
export default {
  data() {
    const data = [
      {
        id: 1,
        label: '一级 1',
        children: [
          {
            id: 4,
            label: '二级 1-1',
            children: [
              {
                id: 9,
                label: '三级 1-1-1',
                menuId: 'receiver'
              },
              {
                id: 10,
                label: '三级 1-1-2',
                menuId: 'receiver'
              }
            ]
          }
        ]
      },
      {
        id: 2,
        label: '一级 2',
        children: [
          {
            id: 5,
            label: '二级 2-1'
          },
          {
            id: 6,
            label: '二级 2-2'
          }
        ]
      }
    ]
    return {
      data: JSON.parse(JSON.stringify(data))
    }
  },

  methods: {
    nodeClick(data) {
      portalMessageSend.openMenu({
        menuId: data.menuId,
        firstMenuId: 'component-demo'
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
