<template>
  <el-adaptive-container>
    <el-block>
      <el-panel title="查询条件">
        <el-form
          :model="psnInfo"
          label-position="right"
          label-width="120px"
          size="medium"
          @submit.native.prevent
        >
          <el-row collapseBtn>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="人员编号">
                <el-input
                  v-model="psnInfo.psnNo"
                  @input="psnNoChange"
                  ref="markPsnNo"
                  placeholder="请输入人员编号"
                  maxlength="20"
                  :disabled="false"
                >
                  <i slot="suffix" class="el-input__icon el-icon-search"></i>
                </el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="人员姓名">
                <el-input
                  v-model="psnInfo.psnName"
                  placeholder="请输入人员姓名"
                  maxlength="50"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="人员性别">
                <el-input v-model="psnInfo.gend" placeholder="请输入性别" maxlength="1" :disabled="true"></el-input>
              </el-form-item>
            </el-col>

            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="证件号码">
                <el-input
                  v-model="psnInfo.certNo"
                  placeholder="请输入证件号码"
                  maxlength="30"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="联系电话">
                <el-input
                  v-model="psnInfo.tel"
                  placeholder="请输入联系电话"
                  maxlength="50"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="人员民族">
                <el-input v-model="psnInfo.naty" placeholder="请输入民族" maxlength="6" :disabled="true"></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="出生日期">
                <el-date-picker
                  v-model="psnInfo.brdy"
                  placeholder="请输入出生日期"
                  :disabled="true"
                  style="width: 100%;"
                  type="date"
                  format="yyyy 年 MM 月 dd 日"
                  value-format="timestamp"
                ></el-date-picker>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="联系地址">
                <el-input
                  v-model="psnInfo.addr"
                  placeholder="请输入联系地址"
                  maxlength="200"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>

            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="参保险种">
                <el-input
                  v-model="psnInfo.insutype"
                  placeholder="请输入险种"
                  maxlength="6"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="单位名称">
                <el-input
                  v-model="psnInfo.empName"
                  placeholder="请输入单位名称"
                  maxlength="200"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="单位编码">
                <el-input
                  v-model="psnInfo.empCode"
                  placeholder="请输入单位编码"
                  maxlength="30"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :sm="11" :md="8" :lg="6">
              <el-form-item label="参保机构">
                <el-input
                  v-model="psnInfo.insuOptins"
                  placeholder="请输入参保所属机构"
                  maxlength="6"
                  :disabled="true"
                ></el-input>
              </el-form-item>
            </el-col>

            <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
            <!-- <template slot="footbar">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryPsnInfo">查询</el-button>
            </template>-->
            <el-form-item style="float: right">
              <el-button size="medium" @click="clear">重置</el-button>
              <el-button
                type="primary"
                size="medium"
                :loading="queryLoading"
                @click="queryPsnInfo"
              >查询</el-button>
            </el-form-item>
          </el-row>
        </el-form>
      </el-panel>
    </el-block>

    <el-block auto-height>
      <el-panel title="转诊转院登记">
        <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
        <template slot="toolbar">
          <el-button
            size="medium"
            type="success"
            @click="showAddDialog"
            :disabled="notAllowClick"
          >增加</el-button>
        </template>

        <el-ncp-table
          :columnDefs="reflRegTabColDefs"
          :data="reflRegList"
          :enablePagination="true"
          :paginationConfig="paginationConfig"
          :useExternalPagination="true"
          @paginationConfigChange="queryPsnInfo"
          @rowClassName="handleRowClassName"
          v-loading="tableLoading"
          :tableHeight="tableMaxHeight"
        ></el-ncp-table>
      </el-panel>
    </el-block>

    <el-dialog
      title="转诊转院登记表单"
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
      class="el-dialog"
    >
      <el-form
        :model="reflRegFormEdit"
        label-position="right"
        label-width="120px"
        size="medium"
        :rules="reflRegEditFormRules"
        ref="reflRegEditForm"
        @submit.native.prevent
      >
        <el-row>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="申报来源" prop="dclaSouc">
              <el-input
                v-model="reflRegFormEdit.dclaSouc"
                placeholder="请输入申报来源"
                maxlength="6"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="有效标志" prop="valiFlag">
              <el-select v-model="reflRegFormEdit.valiFlag" placeholder="有效标志" style="width:100%">
                <el-option
                  v-for="item in valiFlags"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key"
                >
                  <span style="float: left">{{ item.value }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.key }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="定点医药机构编号" prop="fixmedinsCode">
              <el-select
                v-model="reflRegFormEdit.fixmedinsCode"
                filterable
                remote
                placeholder="请输入定点医药机构编号"
                :remote-method="fixmedinsRemote"
                :loading="fixmedinsLoading"
                @change="fixmedinsCodeChange"
                @focus="fixmedinsRemote"
                style="width:100%"
              >
                <el-option
                  v-for="item in fixmedinsList"
                  :key="item.fixmedinsCode"
                  :label="item.fixmedinsCode"
                  :value="item.fixmedinsCode"
                >
                  <span style="float: left">{{ item.fixmedinsCode }}</span>
                  <span
                    style="float: right; color: #8492a6; font-size: 13px"
                  >{{ item.fixmedinsName }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="定点医药机构名称" prop="fixmedinsName">
              <el-input
                v-model="reflRegFormEdit.fixmedinsName"
                placeholder="请输入定点医药机构名称"
                maxlength="200"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="医药机构等级" prop="medinsLv">
              <el-input
                v-model="reflRegFormEdit.medinsLv"
                placeholder="请输入医药机构等级"
                maxlength="6"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="定点归属机构" prop="fixmedinsPoolarea">
              <el-input
                v-model="reflRegFormEdit.fixmedinsPoolarea"
                placeholder="请输入定点归属机构"
                maxlength="6"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="诊断代码" prop="diseCode">
              <el-select
                v-model="reflRegFormEdit.diseCode"
                filterable
                @change="diseCodeChanged"
                placeholder="诊断代码"
                style="width:100%"
              >
                <el-option
                  v-for="item in diseCodes"
                  :key="item.key"
                  :label="item.key"
                  :value="item.key"
                >
                  <span style="float: left">{{ item.key }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.value }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="诊断名称" prop="diseName">
              <el-input
                v-model="reflRegFormEdit.diseName"
                placeholder="请输入诊断名称"
                maxlength="300"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="疾病病情描述" prop="diseCondDscr">
              <el-input
                v-model="reflRegFormEdit.diseCondDscr"
                placeholder="请输入疾病病情描述"
                maxlength="1000"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="转院原因" prop="reflRea">
              <el-input
                v-model="reflRegFormEdit.reflRea"
                placeholder="请输入转院原因"
                maxlength="2000"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="转往定点医药机构编号" prop="reflinMedinsNo">
              <el-select
                v-model="reflRegFormEdit.reflinMedinsNo"
                filterable
                remote
                placeholder="请输入转往定点医药机构编号"
                :remote-method="fixmedinsRemote"
                :loading="fixmedinsLoading"
                @change="reflinMedinsNoChange"
                @focus="fixmedinsRemote"
                style="width:100%"
              >
                <el-option
                  v-for="item in fixmedinsList"
                  :key="item.fixmedinsCode"
                  :label="item.fixmedinsCode"
                  :value="item.fixmedinsCode"
                >
                  <span style="float: left">{{ item.fixmedinsCode }}</span>
                  <span
                    style="float: right; color: #8492a6; font-size: 13px"
                  >{{ item.fixmedinsName }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="转往医院名称" prop="reflinMedinsName">
              <el-input
                v-model="reflRegFormEdit.reflinMedinsName"
                placeholder="请输入转往医院名称"
                maxlength="200"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="异地标志" prop="outFlag">
              <el-select v-model="reflRegFormEdit.outFlag" placeholder="异地标志" style="width:100%">
                <el-option
                  v-for="item in outFlags"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key"
                >
                  <span style="float: left">{{ item.value }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.key }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="转院日期" prop="reflDate">
              <el-date-picker
                v-model="reflRegFormEdit.reflDate"
                placeholder="请输入转院日期"
                :disabled="false"
                style="width: 100%;"
                type="date"
                format="yyyy 年 MM 月 dd 日"
              ></el-date-picker>
            </el-form-item>
          </el-col>

          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="转院结算标志" prop="reflSetlFlag">
              <el-select
                v-model="reflRegFormEdit.reflSetlFlag"
                placeholder="转院结算标志"
                style="width:100%"
              >
                <el-option
                  v-for="item in reflSetlFlags"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key"
                >
                  <span style="float: left">{{ item.value }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.key }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="代办人姓名" prop="agntName">
              <el-input
                v-model="reflRegFormEdit.agntName"
                placeholder="请输入代办人姓名"
                maxlength="50"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="代办人证件类型" prop="agntCertType">
              <el-input
                v-model="reflRegFormEdit.agntCertType"
                placeholder="请输入代办人证件类型"
                maxlength="6"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="代办人证件号码" prop="agntCertno">
              <el-input
                v-model="reflRegFormEdit.agntCertno"
                placeholder="请输入代办人证件号码"
                maxlength="30"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="代办人联系方式" prop="agntTel">
              <el-input
                v-model="reflRegFormEdit.agntTel"
                placeholder="请输入代办人联系方式"
                maxlength="30"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="代办人联系地址" prop="agntAddr">
              <el-input
                v-model="reflRegFormEdit.agntAddr"
                placeholder="请输入代办人联系地址"
                maxlength="200"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="审批标志" prop="apprFlag">
              <el-select
                v-model="reflRegFormEdit.apprFlag"
                filterable
                placeholder="请输入审批标志"
                style="width:100%"
              >
                <el-option
                  v-for="item in apprFlags"
                  :key="item.key"
                  :label="item.value"
                  :value="item.key"
                >
                  <span style="float: left">{{ item.value }}</span>
                  <span style="float: right; color: #8492a6; font-size: 13px">{{ item.key }}</span>
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="开始日期" prop="begndate">
              <el-date-picker
                v-model="reflRegFormEdit.begndate"
                placeholder="请输入开始日期"
                :disabled="false"
                :picker-options="begindateOptions"
                @change="begindateChange"
                style="width: 100%;"
                type="date"
                format="yyyy 年 MM 月 dd 日"
              ></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="结束日期" prop="enddate">
              <el-date-picker
                v-model="reflRegFormEdit.enddate"
                placeholder="请输入结束日期"
                :disabled="false"
                :picker-options="enddateOptions"
                @change="enddateChange"
                style="width: 100%;"
                type="date"
                format="yyyy 年 MM 月 dd 日"
              ></el-date-picker>
            </el-form-item>
          </el-col>

          <el-col :sm="24" :md="24" :lg="8">
            <el-form-item label="备注" prop="memo">
              <el-input
                v-model="reflRegFormEdit.memo"
                placeholder="请输入备注"
                maxlength="500"
                :disabled="false"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>

      <div slot="footer" class="dialog-footer">
        <el-button @click="reflRegEditCancel" size="medium">取 消</el-button>
        <el-button
          type="primary"
          @click="reflRegEditConfirm"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >保 存</el-button>
      </div>
    </el-dialog>
  </el-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
//import layoutMixin from '@ncp-web/el-ui/lib/mixins/adaptive-layout-mixin'
import layoutMixin from '@ncp-web/element-ui-local/lib/mixins/block-layout-mixin'
import { tableDataFilter, getValueByKey } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './psn-info-mngr.service'
import PsnInfoQueryClass from '@/modules/newinsu/class/psn-info-mngr-query.class'
import ReflRegClass from '@/modules/newinsu/class/refl-reg-mngr.class'
import FixmedinsClass from '@/modules/newinsu/class/fixmedins-mngr.class'

var triggerDateCheckCode = "";

export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () { },
  computed: {},
  methods: {
    clear () {
      this.psnInfo = new PsnInfoQueryClass()
      this.reflRegFormEdit = new ReflRegClass()
      this.fixmedins = new FixmedinsClass()

      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.reflRegList = []
      this.fixmedinsList = []
      this.fixmedinsLoading = false
      this.tableLoading = false
      this.queryLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.notAllowClick = true
    },
    // 异步调用，一律采用 async/await 语法
    // 查询参保信息
    async queryPsnInfo () {
      try {
        this.queryLoading = true;
        // if(this.psnInfo.psnNo == "" || this.psnInfo.psnNo == null){
        //   this.psnInfo.psnNo = "1001";
        // }
        if (this.psnInfo.psnNo == "" || this.psnInfo.psnNo == null) {
          this.$message.info("请输入人员编号！");
          this.$refs['markPsnNo'].focus();
          return;
        }
        this.tableLoading = true;
        const psnInfoResult = await Service.resources.getById(this.psnInfo.psnNo);

        if (psnInfoResult == null) {
          this.$message.info("该人员信息不存在！")
          this.reflRegList = [];
          var psnNo = this.psnInfo.psnNo;
          this.psnInfo = new PsnInfoQueryClass();
          this.psnInfo.psnNo = psnNo;
        } else {
          this.psnInfo = psnInfoResult;
          if (this.psnInfo.insuStas != '1') {
            //处理为空情况
            this.$message.warning("该人员未参保或参保状态异常！");
          } else {
            //this.$message.info("该人员可以正常登记！");
            //查询已登记信息
            this.notAllowClick = false;
            this.queryReflReg();
          }
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询基本信息异常！" + errStr)
      } finally {
        this.tableLoading = false;
        this.queryLoading = false;
      }

    },

    // 查询已登记信息
    async queryReflReg () {
      try {
        this.tableLoading = true;

        const reflRegResult = await Service.resources.getReflRegByPage(this.psnInfo.psnNo, this.paginationConfig);
        if (reflRegResult.result.length == '0') {
          this.$message.info("没有已登记数据！")
          this.reflRegList = []
        } else {
          this.reflRegList = reflRegResult.result
          this.paginationConfig.pageNumber = reflRegResult.pageNumber
          this.paginationConfig.pageSize = reflRegResult.pageSize
          this.paginationConfig.total = reflRegResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询登记信息异常！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async addReflReg () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true

        await Service.resources.post(this.reflRegFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryReflReg()
      } catch (err) {

        if (!this.triggerDateCheck(err)) {
          this.$message.error("新增失败！" + err.message)
        }
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateReflReg () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.reflRegFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryReflReg()
      } catch (err) {
        if (!this.triggerDateCheck(err)) {
          this.$message.error("更新失败！" + err.message)
        }

      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async deleteReflReg (id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryReflReg()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    async fixmedinsRemoteAsync (fixId) {
      try {
        const reflRegResult = await Service.resources.getFisById(fixId);
        if (reflRegResult.length == '0') {
          this.fixmedinsList = []
        } else {
          this.fixmedinsList = reflRegResult;
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询定点机构异常！" + errStr)
      } finally {
        this.fixmedinsLoading = false;
      }
    },
    async fixmedinsCodeSelect (fixId, type) {
      try {
        const fixResult = await Service.resources.getFixById(fixId);
        if (fixResult == null) {
          this.$message.error("该定点机构不存在！")
        } else {
          if (type == "0") {
            this.reflRegFormEdit.fixmedinsName = fixResult.fixmedinsName;
            this.reflRegFormEdit.medinsLv = fixResult.medinsLv;
            this.reflRegFormEdit.fixmedinsPoolarea = fixResult.cntrAdmdvs;
          } else {
            this.reflRegFormEdit.reflinMedinsName = fixResult.fixmedinsName;
          }

        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询定点机构异常！" + errStr)
      } finally {
        this.fixmedinsLoading = false;
      }
    },
    //通过id模糊查询机构编号
    fixmedinsRemote (fixId) {

      this.fixmedinsLoading = true;
      setTimeout(() => {
        if (fixId.type == "focus") {
          this.fixmedinsRemoteAsync("");
        } else {
          this.fixmedinsRemoteAsync(fixId);
        }
      }, 200);
    },
    resetReflRegEditForm () {
      this.$refs.reflRegEditForm.resetFields();
    },
    reflRegEditCancel () {
      this.resetReflRegEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.reflRegFormEdit = new ReflRegClass()
      triggerDateCheckCode = "";
      //表单初始值
      var date = new Date();
      var dateStr = date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' 00:00:00';
      this.reflRegFormEdit.begndate = new Date(dateStr);
      this.reflRegFormEdit.dclaSouc = "中心经办系统";
      this.reflRegFormEdit.psnNo = this.psnInfo.psnNo;
      this.reflRegFormEdit.valiFlag = "1";
      this.reflRegFormEdit.apprFlag = "1";

      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.reflRegEditForm.clearValidate()
      })
    },
    showEditDialog (row) {
      triggerDateCheckCode = "";
      this.reflRegFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.reflRegEditForm.clearValidate()
      })
    },
    reflRegEditConfirm () {
      this.$refs.reflRegEditForm.validate((valid) => {
        if (valid) {
          if (!this.reflRegFormEdit.enddate) {
            this.reflRegFormEdit.enddate = new Date(this.reflRegFormEdit.begndate.valueOf());
            this.reflRegFormEdit.enddate.setFullYear(this.reflRegFormEdit.enddate.getFullYear() + 1);
          }
          if (this.operateType === 'update') {
            this.updateReflReg();
          } else {
            this.addReflReg();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteReflReg(row.trtDclaDetlSn)
      })
    },
    //个人编号改变
    psnNoChange () {
      this.notAllowClick = true;
      this.setButtonDisabled();
    },
    fixmedinsCodeChange (code) {
      this.fixmedinsCodeSelect(code, "0");
    },
    reflinMedinsNoChange (code) {
      this.fixmedinsCodeSelect(code, "1");
    },
    begindateChange () {
      triggerDateCheckCode = "";
      this.$refs.reflRegEditForm.validateField("begndate");
    },
    enddateChange () {
      triggerDateCheckCode = "";
      this.$nextTick(() => {
        this.$refs.reflRegEditForm.validateField("enddate");
      });
    },
    triggerDateCheck (data) {
      try {
        const result = JSON.parse(data.message);
        triggerDateCheckCode = result.code;
        if (triggerDateCheckCode == "24003") {
          this.$refs.reflRegEditForm.validateField("begndate");
          return true;
        } else if (triggerDateCheckCode == "24004") {
          this.$refs.reflRegEditForm.validateField("enddate");
          return true;
        }
      } catch (e) {
        return false;
      }
    },
    diseCodeChanged (key) {

      var diseCodes = this.diseCodes;
      var len = diseCodes.length

      for (var i = 0; i < len; i++) {
        if (key === diseCodes[i].key) {
          this.reflRegFormEdit.diseName = diseCodes[i].value;
          return;
        }
      }
    },

    // row：行数据 rowIndex：行索引 callBack：回调函数
    handleRowClassName (row, rowIndex, callBack) {
      if (rowIndex % 2 === 1) {
        // 奇数行显示的样式：'warning-row'
        callBack('success-row');
      }
    },

    setButtonDisabled () {

    }

  },

  data () {
    const reflRegs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '待遇申报流水号', prop: 'trtDclaDetlSn', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '申报来源', prop: 'dclaSouc', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '定点医药机构编号', prop: 'fixmedinsCode', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '定点医药机构名称', prop: 'fixmedinsName', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '医药机构等级', prop: 'medinsLv', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '定点归属机构', prop: 'fixmedinsPoolarea', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '诊断代码', prop: 'diseCode', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '诊断名称', prop: 'diseName', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '疾病病情描述', prop: 'diseCondDscr', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '转往定点机构编号', prop: 'reflinMedinsNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '转往医院名称', prop: 'reflinMedinsName', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '异地标志', prop: 'outFlag', width: '120px',
        filters: [{ filter: cellValue => { return getValueByKey(cellValue, this.outFlags) } }],      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '转院日期', prop: 'reflDate',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '转院原因', prop: 'reflRea', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '转院结算标志', prop: 'reflSetlFlag', width: '120px',
        filters: [{ filter: cellValue => { return getValueByKey(cellValue, this.reflSetlFlags) } }],      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '代办人姓名', prop: 'agntName', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '代办人证件类型', prop: 'agntCertType', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '代办人证件号码', prop: 'agntCertno', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '代办人联系方式', prop: 'agntTel', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '代办人联系地址', prop: 'agntAddr', width: '120px' },
      {        align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '审批标志', prop: 'apprFlag', width: '120px',
        filters: [{ filter: cellValue => { return getValueByKey(cellValue, this.apprFlags) } }],      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '开始日期', prop: 'begndate',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '结束日期', prop: 'enddate',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '有效标志', prop: 'valiFlag', width: '120px',
        filters: [{ filter: cellValue => { return getValueByKey(cellValue, this.valiFlags) } }],      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '备注', prop: 'memo', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '更新时间', prop: 'updtTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'right', label: '操作', type: 'Button', disabled: false,
        buttonGroup: [
          { id: 'editBtn', type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { id: 'deleteBtn', type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) }],
        width: '120px',
        fixed: 'right'
      }

    ]

    var checkReflinMedinsNo = (rule, value, callback) => {
      if (this.reflRegFormEdit.reflinMedinsNo) {
        if (this.reflRegFormEdit.fixmedinsCode == this.reflRegFormEdit.reflinMedinsNo) {
          return callback(new Error('转往医疗机构不能和转出机构相同!'));
        }
      } else {
        return callback(new Error('转往医疗机构不能为空!'));
      }
      callback();
    }

    var checkBeginDate = (rule, value, callback) => {
      if (triggerDateCheckCode != "") {
        if (triggerDateCheckCode == "24003") {
          return callback(new Error('开始时间与已存在时间区间重叠'));
        }
      }
      callback();
    }

    var checkEndDate = (rule, value, callback) => {
      if (triggerDateCheckCode != "") {
        if (triggerDateCheckCode == "24004") {
          return callback(new Error('结束时间与已存在时间区间重叠'));
        }
      }
      callback();
    }


    const reflRegRules = {
      dclaSouc: [{ required: true, message: '请填写申报来源', trigger: 'blur' },
      { max: 6, message: '长度不能超过 6 个字符', trigger: 'blur' }
      ],
      fixmedinsCode: [{ required: true, message: '请填写定点医药机构编号', trigger: ['blur', 'change'] },
      { max: 30, message: '长度不能超过 30 个字符', trigger: ['blur', 'change'] }
      ],
      fixmedinsName: [{ required: false, message: '请填写定点医药机构名称', trigger: 'change' },
      { max: 200, message: '长度不能超过 200 个字符', trigger: 'change' }
      ],
      medinsLv: [{ required: false, message: '请填写医药机构等级', trigger: 'change' },
      { max: 6, message: '长度不能超过 6 个字符', trigger: 'change' }
      ],
      fixmedinsPoolarea: [{ required: false, message: '请填写定点归属机构', trigger: 'change' },
      { max: 6, message: '长度不能超过 6 个字符', trigger: 'change' }
      ],
      diseCode: [{ required: true, message: '请填写诊断代码', trigger: 'change' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'change' }
      ],
      diseName: [{ required: false, message: '请填写诊断名称', trigger: 'change' },
      { max: 300, message: '长度不能超过 300 个字符', trigger: 'change' }
      ],
      diseCondDscr: [{ required: true, message: '请填写疾病病情描述', trigger: 'blur' },
      { max: 1000, message: '长度不能超过 1000 个字符', trigger: 'blur' }
      ],
      reflinMedinsNo: [{ required: true, message: '请填写转往定点机构编号', trigger: ['blur', 'change'] },
      { validator: checkReflinMedinsNo, trigger: ['blur', 'change'] }
      ],
      reflinMedinsName: [{ required: false, message: '请填写转往医院名称', trigger: 'change' },
      { max: 200, message: '长度不能超过 200 个字符', trigger: 'change' }
      ],
      outFlag: [{ required: false, message: '请选择异地标志', trigger: 'change' }],
      reflDate: [{ required: false, type: 'date', message: '请选择转院日期', trigger: 'change' }],
      reflRea: [{ required: true, message: '请填写转院原因', trigger: 'blur' },
      { max: 2000, message: '长度不能超过 2000 个字符', trigger: 'blur' }
      ],
      reflSetlFlag: [{ required: false, message: '请选择转院结算标志', trigger: 'change' }],
      agntName: [{ required: false, message: '请填写代办人姓名', trigger: 'blur' },
      { max: 50, message: '长度不能超过 50 个字符', trigger: 'blur' }
      ],
      agntCertType: [{ required: false, message: '请填写代办人证件类型', trigger: 'blur' },
      { max: 6, message: '长度不能超过 6 个字符', trigger: 'blur' }
      ],
      agntCertno: [{ required: false, message: '请填写代办人证件号码', trigger: 'blur' },
      { max: 30, message: '长度不能超过 30 个字符', trigger: 'blur' }
      ],
      agntTel: [{ required: false, message: '请填写代办人联系方式', trigger: 'blur' },
      { max: 30, message: '长度不能超过 30 个字符', trigger: 'blur' }
      ],
      agntAddr: [{ required: false, message: '请填写代办人联系地址', trigger: 'blur' },
      { max: 200, message: '长度不能超过 200 个字符', trigger: 'blur' }
      ],
      begndate: [{ required: true, type: 'date', message: '请选择开始日期', trigger: ['blur', 'change'] },
      { validator: checkBeginDate, trigger: 'change' }],
      enddate: [{ required: false, type: 'date', message: '请选择结束日期', trigger: 'change' },
      { validator: checkEndDate, trigger: 'change' }],
      valiFlag: [{ required: true, message: '请选择有效标志', trigger: 'change' }],
      memo: [{ required: false, message: '请填写备注', trigger: 'blur' },
      { max: 500, message: '长度不能超过 500 个字符', trigger: 'blur' }
      ],
    };





    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },

      reflRegTabColDefs: reflRegs,
      reflRegList: [],
      tableLoading: false,
      fixmedinsLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      queryLoading: false,
      notAllowClick: true,
      editDialogVisible: false,
      psnInfo: new PsnInfoQueryClass(),
      reflRegFormEdit: new ReflRegClass(),
      fixmedins: new FixmedinsClass(),
      fixmedinsList: [],
      reflRegEditFormRules: reflRegRules,
      begindateOptions: {
        disabledDate: time => {
          if (this.reflRegFormEdit.enddate) {
            return time.getTime() > new Date(this.reflRegFormEdit.enddate).getTime()
          }
        }
      },
      enddateOptions: {
        disabledDate: time => {
          if (this.reflRegFormEdit.begndate) {
            return time.getTime() < new Date(this.reflRegFormEdit.begndate).getTime()
          }
        }
      },
      valiFlags: [{
        key: '0',
        value: '无效'
      }, {
        key: '1',
        value: '有效'
      }],
      apprFlags: [{
        key: '0',
        value: '已提交'
      }, {
        key: '1',
        value: '审批通过'
      }, {
        key: '2',
        value: '审批不通过'
      }],
      outFlags: [{
        key: '0',
        value: '异地'
      }, {
        key: '1',
        value: '本地'
      }],
      reflSetlFlags: [{
        key: '0',
        value: '未结算'
      }, {
        key: '1',
        value: '已结算'
      }],
      diseCodes: [{
        key: '100021',
        value: '胆囊炎'
      }, {
        key: '256475',
        value: '痔疮'
      }, {
        key: '365874',
        value: '心脏病'
      }, {
        key: '457896',
        value: '普通感冒'
      }
      ]
    }
  }
}
</script>
<style>
.el-table .success-row {
  background: #f0f9eb;
}
</style>
