<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
            :model="databaseInfoBFormQuery"
            label-position="right"
            label-width="120px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row collapseBtn>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="数据源编号">
                  <el-input
                    v-model="databaseInfoBFormQuery.dsNo"
                    placeholder="请输入数据源编号"
                    maxlength="40"
                    :disabled="databaseInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="数据源名称">
                  <el-input
                    v-model="databaseInfoBFormQuery.dsName"
                    placeholder="请输入数据源名称"
                    maxlength="100"
                    :disabled="databaseInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <!-- <template slot="footbar">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryDatabaseInfoB">查询</el-button>
              </template>-->
              <el-form-item style="float: right">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryDatabaseInfoB">查询</el-button>
              </el-form-item>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button size="medium" type="success" @click="showAddDialog">增加</el-button>
          </template>

          <ncp-table
            :columnDefs="databaseInfoBTabColDefs"
            :data="databaseInfoBList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryDatabaseInfoB"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>

    <el-dialog
      title="数据源信息表"
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
      class="hsa-dialog"
    >
      <el-form
        :model="databaseInfoBFormEdit"
        label-position="right"
        label-width="120px"
        size="medium"
        :rules="databaseInfoBEditFormRules"
        ref="databaseInfoBEditForm"
        @submit.native.prevent
      >
        <hsa-row>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="数据源编号" prop="dsNo">
              <el-input
                v-model="databaseInfoBFormEdit.dsNo"
                placeholder="请输入数据源编号"
                maxlength="40"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="数据源" prop="ds">
              <el-select
                v-model="databaseInfoBFormEdit.ds"
                placeholder="请选择数据源"
                maxlength="40"
                @change="dsChange"
                :disabled="databaseInfoBFormEditDisabled"
                style="width:100%"
              >
                <el-option label="MYSQL" value="MYSQL"></el-option>
                <el-option label="ORACLE" value="ORACLE"></el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="数据源名称" prop="dsName">
              <el-input
                v-model="databaseInfoBFormEdit.dsName"
                placeholder="请输入数据源名称"
                maxlength="100"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>

          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="用户名  " prop="userName">
              <el-input
                v-model="databaseInfoBFormEdit.userName"
                placeholder="请输入用户名  "
                maxlength="20"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="密码" prop="pwd">
              <el-input
                type="password"
                v-model="databaseInfoBFormEdit.pwd"
                placeholder="请输入密码"
                maxlength="40"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="连接串" prop="connectstring">
              <el-input
                v-model="databaseInfoBFormEdit.connectstring"
                placeholder="请输入连接串"
                maxlength="200"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="驱动" prop="driver">
              <el-input
                v-model="databaseInfoBFormEdit.driver"
                placeholder="请输入驱动"
                maxlength="200"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>

          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="描述" prop="dscr">
              <el-input
                v-model="databaseInfoBFormEdit.dscr"
                placeholder="请输入描述"
                maxlength="65535"
                :disabled="databaseInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="databaseInfoBEditCancel" size="medium">取 消</el-button>
        <el-button
          @click="testConnect"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >测 试</el-button>
        <el-button
          type="primary"
          @click="databaseInfoBEditConfirm"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >保 存</el-button>
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './database-info-b-mngr.service'
import DatabaseInfoBClass from '@/modules/datacheck/databasemanage/class/database-info-b-mngr.class'
import DatabaseInfoBQueryClass from '@/modules/datacheck/databasemanage/class/database-info-b-mngr-query.class'
export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    this.queryDatabaseInfoB();
  },
  computed: {},
  methods: {
    clear () {
      this.databaseInfoBFormQuery = new DatabaseInfoBQueryClass()
      this.databaseInfoBFormEdit = new DatabaseInfoBClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      //this.items = []
      this.databaseInfoBList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.databaseInfoBFormDisabled = false
      this.databaseInfoBFormEditDisabled = false
    },

    // 异步调用，一律采用 async/await 语法
    async queryDatabaseInfoB () {
      try {
        this.tableLoading = true;
        const databaseInfoBResult = await Service.resources.getByPage(this.databaseInfoBFormQuery, this.paginationConfig)
        if (databaseInfoBResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.databaseInfoBList = []
        } else {
          this.databaseInfoBList = databaseInfoBResult.result
          this.paginationConfig.pageNumber = databaseInfoBResult.pageNumber
          this.paginationConfig.pageSize = databaseInfoBResult.pageSize
          this.paginationConfig.total = databaseInfoBResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async addDatabaseInfoB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.databaseInfoBFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryDatabaseInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateDatabaseInfoB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.databaseInfoBFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryDatabaseInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async getItems () {
      try {
        const reflItemsResult = await Service.resources.getItems()
        if (reflItemsResult.length == '0') {
          this.items = []
        } else {
          this.items = reflItemsResult
        }
      } catch (err) {
        let errStr = err.message
        this.$message.error('获取项目异常！' + errStr)
      }
    },
    async deleteDatabaseInfoB (id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryDatabaseInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    resetDatabaseInfoBEditForm () {
      this.$refs.databaseInfoBEditForm.resetFields();
    },
    databaseInfoBEditCancel () {
      this.resetDatabaseInfoBEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.databaseInfoBFormEdit = new DatabaseInfoBClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showEditDialog (row) {
      this.databaseInfoBFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.databaseInfoBEditForm.clearValidate()
      })
    },
    databaseInfoBEditConfirm () {
      this.$refs.databaseInfoBEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateDatabaseInfoB();
          } else {
            this.addDatabaseInfoB();
          }
        } else {
          return false;
        }
      });
    },
    testConnect () {
      this.$refs.databaseInfoBEditForm.validate((valid) => {
        if (valid) {
          this.testConnectStatus();

        } else {
          return false;
        }
      });
    },
    async testConnectStatus () {
      this.dialogLoading = true
      this.buttonLoading = true
      try {
        await Service.resources.testConnect(this.databaseInfoBFormEdit);
        this.$message.info("连接成功！")
      } catch (err) {
        this.$message.error('连接失败！')
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteDatabaseInfoB(row.dsNo)
      })
    },
    dsChange (key) {
      if (key === "MYSQL") {
        this.databaseInfoBFormEdit.connectstring = "jdbc:mysql://{host}:{port}/{database}?serverTimezone=Asia/Shanghai&characterEncoding=utf-8";
        this.databaseInfoBFormEdit.driver = "com.mysql.cj.jdbc.Driver";

      } else if (key === "ORACLE") {
        this.databaseInfoBFormEdit.connectstring = "jdbc:oracle:thin:@//{host}:{port}/{database}";
        this.databaseInfoBFormEdit.driver = "oracle.jdbc.OracleDriver";
      }
    }
  },
  data () {
    const databaseInfoBColDefs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '数据源编号', prop: 'dsNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '数据源', prop: 'ds', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '数据源名称', prop: 'dsName', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '用户名  ', prop: 'userName', width: '120px' },

      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '连接串', prop: 'connectstring', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '驱动', prop: 'driver', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '描述', prop: 'dscr', width: '120px' },
      {        label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) }],
        width: '150px', fixed: 'right'
      }
    ]
    const databaseInfoBRules = {
      dsNo: [{ required: true, message: '请填写数据源编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      ds: [{ required: true, message: '请填写数据源', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      dsName: [{ required: true, message: '请填写数据源名称', trigger: 'blur' },
      { max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
      ],
      userName: [{ required: true, message: '请填写用户名  ', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      pwd: [{ required: true, message: '请填写密码', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      connectstring: [{ required: true, message: '请填写连接串', trigger: 'blur' },
      { max: 200, message: '长度不能超过 200 个字符', trigger: 'blur' }
      ],
      driver: [{ required: true, message: '请填写驱动', trigger: 'blur' },
      { max: 200, message: '长度不能超过 200 个字符', trigger: 'blur' }
      ],
      dscr: [{ required: false, message: '请填写描述', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      databaseInfoBTabColDefs: databaseInfoBColDefs,
      databaseInfoBList: [],
      tableLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      editDialogVisible: false,
      databaseInfoBFormDisabled: false,
      databaseInfoBFormEditDisabled: false,
      databaseInfoBFormQuery: new DatabaseInfoBQueryClass(),
      databaseInfoBFormEdit: new DatabaseInfoBClass(),
      databaseInfoBEditFormRules: databaseInfoBRules,
      //items: [],
      databases: [
        'MYSQL', 'ORACLE'
      ]
    }
  },
}
</script>

<style lang="scss" scoped></style>