<template>
  <div>
    <ncp-table
      :data="tableData"
      @rowClassName="handleRowClassName"
      :columnDefs="tableCloms"
      :enablePagination="true"
      :paginationConfig="paginationConfig"
      :useExternalPagination="true"
      @paginationConfigChange="queryRuleCheckResult"
      v-loading="tableLoading"
      :tableHeight="tableMaxHeight"
      show-overflow-tooltip
    ></ncp-table>
  </div>
</template>
<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import RuleCheckResultClass from '@/modules/datacheck/rulecheckresultdetailed/class/rule-check-result-mngr.class'
import Service from './rule-check-result-mngr.service'
export default {
  props: ['message'], //声明一个自定义的属性
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () {
    //this.queryRuleCheck();
  },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    //this.queryRuleCheck();

  },
  methods: {
    clear () {
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
    },
    // row：行数据 rowIndex：行索引 callBack：回调函数
    handleRowClassName (row, rowIndex, callBack) {
      callBack('style-row');
      if ((rowIndex % 2) === 1) {
        // 第二行显示的样式：'warning-row'
        callBack('success-row');
      }    },
    queryRuleCheck () {
      this.queryRuleCheckResult();
    },



    // 异步调用，一律采用 async/await 语法
    async queryRuleCheckResult () {
      try {
        this.tableLoading = true;
        this.tableData = []
        var ruleCheckResultResultClass = new RuleCheckResultClass();
        ruleCheckResultResultClass.ruleNo = this.message.ruleNo;
        ruleCheckResultResultClass.chkBtch = this.message.chkBtch;
        ruleCheckResultResultClass.tableName = this.message.tableName;
        ruleCheckResultResultClass.chkWater = this.message.chkWater;




        const ruleCheckResultResult = await Service.resources.getByDPage(ruleCheckResultResultClass, this.paginationConfig)
        if (ruleCheckResultResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.tableData = []
        } else {
          this.tableData = ruleCheckResultResult.result
          this.tableCloms = []
          var headTable = ruleCheckResultResult.head;

          for (var key in this.tableData[0]) {
            for (var value in headTable) {
              if (headTable[value].columnName === key) {
                var data = {};
                data['label'] = key;
                data['prop'] = key;
                data['width'] = "120px";
                data['showOverflowTooltip'] = true;
                if (headTable[value].columnComment !== '') {
                  data['label'] = headTable[value].columnComment;
                }
                this.tableCloms.push(data);
                continue;
              }
            }
          }
          this.paginationConfig.pageNumber = ruleCheckResultResult.pageNumber
          this.paginationConfig.pageSize = ruleCheckResultResult.pageSize
          this.paginationConfig.total = ruleCheckResultResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },



  },
  data () {
    return {
      tableData: [],
      tableCloms: [],
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },

    }
  }
}
</script>

<!-- 行样式，是回调函数中的入参 -->
<style>
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
</style>