html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "Pingfang SC";
  font-size: 14px;
  color: #303133;
}

* {
  font-family: Arial, "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "Pingfang SC";
}

#app {
  background-color: #f1f2f6;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  overflow: auto;
}

.pwi-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
}
