<template>
  <el-form
    label-width="120px"
    size="medium"
    :model="formData"
    :rules="formRules"
  >
    <hsa-row collapseBtn>
      <hsa-col :sm="24" :md="8" :lg="6">
        <el-form-item label="普通输入框" prop="text">
          <el-input
            size="medium"
            type="text"
            placeholder="请输入内容"
            v-model="formData.text"
            maxlength="10"
          >
          </el-input>
        </el-form-item>
      </hsa-col>
      <hsa-col :sm="24" :md="8" :lg="6">
        <el-form-item label="数字输入框" prop="num">
          <el-input size="medium" v-model.number="formData.num"></el-input>
        </el-form-item>
      </hsa-col>
      <hsa-col :sm="24" :md="8" :lg="6">
        <el-form-item label="放大镜查询" prop="input3">
          <el-input
            placeholder="请输入内容"
            v-model="formData.input3"
            size="medium"
          >
            <el-button
              slot="append"
              icon="el-icon-search"
              type="primary"
              @click="click"
            ></el-button>
          </el-input>
        </el-form-item>
      </hsa-col>
      <hsa-col :sm="24" :md="8" :lg="6">
        <el-form-item label="带有单位" prop="input4">
          <el-input
            placeholder="请输入内容"
            v-model.number="formData.input4"
            size="medium"
          >
            <template slot="append">
              %
            </template>
          </el-input>
        </el-form-item>
      </hsa-col>
      <hsa-col :sm="24" :md="8" :lg="6">
        <el-form-item label="人民币" prop="input5">
          <el-input
            placeholder="请输入内容"
            v-model.number="formData.input5"
            size="medium"
          >
            <template slot="append">
              ￥
            </template>
          </el-input>
        </el-form-item>
      </hsa-col>
    </hsa-row>
  </el-form>
</template>
<script>
export default {
  data() {
    return {
      formData: {
        num: 0,
        text: '',
        input3: '',
        input4: 0,
        input5: 0
      },
      formRules: {
        num: [
          { required: true, message: '必填信息' },
          { type: 'number', message: '必须是数字' }
        ],
        input4: [
          { required: true, message: '必填信息' },
          { type: 'number', message: '必须是数字' }
        ],
        input5: [
          { required: true, message: '必填信息' },
          { type: 'number', message: '必须是数字' }
        ]
      }
    }
  },
  methods: {
    click() {
      alert()
    }
  }
}
</script>

<style lang="scss" scoped></style>
