<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <!-- el-collapse 改为 hsa-title-pane，el-collapse-item 改为 hsa-title-pane-item -->
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <!-- label-width="xxpx" 必须设置固定 px，不允许使用 auto（ie 不支持） -->
          <!-- el-form 中去掉在每个 input/select 等组件上添加的 size="medium"，改为在 el-form 上添加： <el-form size="medium"> -->
          <el-form label-width="120px" size="medium" :model="queryData">
            <!-- el-row 组件替换为 hsa-row，el-col 替换为 hsa-col -->
            <!-- collapseBtn 属性可以自动渲染 展开/收起 按钮 -->
            <hsa-row collapseBtn>
              <hsa-col :sm="24" :md="8" :lg="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    placeholder="请输入服务事项编号"
                    v-model="queryData.data1"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="24" :md="8" :lg="6">
                <!-- 如果 form-item 中输入框控件长度未对齐，则使用 style="width: 100%" -->
                <el-form-item label="选择器">
                  <el-select
                    v-model="queryData.data2"
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :value="item.value"
                      :label="item.label"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="24" :md="8" :lg="6">
                <el-form-item label="时间选择器">
                  <el-time-select
                    v-model="queryData.data3"
                    :picker-options="{
                      start: '08:30',
                      step: '00:15',
                      end: '18:30'
                    }"
                    placeholder="选择时间"
                    style="width: 100%"
                  >
                  </el-time-select>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="查询条件一">
                  <el-input
                    placeholder="查询条件一"
                    v-model="queryData.data4"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="查询条件二">
                  <el-input
                    placeholder="查询条件二"
                    v-model="queryData.data5"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <!-- collapseCol 属性选择哪些 次重要 组件在 展开/收起 按钮触发后可以 展开/收起 -->
              <hsa-col :sm="12" :md="8" :lg="6" collapseCol>
                <el-form-item label="查询条件三">
                  <el-input
                    placeholder="查询条件三"
                    v-model="queryData.data6"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6" collapseCol>
                <el-form-item label="查询条件四">
                  <el-input
                    placeholder="查询条件四"
                    v-model="queryData.data7"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6" collapseCol>
                <el-form-item label="查询条件五">
                  <el-input
                    placeholder="查询条件五"
                    v-model="queryData.data8"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <template slot="footbar">
                <el-button type="primary" size="medium">重置</el-button>
                <el-button type="primary" size="medium">查询</el-button>
              </template>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane autoHeight>
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button type="success" size="medium">按钮</el-button>
            <el-button type="warning" size="medium">按钮</el-button>
            <el-button type="danger" size="medium">按钮</el-button>
            <el-button type="primary" size="medium">按钮</el-button>
            <el-button size="medium">按钮</el-button>
          </template>
          <!-- tableMaxHeight 为架构通过 layoutMixin 提供的表格高度，如果界面有其他元素导致计算结果不准确，可在此高度基础上进行操作来二次计算 -->
          <ncp-table
            :data="tableDataList"
            :columnDefs="columnDefs"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
  </hsa-adaptive-container>
</template>

<script>
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'

export default {
  mixins: [layoutMixin],
  created() {
    const realColumnDefs = [
      {
        label: '重要列一',
        prop: 'col1',
        width: '150px',
        fixed: 'left'
      },
      {
        label: '文本列',
        prop: 'col3',
        width: '200px',
        align: 'left'
      },
      {
        label: '时间列',
        prop: 'col4',
        width: '200px'
      },
      {
        label: '数字列',
        prop: 'col5',
        width: '200px',
        align: 'right'
      },
      {
        label: '金额列',
        prop: 'col6',
        width: '200px',
        align: 'right'
      },
      {
        label: '数据列七',
        prop: 'col7',
        width: '200px'
      },
      {
        label: '数据列八',
        prop: 'col7',
        width: '200px'
      },
      {
        label: '数据列九',
        prop: 'col7',
        width: '200px'
      },
      {
        label: '数据列十',
        prop: 'col7',
        width: '200px'
      }
    ]
    realColumnDefs.push({
      label: '操作',
      type: 'Button',
      buttonGroup: [
        {
          type: 'primary',
          icon: 'el-icon-edit',
          size: 'mini',
          title: '编辑'
        },
        {
          type: 'primary',
          icon: 'el-icon-view',
          size: 'mini',
          title: '查看/预览/详情'
        },
        {
          type: 'danger',
          icon: 'el-icon-delete',
          size: 'mini',
          title: '删除'
        },
        {
          type: 'warning',
          icon: 'el-icon-s-tools',
          size: 'mini',
          title: '设置/配置'
        },
        {
          type: 'success',
          icon: 'el-icon-check',
          size: 'mini',
          title: '确认'
        },
        {
          type: 'success',
          icon: 'el-icon-upload2',
          size: 'mini',
          title: '上传'
        }
      ],
      width: '280px',
      fixed: 'right'
    })
    this.columnDefs = realColumnDefs
  },
  data() {
    return {
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 12
      },
      queryData: {
        data1: '',
        data2: '',
        data3: '',
        data4: '',
        data5: '',
        data6: '',
        data7: '',
        data8: ''
      },
      options: [
        {
          value: '选项1',
          label: '黄金糕'
        },
        {
          value: '选项2',
          label: '双皮奶'
        }
      ],
      inputValue15: '',
      tableDataList: [
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        },
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped></style>
