<template>
  <div>
    <!-- 此处必须设置 :gutter="12"，这样才能实现左右两部分间隔 12px 的效果 -->
    <hsa-row :gutter="12">
      <hsa-col :span="8">
        <hsa-title-pane :value="['sidebar']">
          <hsa-title-pane-item title="侧边栏" name="sidebar">
            <el-tree
              :data="treeData"
              :props="defaultProps"
              class="sidebar-height"
            ></el-tree>
          </hsa-title-pane-item>
        </hsa-title-pane>
      </hsa-col>
      <hsa-col :span="16">
        <hsa-adaptive-container>
          <hsa-adaptive-pane>
            <hsa-title-pane :value="['rightPart1', 'rightPart2']">
              <hsa-title-pane-item title="右侧第一部分" name="rightPart1">
                <el-form label-width="120px" size="medium">
                  <hsa-row>
                    <hsa-col :sm="24" :md="12" :lg="8">
                      <el-form-item label="查询条件一">
                        <el-input placeholder="查询条件一"></el-input>
                      </el-form-item>
                    </hsa-col>
                    <hsa-col :sm="24" :md="12" :lg="8">
                      <el-form-item label="查询条件二">
                        <el-input placeholder="查询条件二"></el-input>
                      </el-form-item>
                    </hsa-col>
                    <hsa-col :sm="24" :md="12" :lg="8">
                      <el-form-item label="查询条件三">
                        <el-input placeholder="查询条件三"></el-input>
                      </el-form-item>
                    </hsa-col>
                    <hsa-col :sm="24" :md="12" :lg="8">
                      <el-form-item label="查询条件四">
                        <el-input placeholder="查询条件四"></el-input>
                      </el-form-item>
                    </hsa-col>
                    <hsa-col :sm="24" :md="12" :lg="8">
                      <el-form-item label="查询条件五">
                        <el-input placeholder="查询条件五"></el-input>
                      </el-form-item>
                    </hsa-col>
                  </hsa-row>
                </el-form>
              </hsa-title-pane-item>
            </hsa-title-pane>
          </hsa-adaptive-pane>
          <hsa-adaptive-pane autoHeight>
            <hsa-title-pane :value="['rightPart1', 'rightPart2']">
              <hsa-title-pane-item title="右侧第二部分" name="rightPart2">
                <ncp-table
                  :data="tableDataList"
                  :columnDefs="columnDefs"
                  :enablePagination="true"
                  :paginationConfig="paginationConfig"
                  :tableHeight="tableHeight"
                ></ncp-table>
              </hsa-title-pane-item>
            </hsa-title-pane>
          </hsa-adaptive-pane>
        </hsa-adaptive-container>
      </hsa-col>
    </hsa-row>
  </div>
</template>

<script>
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'

export default {
  mixins: [layoutMixin],
  created() {
    const realColumnDefs = [
      {
        label: '重要列一',
        prop: 'col1',
        width: '150px',
        fixed: 'left'
      },
      {
        label: '文本列',
        prop: 'col3',
        width: '200px',
        align: 'left'
      },
      {
        label: '时间列',
        prop: 'col4',
        width: '200px'
      },
      {
        label: '数字列',
        prop: 'col5',
        width: '200px',
        align: 'right'
      },
      {
        label: '金额列',
        prop: 'col6',
        width: '200px',
        align: 'right'
      },
      {
        label: '数据列七',
        prop: 'col7'
      }
    ]
    realColumnDefs.push({
      label: '操作',
      type: 'Button',
      buttonGroup: [
        {
          type: 'primary',
          icon: 'el-icon-edit',
          size: 'mini',
          title: '编辑'
        },
        {
          type: 'primary',
          icon: 'el-icon-view',
          size: 'mini',
          title: '查看/预览/详情'
        },
        {
          type: 'danger',
          icon: 'el-icon-delete',
          size: 'mini',
          title: '删除'
        },
        {
          type: 'warning',
          icon: 'el-icon-s-tools',
          size: 'mini',
          title: '设置/配置'
        },
        {
          type: 'success',
          icon: 'el-icon-check',
          size: 'mini',
          title: '确认'
        },
        {
          type: 'success',
          icon: 'el-icon-upload2',
          size: 'mini',
          title: '上传'
        }
      ],
      width: '280px',
      fixed: 'right'
    })
    this.columnDefs = realColumnDefs
  },
  data() {
    return {
      tableDataList: [
        {
          col1: 1,
          col2: 1,
          col3: '文本内容',
          col4: '2019-12-30',
          col5: 12.34,
          col6: 20.56,
          col7: 1
        }
      ],
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 12
      },
      treeData: [
        {
          label: '一级 1',
          children: [
            {
              label: '二级 1-1',
              children: [
                {
                  label: '三级 1-1-1'
                }
              ]
            }
          ]
        },
        {
          label: '一级 2',
          children: [
            {
              label: '二级 2-1',
              children: [
                {
                  label: '三级 2-1-1'
                }
              ]
            },
            {
              label: '二级 2-2',
              children: [
                {
                  label: '三级 2-2-1'
                }
              ]
            }
          ]
        },
        {
          label: '一级 3',
          children: [
            {
              label: '二级 3-1',
              children: [
                {
                  label: '三级 3-1-1'
                }
              ]
            },
            {
              label: '二级 3-2',
              children: [
                {
                  label: '三级 3-2-1'
                }
              ]
            }
          ]
        }
      ],
      defaultProps: {
        children: 'children',
        label: 'label'
      }
    }
  },
  computed: {
    // this.tableMaxHeight 为架构通过 layoutMixin 提供的表格初始高度（带单位 px），可随着屏幕分辨率变化
    // 此处的计算属性 tableHeight 是由 this.tableMaxHeight 二次计算获得（由于没有额外元素影响计算结果，所以此处减去 0px）
    tableHeight() {
      return parseFloat(this.tableMaxHeight) - 0 + 'px'
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar-height {
  // 计算侧边栏中树形控件的高度：
  // 100vh 表示视窗高度，16px 是侧边栏距上边界高度，36px 是侧边栏标题栏高度
  height: calc(100vh - 16px - 36px);
}
</style>
