<template>
  <div>
    <el-button type="primary" icon="el-icon-download" @click="download"
      >下载文件</el-button
    >
  </div>
</template>

<script>
import fileService from './file-download.service'

export default {
  methods: {
    download() {
      fileService.file.get().then(res => {
        // 处理返回的文件流
        const content = res.data
        const blob = new Blob([content])
        const fileName = 'test.docx'
        if ('download' in document.createElement('a')) {
          // 非IE下载
          const elink = document.createElement('a')
          elink.download = fileName
          elink.style.display = 'none'
          elink.href = URL.createObjectURL(blob)
          document.body.appendChild(elink)
          elink.click()
          URL.revokeObjectURL(elink.href) // 释放URL 对象
          document.body.removeChild(elink)
        } else {
          // IE10+下载
          navigator.msSaveBlob(blob, fileName)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
