/*------------layout------------*/
.resume {
    padding: 20px 35px;
    margin: 0 auto 0 auto;
    font-size: 14px;
    color:#303133;
    max-width: 600px;
}
table {
    width: 100%;
}
/*------------header------------*/
.resume-header p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*------------title & container------------*/
.resume-title p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume-title hr {
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume-container {
    margin-bottom: 25px;
}
.resume-container p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume-container img{
    float: right;
    margin-right: 25px;
}
.resume-container td {
    height: 25px;
}