<template>
  <adaptive-container class="resume">
    <table>
      <caption>
        专家个人信息表
      </caption>
      <tbody>
        <tr>
          <td width="65px">
            <!-- &emsp;表示一个中文汉字 -->
            <div>姓&emsp;名</div>
          </td>
          <td width="81px">何文炯</td>
          <td width="81px">性&emsp;别</td>
          <td width="81px">男</td>
          <td width="81px">年&emsp;龄</td>
          <td width="81px">59岁</td>
          <td rowspan="3" class="resume-pic">
            <img src="@/assets/person1.jpg" alt="个人照片" />
          </td>
        </tr>
        <tr>
          <td>
            <div>联&emsp;系</div>
            <div>方&emsp;式</div>
          </td>
          <td>13505713616</td>
          <td>
            <div>政&emsp;治</div>
            <div>面&emsp;貌</div>
          </td>
          <td>共产党员</td>
          <td>
            <div>社&emsp;会</div>
            <div>职&emsp;务</div>
          </td>
          <td>其他</td>
        </tr>
        <tr>
          <td>
            <div>单&emsp;位</div>
          </td>
          <td colspan="2">
            浙江大学公共管理学院
          </td>
          <td>
            <div>职&emsp;务</div>
            <div>职&emsp;称</div>
          </td>
          <td colspan="2">教授</td>
        </tr>
        <tr>
          <td rowspan="2"><p class="vertical">专业领域</p></td>
          <td>
            <div>
              代&emsp;码
            </div>
          </td>
          <td colspan="5">T; J; X</td>
        </tr>
        <tr>
          <td>说&emsp;明</td>
          <td colspan="5">T社会保障; J金融学（含保险）; X公共政策学</td>
        </tr>
        <tr>
          <td><p class="vertical">学术成果</p></td>
          <td colspan="6">
            <!-- space:首行空两格 -->
            <p class="details space">
              主持国家自然科学基金重大项目、国家社会科学基金重大项目和省部级重大项目16项，
              发表论文90余篇，获省部级一等奖3项；若干成果引起全国人大和国务院主要领导重视，
              直接服务于国家立法、国务院文件和国家规划。
            </p>
          </td>
        </tr>
        <tr>
          <td><p class="vertical">职业经历</p></td>
          <td colspan="6">
            <p class="details space">
              1982年大学毕业留校任教，1985年起任副处长、处长。现任浙江大学社会科学学部副主任、
              浙江大学民生保障与公共治理研究中心主任、浙江大学老龄和健康研究中心主任；中国社会
              保障学会副会长、中国保险学会副会长、中国残疾人事业发展研究会副会长；民政部、农业
              农村部、浙江省政府咨询专家，浙江省人大和浙江省政府立法咨询专家。
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </adaptive-container>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
@import 'resume-table.scss';
</style>
