/*------------layout------------*/
.resume {
    padding: 20px 20px;
    margin: 0 auto 0 auto;
    font-size: 14px;
    color:#303133;
    max-width: 600px;
}
table {
    width: 100%;
}
/*------------collapse------------*/
.el-collapse, .el-collapse-item {
    margin-bottom: 15px;
}
.el-collapse-item {
    box-shadow: 1px 1px 3px #30313349;
}
.collapseTitleSpan {
    flex: 1 0 90%;
    order: 1;
}
.el-collapse-item__content {
    padding-bottom: 8px;
}