<template>
  <adaptive-container class="resume">
    <!-- 基本信息 -->
    <el-collapse v-model="collapseTitle">
      <el-collapse-item name="panel-title-1">
        <template slot="title">
          <span class="collapseTitleSpan">基本信息</span>
        </template>
        <table>
          <tbody>
            <tr>
              <td width="15%">姓名</td>
              <td>何文炯</td>
              <td width="15%">性别</td>
              <td>男</td>
              <td rowspan="4">
                <img src="@/assets/person1.jpg" alt="个人照片" width="80px" />
              </td>
            </tr>
            <tr>
              <td>年龄</td>
              <td>59岁</td>
              <td>联系方式</td>
              <td>13505713616</td>
            </tr>
            <tr>
              <td>政治面貌</td>
              <td>共产党员</td>
              <td>社会职务</td>
              <td>其他</td>
            </tr>
            <tr>
              <td>单位</td>
              <td>浙江大学公共管理学院</td>
              <td>职务职称</td>
              <td>教授</td>
            </tr>
          </tbody>
        </table>
      </el-collapse-item>
      <!-- 专业领域 -->
      <el-collapse-item name="panel-title-2">
        <template slot="title">
          <span class="collapseTitleSpan">专业领域</span>
        </template>
        <table>
          <tbody>
            <tr>
              <td width="15%">代码</td>
              <td>T; J; X</td>
            </tr>
            <tr>
              <td>说明</td>
              <td>T社会保障; J金融学（含保险）; X公共政策学</td>
            </tr>
          </tbody>
        </table>
      </el-collapse-item>
      <!-- 学术成果 -->
      <el-collapse-item name="panel-title-3">
        <template slot="title">
          <span class="collapseTitleSpan">学术成果</span>
        </template>
        <table>
          <tbody>
            <tr>
              <td>
                <p>
                  主持国家自然科学基金重大项目、国家社会科学基金重大项目和省部级重大项目16项，
                  发表论文90余篇，获省部级一等奖3项；若干成果引起全国人大和国务院主要领导重视，
                  直接服务于国家立法、国务院文件和国家规划。
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </el-collapse-item>
      <!-- 职业经历 -->
      <el-collapse-item name="panel-title-4">
        <template slot="title">
          <span class="collapseTitleSpan">职业经历</span>
        </template>
        <table>
          <tbody>
            <tr>
              <td>
                <p>
                  1982年大学毕业留校任教，1985年起任副处长、处长。现任浙江大学社会科学学部副主任、
                  浙江大学民生保障与公共治理研究中心主任、浙江大学老龄和健康研究中心主任；中国社会
                  保障学会副会长、中国保险学会副会长、中国残疾人事业发展研究会副会长；民政部、农业
                  农村部、浙江省政府咨询专家，浙江省人大和浙江省政府立法咨询专家
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </el-collapse-item>
    </el-collapse>
  </adaptive-container>
</template>

<script>
export default {
  data() {
    return {
      collapseTitle: [
        'panel-title-1',
        'panel-title-2',
        'panel-title-3',
        'panel-title-4'
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'resume-collapse.scss';
</style>
