$_height-caption : 64px;

$_font-size-caption : 28px;
$_font-size-body : 14px;
$_font-size-small : 12px;

* {
    box-sizing: border-box;
}

/* caption */
caption {
    height: $_height-caption;
    line-height: $_height-caption;
    font-size: $_font-size-caption;
}
/* table */
table {
    width: 627px;
    padding: 5px;
    margin: 0 auto;
    border-collapse: collapse;
    font-size: $_font-size-body;
    table-layout: fixed;
}
table,th, td {
    border: 1px solid black;
}
td {
    text-align: center;
    vertical-align: middle;
    padding: 10px 6px;
    word-break: break-all;
    word-wrap:break-word;
}
tr {
    min-height: 79px;
}
.resume-pic img {
    max-width: 140px;
    max-height: 229px;
}
.font-small {
    font-size: $_font-size-small;
}
.vertical {
    writing-mode:vertical-lr;
    margin: 0 auto;
}
.details {
    padding: 10px;
    text-align: left;
    line-height: 1.5em;
}
.space {
    text-indent:2em;
}