/*------------layout------------*/
.resume {
    padding: 20px 35px;
    margin: 0 auto 0 auto;
    font-size: 14px;
    color:#303133;
    max-width: 600px;
    position: relative;
}
table {
    width: 100%;
}
/*------------header------------*/
.resume-header p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.resume-header {
    text-align: center;
}
/*------------title & container------------*/
.resume-title p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume-title hr {
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume > .resume-container {
    margin-bottom: 25px;
}
.resume :nth-child(3) {
    margin-bottom: 15px;
}
.resume-container p{
    padding-right: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.resume-container td {
    height: 25px;
}
.resume img {
    position: absolute;
    right: 50px;
    top: 95px;
}