<template>
  <div>
    <el-button @click="polling">开始轮询</el-button>
  </div>
</template>

<script>
import pollingService from './polling.service'
const resources = pollingService.resources

export default {
  methods: {
    polling() {
      setInterval(this.pollingReq, 2000)
    },
    async pollingReq() {
      await resources.polling.get()
      this.$notify({
        title: '成功',
        message: '轮询请求成功！',
        type: 'success'
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
