<template>
  <div class="container">这是一个div</div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
$width: 200px;
$height: 200px;
$bgc-color: aquamarine;
$text-size: 20px;

.container {
  width: $width;
  height: $height;
  background-color: $bgc-color;
  font-size: $text_size;
}
</style>
