<template>
  <adaptive-container>
    <adaptive-pane>
      <el-collapse :value="['queryForm']">
        <el-collapse-item name="queryForm">
          <template slot="title">
            <span class="collapseTitleSpan">查询条件</span>
          </template>
          <el-form
            label-position="right"
            label-width="100px"
            @submit.native.prevent
          >
            <el-row>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    size="medium"
                    placeholder="请输入服务事项编号"
                    :disabled="true"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    size="medium"
                    placeholder="请输入服务事项编号"
                    :disabled="true"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    size="medium"
                    placeholder="请输入服务事项编号"
                    :disabled="true"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    size="medium"
                    placeholder="请输入服务事项编号"
                    :disabled="true"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :sm="12" :md="8" :lg="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    size="medium"
                    placeholder="请输入服务事项编号"
                    :disabled="true"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </el-form>
        </el-collapse-item>
      </el-collapse>
    </adaptive-pane>
    <el-dialog
      title="业务环节信息"
      :visible.sync="dialogVisable"
      width="80%"
      :close-on-click-modal="false"
    >
      <el-form
        label-position="right"
        label-width="100px"
        @submit.native.prevent
      >
        <el-row>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="服务事项编号">
              <el-input
                size="medium"
                placeholder="请输入服务事项编号"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="服务事项编号">
              <el-input
                size="medium"
                placeholder="请输入服务事项编号"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="服务事项编号">
              <el-input
                size="medium"
                placeholder="请输入服务事项编号"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :sm="24" :md="12" :lg="8">
            <el-form-item label="服务事项编号">
              <el-input
                size="medium"
                placeholder="请输入服务事项编号"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-dialog>
    <adaptive-pane>
      <el-row>
        <el-col>
          <btn-toolbar>
            <el-button type="primary" icon="el-icon-refresh" @click="show">
              对话框
            </el-button>
          </btn-toolbar>
        </el-col>
      </el-row>
    </adaptive-pane>
  </adaptive-container>
</template>

<script>
export default {
  data() {
    return {
      dialogVisable: false
    }
  },
  methods: {
    show() {
      this.dialogVisable = true
    }
  }
}
</script>

<style lang="scss" scoped></style>
