<template>
  <div class="button">
    <i class="el-icon-check button-icon"></i>
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'MyButton'
}
</script>

<style lang="scss" scoped>
.button {
  width: 70px;
  height: 30px;
  background-color: #1b65b9;
  color: white;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
}
.button-icon {
  margin-right: 3px;
}
</style>
