<template>
  <div>
    <my-button class="confirm-btn">确认</my-button>
  </div>
</template>

<script>
import MyButton from '@/modules/demo/css-tutorial/deep/button-component.vue'
export default {
  components: {
    MyButton
  }
}
</script>

<style lang="scss" scoped>
/deep/ .button-icon {
  color: greenyellow;
}
</style>
