<template>
  <div>
    <p v-for="(el, index) in anArray" :key="index">
      {{ el }}
    </p>
    <div>
      {{ person.firstName }}
      {{ person.lastName }}
    </div>
  </div>
</template>

<script>
import { Person } from './component-demo.class'

export default {
  props: {
    anArray: {
      type: Array,
      default: new Array()
    },
    person: {
      type: Person,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped></style>
