<template>
  <div>
    <component-demo :anArray="array" :person="john" />
  </div>
</template>

<script>
import ComponentDemo from './component-demo'
import { Person } from './component-demo.class'

export default {
  components: {
    ComponentDemo
  },
  data() {
    return {
      array: ['hello', 'world'],
      john: new Person('John', 'Harry'),
      // 这种是不行的
      alex: {
        firstName: 'Alex',
        lastName: 'Dian'
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
