<template>
  <div id="main">
    <div class="container">
      这是一个有很多字的容器
      <div class="box">这是一个盒子</div>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
#main .container {
  background-color: tomato;
  width: 200px;
  height: 100px;
  .box {
    background-color: aquamarine;
    color: darkcyan;
  }
}

a {
  color: black;
}
a b {
  background-color: #fff;
}
</style>
