<template>
  <div>
    <el-button @click="simpleSuccess">简单提示</el-button>
  </div>
</template>

<script>
export default {
  methods: {
    simpleSuccess() {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '确认删除吗？', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // 删除操作代码 - 删除成功后进行提示
        this.$notify.success({
          title: '成功',
          message: '删除成功'
        })
      })
    }
  }
}
</script>

<style lang="scss" scoped></style>
