<template>
  <div>
    <div class="container">
      这是一个div容器
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.container {
  background-color: tomato;
  width: 200px;
  height: 100px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
}
</style>
