<template>
  <div>
    <el-form label-width="120px" size="medium" :model="formData">
      <hsa-row collapseBtn>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="日期选择器" prop="date">
            <el-date-picker
              v-model="formData.date"
              type="daterange"
              align="right"
              unlink-panels
              range-separator="至"
              start-placeholder="开始日期"
              end-placeholder="结束日期"
              :picker-options="pickerOptions"
              style="width: 100%"
            >
            </el-date-picker>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="时间选择器" prop="value1">
            <el-time-picker
              is-range
              v-model="formData.value1"
              range-separator="至"
              start-placeholder="开始时间"
              end-placeholder="结束时间"
              placeholder="选择时间范围"
              style="width: 100%"
            >
            </el-time-picker>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="普通输入框" prop="text">
            <el-input
              type="text"
              placeholder="请输入内容"
              v-model="formData.text"
              maxlength="10"
            >
            </el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="数字输入框" prop="num">
            <el-input v-model.number="formData.num"></el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="放大镜查询" prop="input3">
            <el-input placeholder="请输入内容" v-model="formData.input3">
              <el-button
                slot="append"
                icon="el-icon-search"
                type="primary"
              ></el-button>
            </el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="带有单位" prop="input4">
            <el-input placeholder="请输入内容" v-model.number="formData.input4">
              <template slot="append">
                %
              </template>
            </el-input>
          </el-form-item>
        </hsa-col>
        <hsa-col :sm="24" :md="8" :lg="6">
          <el-form-item label="人民币" prop="input5">
            <el-input placeholder="请输入内容" v-model.number="formData.input5">
              <template slot="append">
                ￥
              </template>
            </el-input>
          </el-form-item>
        </hsa-col>
        <template slot="footbar">
          <el-button type="primary" size="medium">重置</el-button>
          <el-button type="primary" size="medium">查询</el-button>
        </template>
      </hsa-row>
    </el-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formData: {
        checkbox: [],
        radio: '',
        num: 0,
        text: '',
        input3: '',
        input4: 0,
        input5: 0,
        value1: [new Date(), new Date()],
        date: ''
      },
      pickerOptions: {
        shortcuts: [
          {
            text: '最近一周',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: '最近一个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
              picker.$emit('pick', [start, end])
            }
          },
          {
            text: '最近三个月',
            onClick(picker) {
              const end = new Date()
              const start = new Date()
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
              picker.$emit('pick', [start, end])
            }
          }
        ]
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
