<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item name="queryForm">
          <template slot="title">
            <span class="collapseTitleSpan">查询条件</span>
          </template>
          <el-form
            :model="queryData"
            label-position="right"
            label-width="100px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row>
              <hsa-col :span="6">
                <el-form-item label="服务事项编号">
                  <el-input
                    v-model="queryData.servItemNo"
                    placeholder="请输入服务事项编号"
                    maxlength="18"
                    :disabled="servItemNoDisabled"
                    ref="servItemNoInput"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <template slot="footbar">
                <el-button type="primary" size="medium" @click="clear">
                  重置
                </el-button>
                <el-button type="primary" size="medium" @click="queryServItem">
                  查询
                </el-button>
              </template>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane autoHeight>
      <hsa-title-pane :value="['result']">
        <hsa-title-pane-item
          name="result"
          tabEnhance
          v-model="activeTab"
          :title="titlePaneTabs"
        >
          <template slot="toolbar">
            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addItem"
              :disabled="addDisabled"
              size="medium"
              v-show="activeTab == 'bizNodeTab'"
            >
              增加
            </el-button>
            <el-button
              type="primary"
              :disabled="saveBtnDisabled"
              :loading="cascadingSaveing"
              @click="cascadingSave"
              size="medium"
            >
              级联保存
            </el-button>
          </template>
          <el-tabs v-model="activeTab">
            <el-tab-pane label="服务事项信息" name="servItemTab">
              <el-form
                :model="servItem"
                label-position="right"
                label-width="100px"
                size="medium"
              >
                <hsa-row>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="服务事项编号">
                      <el-input
                        v-model="servItem.servItemNo"
                        maxlength="18"
                        :disabled="true"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="有效标志">
                      <el-select
                        v-model="servItem.valiFlag"
                        style="width:100%"
                        :disabled="editFormDisabled"
                      >
                        <el-option label="有效" value="1"></el-option>
                        <el-option label="无效" value="0"></el-option>
                      </el-select>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="备注">
                      <el-input
                        v-model="servItem.memo"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="业务经办机构">
                      <el-input
                        v-model="servItem.bizOptins"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="经办流水号">
                      <el-input
                        v-model="servItem.bizOptSn"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="服务事项名称">
                      <el-input
                        v-model="servItem.servItemName"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="服务事项说明">
                      <el-input
                        v-model="servItem.servItemDesc"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="系统编号">
                      <el-input
                        v-model="servItem.sysNo"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="系统名称">
                      <el-input
                        v-model="servItem.sysName"
                        :disabled="editFormDisabled"
                      ></el-input>
                    </el-form-item>
                  </hsa-col>
                  <hsa-col :sm="12" :md="8" :lg="6">
                    <el-form-item label="事项发布时间">
                      <el-date-picker
                        type="date"
                        v-model="servItem.servItemRlsTime"
                        style="width: 100%;"
                        :disabled="editFormDisabled"
                        format="yyyy 年 MM 月 dd 日"
                        value-format="timestamp"
                      ></el-date-picker>
                    </el-form-item>
                  </hsa-col>
                </hsa-row>
              </el-form>
            </el-tab-pane>
            <el-tab-pane label="业务环节列表" name="bizNodeTab">
              <ncp-table
                v-if="activeTab == 'bizNodeTab'"
                :columnDefs="columnDefs"
                :data="bizNodeList"
                :enablePagination="true"
                :paginationConfig="paginationConfig"
                :useExternalPagination="true"
                @paginationConfigChange="queryBizNodeList"
                v-loading="tableLoading"
                :tableHeight="tableMaxHeight"
              ></ncp-table>
            </el-tab-pane>
          </el-tabs>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <el-dialog
      title="业务环节信息"
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
    >
      <el-form :model="bizNodeForm" label-width="120px" size="medium">
        <hsa-row>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务环节编号">
              <el-input
                v-model="bizNodeForm.bizNodeNo"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="有效标识">
              <el-select
                v-model="bizNodeForm.valiFlag"
                style="width:100%"
                :disabled="bizNodeFormDisabled"
              >
                <el-option label="有效" value="1"></el-option>
                <el-option label="无效" value="0"></el-option>
              </el-select>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="备注">
              <el-input
                v-model="bizNodeForm.memo"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务经办机构">
              <el-input
                v-model="bizNodeForm.bizOptins"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务经办流水号">
              <el-input
                v-model="bizNodeForm.bizOptSn"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务编号">
              <el-input
                v-model="bizNodeForm.bizNo"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="服务事项编号">
              <el-input
                v-model="bizNodeForm.servItemNo"
                :disabled="true"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="经办时限" prop="year">
              <el-date-picker
                v-model="bizNodeForm.optTimelmt"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="timestamp"
                :disabled="bizNodeFormDisabled"
              ></el-date-picker>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务环节名称">
              <el-input
                v-model="bizNodeForm.bizNodeName"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务环节说明">
              <el-input
                v-model="bizNodeForm.bizNodeDesc"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="环节发布时间">
              <el-date-picker
                v-model="bizNodeForm.bizNodeRlsTime"
                type="date"
                format="yyyy 年 MM 月 dd 日"
                value-format="timestamp"
                :disabled="bizNodeFormDisabled"
              ></el-date-picker>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="节点序号">
              <el-input
                v-model="bizNodeForm.nodeSn"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="业务复核等级">
              <el-input
                v-model="bizNodeForm.bizRechkLv"
                :disabled="bizNodeFormDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false" size="medium"
          >取消</el-button
        >
        <el-button
          @click="addToList"
          :disabled="!directSaveDisabled"
          type="primary"
          size="medium"
          >添加</el-button
        >
        <el-button
          type="primary"
          @click="bizNodeEditConfirm"
          :disabled="directSaveDisabled"
          :loading="directSaving"
          size="medium"
          >保存</el-button
        >
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 layoutMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import bizNodeManagementService from './biz-node-management.service'
// 声明 type 常量
const type = bizNodeManagementService.type
// 声明 resources 常量
const resources = bizNodeManagementService.resources

export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created() {
    const realColumnDefs = new Array(...bizNodeManagementService.columnDefs)
    realColumnDefs.push({
      label: '操作',
      type: 'Button',
      buttonGroup: [
        {
          type: 'primary',
          handle: row => this.upadateRow(row),
          icon: 'el-icon-edit',
          size: 'mini'
        },
        {
          type: 'danger',
          handle: row => this.deleteRow(row.bizNodeNo),
          icon: 'el-icon-delete',
          size: 'mini'
        }
      ],
      width: '100px',
      // 操作列必需右固定
      fixed: 'right'
    })
    this.columnDefs = realColumnDefs
    // $setExtraHeight为架构提供的函数，入参为计算自适应高度时需额外减去的高度，不赋值默认为0
    this.$setExtraHeight(0)
  },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted() {},
  data() {
    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      servItem: new type.ServItem(),
      servItemNoDisabled: false,
      editFormDisabled: true,
      activeTab: 'servItemTab',
      queryData: {
        servItemNo: ''
      },
      columnDefs: bizNodeManagementService.columnDefs,
      bizNodeList: [],
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      tableLoading: false,
      addDisabled: true,
      bizNodeForm: new type.BizNode(),
      editDialogVisible: false,
      bizNodeFormDisabled: false,
      saveBtnDisabled: true,
      operateType: 'add',
      directSaveDisabled: false,
      cascadingSaveing: false,
      directSaving: false,
      titlePaneTabs: [
        {
          name: 'servItemTab',
          label: '服务事项信息'
        },
        {
          name: 'bizNodeTab',
          label: '业务环节列表'
        }
      ]
    }
  },
  methods: {
    // 异步调用，一律采用 async/await 语法
    async queryServItem() {
      try {
        const resItem = await resources.servItem.get(this.queryData.servItemNo)
        if (!resItem || !resItem.servItemNo) {
          // 需要用户点击确认的消息提示框，一律采用 element 的 MessageBox 弹框
          this.$confirm(
            '没有服务事项编号为：' +
              this.queryData.servItemNo +
              ' 的服务事项信息' +
              '是否创建新的服务事项?',
            '提示',
            {
              confirmButtonText: '是',
              cancelButtonText: '否',
              type: 'info'
            }
          ).then(() => {
            this.editFormDisabled = false
            this.addDisabled = false
            this.saveBtnDisabled = false
            this.directSaveDisabled = true
            this.servItem.servItemNo = this.queryData.servItemNo
            this.servItemNoDisabled = true
            this.columnDefs.pop()
            this.columnDefs.push({
              label: '操作',
              type: 'Button',
              buttonGroup: [
                {
                  type: 'danger',
                  handle: row => this.deleteRowInList(row),
                  icon: 'el-icon-delete',
                  size: 'mini'
                }
              ],
              width: '100px',
              left: 'right'
            })
          })
        } else {
          this.servItem = resItem
          this.servItemNoDisabled = true
          this.queryBizNodeList()
        }
      } catch (err) {
        this.$notify({
          title: '失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      }
    },
    async queryBizNodeList() {
      try {
        this.activeTab = 'bizNodeTab'
        // 通过后台获取数据时，必需采用 element 的 Loading 加载
        this.tableLoading = true
        const res = await resources.bizNode.getByPage(
          this.servItem,
          this.paginationConfig
        )
        this.bizNodeList = res.result
        this.paginationConfig.pageSize = res.pageSize
        this.paginationConfig.pageNumber = res.pageNumber
        this.paginationConfig.total = res.total
        this.addDisabled = false
      } finally {
        // Loading 加载 一律在 finally 中关闭
        this.tableLoading = false
      }
    },
    clear() {
      this.cascadingSaveing = false
      this.directSaving = false
      this.servItem = new type.ServItem()
      this.servItemNoDisabled = false
      this.editFormDisabled = true
      this.activeTab = 'servItemTab'
      this.queryData.servItemNo = ''
      this.bizNodeList = []
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.tableLoading = false
      this.addDisabled = true
      this.editDialogVisible = false
      this.bizNodeFormDisabled = false
      this.bizNodeForm = new type.BizNode()
      this.saveBtnDisabled = true
      this.directSaveDisabled = false
      this.columnDefs.pop()
      this.columnDefs.push({
        label: '操作',
        type: 'Button',
        buttonGroup: [
          {
            type: 'primary',
            handle: row => this.upadateRow(row),
            icon: 'el-icon-edit',
            size: 'mini'
          },
          {
            type: 'danger',
            handle: row => this.deleteRow(row.bizNodeNo),
            icon: 'el-icon-delete',
            size: 'mini'
          }
        ],
        width: '100px',
        fixed: 'right'
      })
    },
    addItem() {
      this.bizNodeForm = new type.BizNode()
      this.bizNodeForm.servItemNo = this.servItem.servItemNo
      this.operateType = 'add'
      this.editDialogVisible = true
    },
    async bizNodeEditConfirm() {
      this.directSaving = true
      if (this.operateType === 'update') {
        try {
          await resources.bizNode.put(this.bizNodeForm)
          // 不需要用户做出判断的，单纯的消息提示，一律使用 element 的 Notification 通知
          this.$notify({
            title: '成功',
            message: '修改成功',
            type: 'success',
            showClose: false
          })
          const index = this.bizNodeList.findIndex(bizNode => {
            return bizNode.bizNodeNo === this.bizNodeForm.bizNodeNo
          })
          // 对于绑定到页面元素中的数组变量，如果要操作数组中的数据
          // 一律采用 Array.prototype.splice() 方法
          this.bizNodeList.splice(index, 1, Object.assign({}, this.bizNodeForm))
          this.editDialogVisible = false
        } catch (err) {
          this.$notify({
            title: '失败',
            message: err.message,
            type: 'warning',
            showClose: false
          })
        } finally {
          this.directSaving = false
        }
      } else {
        try {
          const bizNodeNo = await resources.bizNode.post(this.bizNodeForm)
          this.$notify({
            title: '成功',
            message: '新增成功',
            type: 'success',
            showClose: false
          })
          this.bizNodeForm.bizNodeNo = bizNodeNo
          this.bizNodeList.push(this.bizNodeForm)
          this.paginationConfig.total++
          this.editDialogVisible = false
        } catch (err) {
          this.$notify({
            title: '失败',
            message: err.message,
            type: 'warning',
            showClose: false
          })
        } finally {
          this.directSaving = false
        }
      }
    },
    async deleteRow(bizNodeNo) {
      try {
        await resources.bizNode.delete(bizNodeNo)
        this.$notify({
          title: '成功',
          message: '删除成功',
          type: 'success',
          showClose: false
        })
        this.bizNodeList = this.bizNodeList.filter(
          info => info.bizNodeNo !== bizNodeNo
        )
        this.paginationConfig.total--
      } catch (err) {
        this.$notify({
          title: '失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      }
    },
    deleteRowInList(row) {
      this.bizNodeList = this.bizNodeList.filter(info => info !== row)
      this.paginationConfig.total--
    },
    upadateRow(row) {
      this.bizNodeForm = row
      this.operateType = 'update'
      this.editDialogVisible = true
    },
    async cascadingSave() {
      try {
        this.cascadingSaveing = true
        const bizNodeListRes = await resources.bizNode.saveCascade(
          this.servItem,
          this.bizNodeList
        )
        this.$notify({
          title: '成功',
          message: '级联保存成功！',
          type: 'success',
          showClose: false
        })
        this.addDisabled = true
        this.saveBtnDisabled = true
        this.bizNodeList = bizNodeListRes
        this.servItemNoDisabled = true
        this.editFormDisabled = true
      } catch (err) {
        this.$notify({
          title: '失败',
          message: err.message,
          type: 'warning',
          showClose: false
        })
      } finally {
        this.cascadingSaveing = false
      }
    },
    addToList() {
      this.bizNodeList.push(this.bizNodeForm)
      this.paginationConfig.total++
      this.editDialogVisible = false
    }
  }
}
</script>

<style lang="scss" scoped></style>
