<template>
  <div>
    <font-awesome-icon class="btn-icon" icon="save" />
    <font-awesome-icon class="btn-icon" icon="user" />
    <font-awesome-icon class="btn-icon" icon="print" />
    <font-awesome-icon class="btn-icon" icon="yen-sign" />
    <font-awesome-icon icon="plus-square" style="color:blue" size="5x" />
    <font-awesome-icon icon="minus-square" style="color:blue" size="5x" />
    <font-awesome-icon :icon="['far', 'window-maximize']" size="2x" />
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
