<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
            :model="ruleCheckResultFormQuery"
            label-position="right"
            label-width="120px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row collapseBtn>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="校验流水">
                  <el-input
                    v-model="ruleCheckResultFormQuery.chkWater"
                    placeholder="请输入校验流水"
                    maxlength="40"
                    :disabled="ruleCheckResultFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="规则编号">
                  <el-input
                    v-model="ruleCheckResultFormQuery.ruleNo"
                    placeholder="请输入规则编号"
                    maxlength="40"
                    :disabled="ruleCheckResultFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="项目编号">
                  <el-input
                    v-model="ruleCheckResultFormQuery.itemcode"
                    placeholder="请输入项目编号"
                    maxlength="40"
                    :disabled="ruleCheckResultFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="校验批次">
                  <el-input
                    v-model="ruleCheckResultFormQuery.chkBtch"
                    placeholder="请输入校验批次"
                    maxlength="11"
                    :disabled="ruleCheckResultFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <el-form-item style="float: right">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryRuleCheckResult">查询</el-button>
              </el-form-item>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <el-dialog
      :title="dititle"
      :visible.sync="dialogTableVisible"
      @open="openedopt"
      :fullscreen="true"
      :append-to-body="true"
    >
      <Rulecheckresultdetailed v-bind:message="detailedData" ref="rulecheckresultchild"></Rulecheckresultdetailed>
    </el-dialog>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button type="primary" size="medium" @click="tableFrontExport('currentPage')">导出当页</el-button>
            <el-button type="primary" size="medium" @click="tableFrontExport('all')">导出全部</el-button>
          </template>

          <ncp-table
            :columnDefs="ruleCheckResultTabColDefs"
            :data="ruleCheckResultList"
            :enableExport="true"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="false"
            @paginationConfigChange="queryRuleCheckResult"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
            :exportConfig="exportConfig"
            @exportFail="exportFail"
            ref="elTable"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './rule-check-result-mngr.service'
import RuleCheckResultClass from '@/modules/datacheck/rulecheckresult/class/rule-check-result-mngr.class'
import RuleCheckResultQueryClass from '@/modules/datacheck/rulecheckresult/class/rule-check-result-mngr-query.class'
import Rulecheckresultdetailed from '@/modules/datacheck/rulecheckresultdetailed/rule-check-result/rule-check-result-mngr'
export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    this.queryRuleCheckResult();
  },
  components: { Rulecheckresultdetailed },
  computed: {},
  methods: {
    clear () {
      this.ruleCheckResultFormQuery = new RuleCheckResultQueryClass()
      this.ruleCheckResultFormEdit = new RuleCheckResultClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.ruleCheckResultList = []
      this.dititle = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.ruleCheckResultFormDisabled = false
      this.ruleCheckResultFormEditDisabled = false
    },
    exportFail (err) {
      this.$message.warning('导出失败！' + err.message)
    },
    // 前端导出方法调用
    tableFrontExport (arg) {
      this.$refs.elTable.exportData(arg)
    },
    // 异步调用，一律采用 async/await 语法
    async queryRuleCheckResult () {
      try {
        this.tableLoading = true;
        const ruleCheckResultResult = await Service.resources.getByPage(this.ruleCheckResultFormQuery, this.paginationConfig)
        if (ruleCheckResultResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.ruleCheckResultList = []
        } else {
          this.ruleCheckResultList = ruleCheckResultResult.result
          this.paginationConfig.pageNumber = ruleCheckResultResult.pageNumber
          this.paginationConfig.pageSize = ruleCheckResultResult.pageSize
          this.paginationConfig.total = ruleCheckResultResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async addRuleCheckResult () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.ruleCheckResultFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryRuleCheckResult()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateRuleCheckResult () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.ruleCheckResultFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryRuleCheckResult()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async deleteRuleCheckResult (id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryRuleCheckResult()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    resetRuleCheckResultEditForm () {
      this.$refs.ruleCheckResultEditForm.resetFields();
    },
    ruleCheckResultEditCancel () {
      this.resetRuleCheckResultEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.ruleCheckResultFormEdit = new RuleCheckResultClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showDetailedData (row) {
      this.$refs.tableData = []
      this.dititle = row.chkWater + "异常数据明细"
      this.detailedData = row
      this.dialogTableVisible = true
    },

    openedopt () {
      this.$nextTick(() => {
        this.$refs.rulecheckresultchild.queryRuleCheck();
      });

    },
    ruleCheckResultEditConfirm () {
      this.$refs.ruleCheckResultEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateRuleCheckResult();
          } else {
            this.addRuleCheckResult();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteRuleCheckResult(row.chkWater)
      })
    }
  },
  data () {
    const ruleCheckResultColDefs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '校验流水', prop: 'chkWater', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '规则编号', prop: 'ruleNo', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '校验条件', prop: 'chkSqlCond', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '项目编号', prop: 'itemcode', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '总数据量', prop: 'totlDataAmt', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '异常数据量', prop: 'abnDataAmt', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '当前处理人', prop: 'crtProcer', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '当前处理意见', prop: 'crtOpnn', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '校验批次', prop: 'chkBtch', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '唯一记录号', prop: 'rid', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '备注', prop: 'dscr', width: '120px' },
      {        label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-view', size: 'mini', handle: row => this.showDetailedData(row) }],
        width: '150px', fixed: 'right'
      }
    ]
    const ruleCheckResultRules = {
      ruleNo: [{ required: true, message: '请填写规则编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      itemcode: [{ required: true, message: '请填写项目编号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      totlDataAmt: [{ required: true, message: '请填写总数据量', trigger: 'blur' },
      ],
      abnDataAmt: [{ required: true, message: '请填写异常数据量', trigger: 'blur' },
      ],
      crtProcer: [{ required: true, message: '请填写当前处理人', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      crtOpnn: [{ required: true, message: '请填写当前处理意见', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
      chkBtch: [{ required: true, message: '请填写校验批次', trigger: 'blur' },
      { max: 11, message: '长度不能超过 11 个字符', trigger: 'blur' }
      ],
      crteTime: [{ required: true, type: 'date', message: '请选择创建时间', trigger: 'change' }],
      modiTime: [{ required: true, type: 'date', message: '请选择修改时间', trigger: 'change' }],
      crteUser: [{ required: true, message: '请填写创建用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      modiUser: [{ required: true, message: '请填写修改用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      rid: [{ required: true, message: '请填写唯一记录号', trigger: 'blur' },
      { max: 40, message: '长度不能超过 40 个字符', trigger: 'blur' }
      ],
      dscr: [{ required: true, message: '请填写备注', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      exportConfig: {
        fileTitle: '校验结果',
        // 只显示 "导出选中" 和 "导出当前页"
        layout: ['all', 'currentPage']
      },
      ruleCheckResultTabColDefs: ruleCheckResultColDefs,
      ruleCheckResultList: [],
      detailedData: [],
      dititle: [],
      dialogTableVisible: false,
      tableLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      editDialogVisible: false,
      ruleCheckResultFormDisabled: false,
      ruleCheckResultFormEditDisabled: false,
      ruleCheckResultFormQuery: new RuleCheckResultQueryClass(),
      ruleCheckResultFormEdit: new RuleCheckResultClass(),
      ruleCheckResultEditFormRules: ruleCheckResultRules
    }
  },
}
</script>

<style lang="scss" scoped></style>