<template>
  <div class="search-bar content">
    <div class="search">
      <input
        type="text"
        class="search__input"
        aria-label="search"
        placeholder="enter your search"
      />
      <button class="search__submit" aria-label="submit search">
        <i class="el-icon-search"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
$--clr-primary: #ee6352;
$--clr-body: #333;
$--clr-bg: #ddd;
$--size: 60px;

*,
*::before,
*::after {
  box-sizing: border-box;
}
.content {
  background: white;
  width: 70vw;
  padding: 3em;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  position: relative;
}
.search {
  border: 2px solid $--clr-primary;
  display: flex;
  border-radius: 100px;
  overflow: hidden;
  font-size: 1.25em;
  position: relative;
  width: $--size;
  height: $--size;
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  padding: 3px;
}
.search__input {
  border: 0;
  padding: 0.25em 1em;
  flex-grow: 1;
  outline: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  opacity: 0;
  cursor: pointer;
}
.search__submit {
  font-size: 1.5rem;
  margin-left: auto;
  background: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  transition: background 200ms ease-out;
  width: calc(#{$--size} - 10px);
  height: calc(#{$--size} - 10px);
  color: $--clr-body;
}
.search:focus-within {
  width: 100%;

  .search__input {
    opacity: 1;
    z-index: initial;
    cursor: initial;
    width: calc(100% - #{$--size});
  }

  .search__submit {
    background: $--clr-primary;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      outline: 0;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
    }
  }
}
</style>
