<template>
  <el-main>
    <el-card class="hsa-card">
      <div slot="header" class="clearfix">
        <span class="el-icon-menu hsa-card-header">校验示例</span>
      </div>
      <el-form
        :model="personInfo"
        ref="personInfo"
        :rules="rule"
        label-width="auto"
      >
        <el-row type="flex">
          <el-col :span="8">
            <el-form-item label="身份证号码" prop="idNumber">
              <el-input
                v-model="personInfo.idNumber"
                placeholder="请输入身份证号码"
                maxlength="18"
                @change="idNumberChange"
                ref="idNumber"
              >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="姓名" prop="name">
              <el-input v-model="personInfo.name"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row type="flex">
          <el-col :span="8">
            <el-form-item label="手机号码" prop="tel">
              <el-input
                v-model="personInfo.tel"
                placeholder="请输入手机号码"
                type="number"
              >
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="年度" prop="year">
              <el-date-picker
                type="year"
                placeholder="选择年度"
                v-model="personInfo.year"
                value-format="yyyy"
              >
              </el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </el-card>
  </el-main>
</template>

<script>
import { validator, pipe } from '@ncp-web/util'
import { withinYear } from './validator'
export default {
  computed: {},
  data: function() {
    return {
      personInfo: {
        idNumber: '',
        name: '',
        tel: '',
        year: '',
        sex: '',
        birth: ''
      },
      //表单校验规则
      rule: {
        idNumber: [
          { required: true, message: '请输入身份证号码', trigger: 'blur' },
          { validator: validator.idNo, trigger: 'blur' }
        ],
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        tel: [
          { required: true, message: '请输入手机号码', trigger: 'blur' },
          { validator: validator.mobileNo, trigger: 'blur' }
        ],
        year: [
          { required: true, message: '请选择年度', trigger: 'blur' },
          {
            validator: withinYear(),
            message: '选择年度不能大于当前年度',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    //输入身份证号码自动获取性别、生日
    idNumberChange() {
      this.personInfo.sex = pipe.gender(this.personInfo.idNumber)
      this.personInfo.birth = pipe.birth(this.personInfo.idNumber)
    }
  }
}
</script>
