<template>
  <hsa-adaptive-container>
    <hsa-adaptive-pane>
      <hsa-title-pane :value="['queryForm']">
        <hsa-title-pane-item title="查询条件" name="queryForm">
          <el-form
            :model="projectInfoBFormQuery"
            label-position="right"
            label-width="120px"
            size="medium"
            @submit.native.prevent
          >
            <hsa-row collapseBtn>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="项目编号">
                  <el-input
                    v-model="projectInfoBFormQuery.itemcode"
                    placeholder="请输入项目编号"
                    maxlength="40"
                    :disabled="projectInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>
              <hsa-col :sm="12" :md="8" :lg="6">
                <el-form-item label="项目名称">
                  <el-input
                    v-model="projectInfoBFormQuery.itemname"
                    placeholder="请输入项目名称"
                    maxlength="100"
                    :disabled="projectInfoBFormDisabled"
                  ></el-input>
                </el-form-item>
              </hsa-col>

              <!-- 通过 slot="footbar" 在查询区末尾添加查询操作按钮，按钮规定使用 medium 大小 -->
              <el-form-item style="float: right">
                <el-button size="medium" @click="clear">重置</el-button>
                <el-button type="primary" size="medium" @click="queryProjectInfoB">查询</el-button>
              </el-form-item>
            </hsa-row>
          </el-form>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>
    <hsa-adaptive-pane :autoHeight="true">
      <hsa-title-pane :value="['queryResult']">
        <hsa-title-pane-item title="查询结果" name="queryResult">
          <!-- 通过 slot="toolbar" 在查询结果区顶部添加操作按钮 -->
          <template slot="toolbar">
            <el-button size="medium" type="success" @click="showAddDialog">增加</el-button>
          </template>

          <ncp-table
            :columnDefs="projectInfoBTabColDefs"
            :data="projectInfoBList"
            :enablePagination="true"
            :paginationConfig="paginationConfig"
            :useExternalPagination="true"
            @paginationConfigChange="queryProjectInfoB"
            v-loading="tableLoading"
            :tableHeight="tableMaxHeight"
          ></ncp-table>
        </hsa-title-pane-item>
      </hsa-title-pane>
    </hsa-adaptive-pane>

    <el-dialog
      title="项目信息表"
      :visible.sync="editDialogVisible"
      width="80%"
      :close-on-click-modal="false"
      class="hsa-dialog"
    >
      <el-form
        :model="projectInfoBFormEdit"
        label-position="right"
        label-width="120px"
        size="medium"
        :rules="projectInfoBEditFormRules"
        ref="projectInfoBEditForm"
        @submit.native.prevent
      >
        <hsa-row>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="项目编号" prop="itemcode">
              <el-input
                v-model="projectInfoBFormEdit.itemcode"
                placeholder="请输入项目编号"
                maxlength="40"
                :disabled="projectInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="项目名称" prop="itemname">
              <el-input
                v-model="projectInfoBFormEdit.itemname"
                placeholder="请输入项目名称"
                maxlength="100"
                :disabled="projectInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>

          <hsa-col :sm="24" :md="12" :lg="8">
            <el-form-item label="描述" prop="dscr">
              <el-input
                v-model="projectInfoBFormEdit.dscr"
                placeholder="请输入描述"
                maxlength="65535"
                :disabled="projectInfoBFormEditDisabled"
              ></el-input>
            </el-form-item>
          </hsa-col>
        </hsa-row>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="projectInfoBEditCancel" size="medium">取 消</el-button>
        <el-button
          type="primary"
          @click="projectInfoBEditConfirm"
          size="medium"
          :loading="buttonLoading"
          :disabled="buttonLoading"
        >保 存</el-button>
      </div>
    </el-dialog>
  </hsa-adaptive-container>
</template>

<script>
// 如果采用架构提供的自适应布局框架，则必需引入 coreMixin
import layoutMixin from '@ncp-web/hsa-ui/lib/mixins/adaptive-layout-mixin'
import { tableDataFilter } from '@/common/filters/index'
// 导入对应的 service，service 命名采用小驼峰，同文件名保持一直
import Service from './project-info-b-mngr.service'
import ProjectInfoBClass from '@/modules/datacheck/projectmanage/class/project-info-b-mngr.class'
import ProjectInfoBQueryClass from '@/modules/datacheck/projectmanage/class/project-info-b-mngr-query.class'
export default {
  // 如果采用架构提供的自适应布局框架，则必需 mixin coreMixin
  mixins: [layoutMixin],
  // 初始化页面数据在 created 生命周期钩子中进行
  created () { },
  // 通过 $refs 对页面进行初始化的操作一律在 mounted 生命周期钩子中进行
  mounted () {
    this.queryProjectInfoB();
  },
  computed: {},
  methods: {
    clear () {
      this.projectInfoBFormQuery = new ProjectInfoBQueryClass()
      this.projectInfoBFormEdit = new ProjectInfoBClass()
      this.paginationConfig = {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      }
      this.projectInfoBList = []
      this.tableLoading = false
      this.editDialogVisible = false
      this.dialogLoading = false
      this.projectInfoBFormDisabled = false
      this.projectInfoBFormEditDisabled = false
    },
    // 异步调用，一律采用 async/await 语法
    async queryProjectInfoB () {
      try {
        this.tableLoading = true;
        const projectInfoBResult = await Service.resources.getByPage(this.projectInfoBFormQuery, this.paginationConfig)
        if (projectInfoBResult.result.length == '0') {
          this.$message.info("没有查询到数据！")
          this.projectInfoBList = []
        } else {
          this.projectInfoBList = projectInfoBResult.result
          this.paginationConfig.pageNumber = projectInfoBResult.pageNumber
          this.paginationConfig.pageSize = projectInfoBResult.pageSize
          this.paginationConfig.total = projectInfoBResult.total
        }
      } catch (err) {
        let errStr = err.message;
        this.$message.error("查询失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }

    },
    async addProjectInfoB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.post(this.projectInfoBFormEdit)
        this.$message.info("新增成功！")
        this.editDialogVisible = false
        this.queryProjectInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("新增失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async updateProjectInfoB () {
      try {
        this.dialogLoading = true
        this.buttonLoading = true
        await Service.resources.put(this.projectInfoBFormEdit)
        this.$message.info("更新成功！")
        this.editDialogVisible = false
        this.queryProjectInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("更新失败！" + errStr)
      } finally {
        this.dialogLoading = false
        this.buttonLoading = false
      }
    },
    async deleteProjectInfoB (id) {
      try {
        this.tableLoading = true;
        await Service.resources.delete(id)
        this.$message.info("删除成功！")
        this.queryProjectInfoB()
      } catch (err) {
        let errStr = err.message;
        this.$message.error("删除失败！" + errStr)
      } finally {
        this.tableLoading = false;
      }
    },
    resetProjectInfoBEditForm () {
      this.$refs.projectInfoBEditForm.resetFields();
    },
    projectInfoBEditCancel () {
      this.resetProjectInfoBEditForm()
      this.editDialogVisible = false
    },
    showAddDialog () {
      this.projectInfoBFormEdit = new ProjectInfoBClass()
      this.operateType = 'add'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.clscaseApprDEditForm.clearValidate()
      })
    },
    showEditDialog (row) {
      this.projectInfoBFormEdit = Object.assign({}, row)
      this.operateType = 'update'
      this.editDialogVisible = true
      this.$nextTick(() => {
        this.$refs.projectInfoBEditForm.clearValidate()
      })
    },
    projectInfoBEditConfirm () {
      this.$refs.projectInfoBEditForm.validate((valid) => {
        if (valid) {
          if (this.operateType === 'update') {
            this.updateProjectInfoB();
          } else {
            this.addProjectInfoB();
          }
        } else {
          return false;
        }
      });
    },
    deleteRow (row) {
      this.$confirm(
        '是否刪除?', {
        confirmButtonText: '是',
        cancelButtonText: '否',
        type: 'info'
      }
      ).then(() => {
        this.deleteProjectInfoB(row.itemcode)
      })
    }
  },
  data () {
    const projectInfoBColDefs = [
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '项目编号', prop: 'itemcode', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '项目名称', prop: 'itemname', width: '120px' },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '创建时间', prop: 'crteTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      {        align: 'center', showOverflowTooltip: true, headerAlign: 'center', label: '修改时间', prop: 'modiTime',
        filters: [{ filter: tableDataFilter, params: ['yyyy年mm月dd日'] }], width: '120px'      },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '创建用户', prop: 'crteUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '修改用户', prop: 'modiUser', width: '120px' },
      { align: 'left', showOverflowTooltip: true, headerAlign: 'center', label: '描述', prop: 'dscr', width: '120px' },
      {        label: '操作', type: 'Button',
        buttonGroup: [
          { type: 'primary', icon: 'el-icon-edit', size: 'mini', handle: row => this.showEditDialog(row) },
          { type: 'danger', icon: 'el-icon-delete', size: 'mini', handle: row => this.deleteRow(row) }],
        width: '150px', fixed: 'right'
      }
    ]
    const projectInfoBRules = {
      itemname: [{ required: true, message: '请填写项目名称', trigger: 'blur' },
      { max: 100, message: '长度不能超过 100 个字符', trigger: 'blur' }
      ],
      crteTime: [{ required: true, type: 'date', message: '请选择创建时间', trigger: 'change' }],
      modiTime: [{ required: true, type: 'date', message: '请选择修改时间', trigger: 'change' }],
      crteUser: [{ required: true, message: '请填写创建用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      modiUser: [{ required: true, message: '请填写修改用户', trigger: 'blur' },
      { max: 20, message: '长度不能超过 20 个字符', trigger: 'blur' }
      ],
      dscr: [{ required: false, message: '请填写描述', trigger: 'blur' },
      { max: 65535, message: '长度不能超过 65535 个字符', trigger: 'blur' }
      ],
    }

    // 所有的属性定义在 return 中
    return {
      // 所有的属性名都用小驼峰命名法
      // data 中声明的所有变量都要在页面的清屏方法中重置，并同声明时保持一致
      // 个别特殊属性可以不在清屏方法中处理
      paginationConfig: {
        pageSize: 10,
        pageNumber: 1,
        total: 0
      },
      projectInfoBTabColDefs: projectInfoBColDefs,
      projectInfoBList: [],
      tableLoading: false,
      dialogLoading: false,
      buttonLoading: false,
      editDialogVisible: false,
      projectInfoBFormDisabled: false,
      projectInfoBFormEditDisabled: false,
      projectInfoBFormQuery: new ProjectInfoBQueryClass(),
      projectInfoBFormEdit: new ProjectInfoBClass(),
      projectInfoBEditFormRules: projectInfoBRules
    }
  },
}
</script>

<style lang="scss" scoped></style>