<template>
  <adaptive-container class="shortcut-menu">
    <div class="menu-container">
      <el-row type="flex" justify="space-around">
        <el-col :span="10">
          <div class="menu-list menu-list1">
            <iframe
              :src="'https://www.baidu.com/'"
              style="height: 100%;width:100%;"
              frameborder="no"
              border="0"
              marginwidth="0"
              marginheight="0"
            ></iframe>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="menu-list menu-list2">模块2</div>
        </el-col>
        <el-col :span="6">
          <div class="menu-list menu-list3">模块3</div>
        </el-col>
      </el-row>
      <el-row type="flex" justify="space-around">
        <el-col :span="14">
          <div class="menu-list menu-list4">模块4</div>
        </el-col>
        <el-col :span="10">
          <div class="menu-list menu-list5">模块5</div>
        </el-col>
      </el-row>
    </div>
  </adaptive-container>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
.shortcut-menu .menu-container {
  box-sizing: border-box;
  margin-left: 50px;
  margin-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.shortcut-menu,
.menu-container {
  height: 100%;
}
.el-row {
  box-sizing: border-box;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
  height: 48%;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-row .menu-list {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  background-color: rgba(219, 235, 235, 0.726);
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  &.menu-list1 {
    margin-left: 10px;
  }
  &.menu-list4 {
    margin-left: 10px;
  }
  &.menu-list3 {
    margin-right: 10px;
  }
  &.menu-list5 {
    margin-right: 10px;
  }
}
</style>
