<template>
  <div>
    <el-button size="medium">关闭</el-button>
    <el-button type="primary" size="medium">保存</el-button>
    <el-button type="primary" size="medium">确认报销</el-button>
    <el-button type="primary" size="medium">打印</el-button>
    <el-button type="primary" size="medium">打印预览</el-button>
    <el-button type="success" size="medium">上传</el-button>
    <el-button type="primary" size="medium">下载</el-button>
    <el-button type="primary" size="medium">预览</el-button>
    <el-button type="danger" size="medium">删除</el-button>
    <el-button type="success" size="medium">新增</el-button>
    <el-button type="warning" size="medium">修改</el-button>
    <el-button type="primary" size="medium">查询</el-button>
    <el-button type="primary" size="medium">清屏</el-button>
    <el-button type="primary" size="medium">上一步</el-button>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped></style>
