<template>
  <div :style="[baseStyles, overridingstyles]">
    这是一个容器
  </div>
</template>

<script>
export default {
  data() {
    return {
      baseStyles: {
        color: '#ffffff',
        backgroundColor: 'blue',
        width: '200px',
        'font-size': '20px'
      },
      overridingstyles: {
        'text-align': 'center',
        height: '100px',
        lineHeight: '100px'
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
