<template>
  <div
    :style="{
      color: textColor,
      backgroundColor: bgColor,
      width: divWidth + 'px',
      'font-size': '20px'
    }"
  >
    这是一个容器
  </div>
</template>

<script>
export default {
  data() {
    return {
      textColor: '#ffffff',
      bgColor: 'green',
      divWidth: 200
    }
  }
}
</script>

<style lang="scss" scoped></style>
