<template>
  <div :style="styleObject">
    这是一个容器
  </div>
</template>

<script>
export default {
  data() {
    return {
      styleObject: {
        color: '#ffffff',
        backgroundColor: 'blue',
        width: '200px',
        'font-size': '20px'
      }
    }
  }
}
</script>

<style lang="scss" scoped></style>
